<?xml version="1.0" encoding="UTF-8"?>
<persistence version="1.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd">
	<persistence-unit name="OrderFulfillment.Domain">
		<provider>org.hibernate.ejb.HibernatePersistence</provider>

		<mapping-file>jbpm.execution.hbm.xml</mapping-file>
		<mapping-file>jbpm.history.hbm.xml</mapping-file>
		<mapping-file>jbpm.repository.hbm.xml</mapping-file>
		<mapping-file>jbpm.task.hbm.xml</mapping-file>

		<class>com.servicelive.orderfulfillment.domain.ServiceOrder</class>
		<class>com.servicelive.orderfulfillment.domain.SOTask</class>
		<class>com.servicelive.orderfulfillment.domain.SODocument</class>
		<class>com.servicelive.orderfulfillment.domain.SONote</class>
		<class>com.servicelive.orderfulfillment.domain.RoutedProvider</class>
		<class>com.servicelive.orderfulfillment.domain.GroupRoutedProvider</class>
		<class>com.servicelive.orderfulfillment.domain.SOPart</class>
		<class>com.servicelive.orderfulfillment.domain.SOContact</class>
		<class>com.servicelive.orderfulfillment.domain.SOContactLocation</class>
		<class>com.servicelive.orderfulfillment.domain.SOLogging</class>
		<class>com.servicelive.orderfulfillment.domain.SOLocation</class>
		<class>com.servicelive.orderfulfillment.domain.SOPhone</class>
		<class>com.servicelive.orderfulfillment.domain.SOTaskHistory</class>
		<class>com.servicelive.orderfulfillment.domain.SOPrice</class>
		<class>com.servicelive.orderfulfillment.domain.SOWorkflowControls</class>
		<class>com.servicelive.orderfulfillment.domain.SOCustomReference</class>
		<class>com.servicelive.orderfulfillment.domain.SOEvent</class>
		<class>com.servicelive.orderfulfillment.domain.SOAddon</class>
        <class>com.servicelive.orderfulfillment.domain.SOCounterOfferReason</class>
        <class>com.servicelive.orderfulfillment.domain.SOOnSiteVisit</class>
		<class>com.servicelive.orderfulfillment.domain.Template</class>
        <class>com.servicelive.orderfulfillment.domain.ServiceOrderProcess</class>
        <class>com.servicelive.orderfulfillment.domain.SOGroup</class>
        <class>com.servicelive.orderfulfillment.domain.SOGroupPrice</class>
        <class>com.servicelive.orderfulfillment.domain.SOAdditionalPayment</class>
        <class>com.servicelive.orderfulfillment.domain.SOManageScope</class>
        <class>com.servicelive.orderfulfillment.domain.SOCancellation</class>
        <class>com.servicelive.domain.so.BuyerOrderTemplateRecord</class>
        <class>com.servicelive.domain.so.BuyerOrderSkuCategory</class>
        <class>com.servicelive.domain.so.BuyerOrderSku</class>
        <class>com.servicelive.domain.so.BuyerOrderSkuAttribute</class>
        <class>com.servicelive.domain.so.BuyerOrderSkuTask</class>
        <class>com.servicelive.domain.so.BuyerOrderMarketAdjustment</class>
        <class>com.servicelive.domain.so.BuyerOrderRetailPrice</class>
        <class>com.servicelive.domain.so.BuyerOrderTemplateRecord</class>
        <class>com.servicelive.domain.so.BuyerOrderSpecialtyAddOn</class>
        <class>com.servicelive.domain.so.BuyerSkuAddon</class>
		<class>com.servicelive.domain.so.BuyerSkuGroups</class>
        <class>com.servicelive.domain.lookup.LookupServiceType</class>
        <class>com.servicelive.domain.lookup.LookupSkills</class>
        <class>com.servicelive.domain.lookup.LookupZipMarketPair</class>
        <class>com.servicelive.domain.so.SORoutingRuleAssoc</class>
        <class>com.servicelive.domain.autoclose.AutoCloseRuleProviderAssoc</class>
        <class>com.servicelive.domain.autoclose.AutoCloseRuleFirmAssoc</class>
        <class>com.servicelive.domain.autoclose.AutoCloseRuleCriteria</class>
        <class>com.servicelive.domain.autoclose.SoAutoCloseAction</class>
        <class>com.servicelive.domain.autoclose.SoAutoCloseRuleStatus</class>
        <class>com.servicelive.domain.pendingcancel.PendingCancelHistory</class>
        <class>com.servicelive.domain.provider.ServiceProvider</class>
		<class>com.servicelive.domain.provider.ProviderFirm</class>
		<class>com.servicelive.domain.common.Contact</class>
		<class>com.servicelive.domain.common.Location</class>
		<class>com.servicelive.domain.lookup.LookupWfStates</class>
		<class>com.servicelive.domain.lookup.LookupStates</class>
		<class>com.servicelive.domain.lookup.LookupLocationTypes</class>
		<class>com.servicelive.domain.spn.network.SPNHeader</class>
		<class>com.servicelive.domain.spn.network.SPNExclusionsVO</class>
		<class>com.servicelive.domain.spn.network.SPNApprovalCriteria</class>
		<class>com.servicelive.domain.spn.network.SPNDocument</class>
		<class>com.servicelive.domain.spn.network.SPNBuyer</class>
		<class>com.servicelive.domain.spn.network.SPNTierMinutes</class>
		<class>com.servicelive.domain.spn.network.SPNTierPerformanceLevel</class>
		<class>com.servicelive.domain.lookup.LookupReleaseTier</class>
		<class>com.servicelive.domain.lookup.LookupPerformanceLevel</class>
		<class>com.servicelive.domain.lookup.LookupSPNApprovalCriteria</class>
		<class>com.servicelive.domain.lookup.LookupSPNDocumentType</class>
		<class>com.servicelive.domain.spn.network.SPNProviderFirmDocument</class>
		<class>com.servicelive.domain.common.Document</class>
		<class>com.servicelive.domain.buyer.Buyer</class>
		<class>com.servicelive.domain.lookup.LookupCompanySize</class>
		<class>com.servicelive.domain.lookup.LookupBusinessType</class>
		<class>com.servicelive.domain.lookup.LookupFundingType</class>
		<class>com.servicelive.domain.lookup.LookupSalesVolume</class>
		<class>com.servicelive.domain.buyer.BuyerFeatureSet</class>
		<class>com.servicelive.domain.userprofile.User</class>
		<class>com.servicelive.domain.lookup.LookupUserRoles</class>
		<class>com.servicelive.orderfulfillment.domain.ClientInvoiceOrder</class>	
		<class>com.servicelive.orderfulfillment.domain.SOProviderInvoiceParts</class>
		<class>com.servicelive.orderfulfillment.domain.SoProviderInvoicePartLocation</class>
		<class>com.servicelive.orderfulfillment.domain.SoProviderInvoicePartDocument</class>
		<class>com.servicelive.orderfulfillment.domain.SOPartLaborPriceReason</class>			
		<class>com.servicelive.orderfulfillment.domain.SpendLimitHistory</class>
		<class>com.servicelive.domain.so.RoutingRuleVendorAssoc</class>
		<class>com.servicelive.orderfulfillment.domain.SOScheduleStatus</class>
		<class>com.servicelive.orderfulfillment.domain.SOScheduleHistory</class>
		<class>com.servicelive.orderfulfillment.domain.SOPriceChangeHistory</class>
		<class>com.servicelive.orderfulfillment.domain.TierRouteProviders</class>
		<class>com.servicelive.orderfulfillment.domain.LeadHdr</class>
		<class>com.servicelive.orderfulfillment.domain.LeadPostedFirm</class>
		<class>com.servicelive.orderfulfillment.domain.LeadDocuments</class>
		<class>com.servicelive.orderfulfillment.domain.LeadCancel</class>
		<class>com.servicelive.orderfulfillment.domain.LeadContactInfo</class>
		<class>com.servicelive.orderfulfillment.domain.LeadProcess</class>
		<class>com.servicelive.orderfulfillment.domain.BuyerEmailMapping</class> 
		<class>com.servicelive.domain.inhome.autoclose.InHomeAutoCloseRuleFirmAssoc</class>
		<class> com.servicelive.orderfulfillment.domain.SOAdditionalPaymentHistory</class>
		<class>com.servicelive.orderfulfillment.domain.SOServiceDatetimeSlot</class>
		<properties>
			<property name="hibernate.dialect" value="org.hibernate.dialect.MySQL5InnoDBDialect" />
		</properties>
	</persistence-unit>
</persistence>
