#set($total = $so.finalPriceLabor+$so.finalPriceParts)##
Final Labor Spend Limit is $number.currency($so.finalPriceLabor).  ##
Final Parts Spend Limit is $number.currency($so.finalPriceParts).  ##
Total Service Order payment is $number.currency($total).##