#bulletinboard {
			padding: 0 20px;
		}
	
		input.action {
		-moz-background-clip:border;
		-moz-background-inline-policy:continuous;
		-moz-background-origin:padding;
		-moz-border-radius-bottomleft:5px;
		-moz-border-radius-bottomright:5px;
		-moz-border-radius-topleft:5px;
		-moz-border-radius-topright:5px;
		-x-system-font:none;
		background:transparent url(../../images/common/button-action-bg.png) repeat scroll 0 0;
		border:2px solid #D48B28;
		color:#333333;
		cursor:pointer;
		display:block;
		font-family:Verdana,sans-serif;
		font-size:9px;
		font-size-adjust:none;
		font-stretch:normal;
		font-style:normal;
		font-variant:normal;
		font-weight:bold;
		line-height:normal;
		padding:2px;
		text-align:center;
		text-transform:uppercase;
		width:85px;
		}
		input.action:hover {
		-moz-background-clip:border;
		-moz-background-inline-policy:continuous;
		-moz-background-origin:padding;
		background:transparent url(../../images/common/button-action-hover.png) repeat scroll 0 0;
		color:#000000;
		}
	
		select.text {
		-moz-background-clip:border;
		-moz-background-inline-policy:continuous;
		-moz-background-origin:padding;
		background:#F3F3F3 url(../../images/common/bg-forms.png) repeat-x scroll left top;
		border:1px solid #C6C6C6;
		color:#333333;
		padding:3px;
		}
	
		#bbsearch label, #bbfilter label {
			padding-top: 4px;
			display: block;
		}
		
		table#bbdata {
			width: 100%;
			clear: both;
			margin: 10px 0;
			border: 1px solid #999;
		}
		
		table#bbdata th {
			color: #FFF;
			padding: 5px 10px;
			background: #4CBCDF; 
			height: 11px;
		}
		
		table#bbdata td {
			padding: 10px;
			border-top: 1px solid #999;
		}
		
		table#bbdata .c2 {
			width: 400px;
		}
		
		table#bbdata .c5 {
			border-left: 1px solid #999;
		}
