

##Release should be provided by user - as per svn branch name of DB_Script Directory
##Please put release names in sequence and mention all release names , seperated from first to last. And put , after every release name even if there is only one release
all_releases=R16_6_16,


##Do not change below predefined variables
user=jencicd
path_to_private_key=/home/jboss/.ssh/id_rsa

path=/appl/jenkins/data/workspace/CICD_DDL_DMLScript
application_server_hosts=trqaslapp02.vm.itg.corp.us.shldcorp.com
env=PreProd


## DB configurations
uname=supply_usr
pword=supply
hostNm=hspprodslrds1.nonprod.shs.oh.transformco.com
portNo=3372