

user=jencicd

path_to_private_key=/home/jboss/.ssh/id_rsa

all_marketplatform_hosts=trqaslsvc02.vm.itg.corp.us.shldcorp.com
all_script_MarketPlatform_RemoteService=slmarketplatform
jenkins_path_MarketPlatform_RemoteService=$1/MarketPlatformRemoteService/MarketPlatform.RemoteService/target/dist/MarketPlatform.RemoteService.ear
all_deployables_MarketPlatform_RemoteService=/appl/slmarketplatform/deployables
log_file_path_MarketPlatform=/appl/slmarketplatform/jboss/log/jboss.thread
all_marketplatform_war_name=MarketPlatform.RemoteService.ear


all_wallet_remoteservices_hosts=trqaslsvc02.vm.itg.corp.us.shldcorp.com
all_script_Wallet_RemoteService=slwalletremote
jenkins_path_Wallet_RemoteService=$1/Wallet/Wallet.RemoteService/target/dist/Wallet.RemoteService.ear
all_deployables_Wallet_RemoteService=/appl/slwalletremote/deployables
log_file_path_Wallet_RemoteService=/appl/slwalletremote/jboss/log/jboss.thread
all_walletremote1_war_name=Wallet.RemoteService.ear


all_OrderFulfillment_Service_hosts=trqaslsvc01.vm.itg.corp.us.shldcorp.com,trqaslsvc02.vm.itg.corp.us.shldcorp.com
all_script_OrderFulfillment_Service=slorder,slorder2
jenkins_path_OrderFulfillment_Service=$1/OrderFulfillment/OrderFulfillment.Service/target/dist/OrderFulfillment.Service.war
all_deployables_OrderFulfillment_Service=/appl/slorder/deployables,/appl/slorder2/deployables
log_file_path_OrderFulfillment_Service=/appl/slorder/jboss/log/jboss.thread,/appl/slorder2/jboss/log/jboss.thread
all_sl_order1_war_name=OrderFulfillment.Service.war


all_OrderFulfillment_Jobs_hosts=trqaslsvc01.vm.itg.corp.us.shldcorp.com
all_script_OrderFulfillment_Jobs=slorderjobs
jenkins_path_OrderFulfillment_Jobs=$1/OrderFulfillment/OrderFulfillment.Jobs/target/dist/OrderFulfillment.Jobs.war
all_deployables_OrderFulfillment_Jobs=/appl/slorderjobs/deployables
log_file_path_OrderFulfillment_Jobs=/appl/slorderjobs/jboss/log/jboss.thread
all_sl_orderjobs1_war_name=OrderFulfillment.Jobs.war


all_solr_hosts=trqaslsvc01.vm.itg.corp.us.shldcorp.com,trqaslsvc02.vm.itg.corp.us.shldcorp.com
all_script_solr=sl_solr
jenkins_path_solr=
all_deployables_solr=/appl/sl_solr/deployables


all_api_hosts=trqaslsvc01.vm.itg.corp.us.shldcorp.com,trqaslsvc02.vm.itg.corp.us.shldcorp.com
all_callback_hosts=trqaslsvc01.vm.itg.corp.us.shldcorp.com
all_deployables_api=/appl/slapi/deployables,/appl/slapi2/deployables
all_script_public=slapi,slapi2
all_script_callback=slapi_callback,slapi2_callback
all_script_provider=slapi_provider,slapi2_provider
jenkins_path_public=$1/MarketPublicAPI/dist/public.war
jenkins_path_callback=$1/MarketPublicCallbackAPI/dist/callback.war
jenkins_path_provider=$1/MarketProviderAPI/dist/provider.war
log_file_path_api=/appl/slapi/jboss/log/jboss.thread,/appl/slapi2/jboss/log/jboss.thread
all_sl_api_war_name=public.war
all_callback_war_name=callback.war
all_provider_war_name=provider.war

all_mobile_hosts=trqaslsvc01.vm.itg.corp.us.shldcorp.com,trqaslsvc02.vm.itg.corp.us.shldcorp.com
all_script_mobile=slmobileapi,slmobileapi2
jenkins_path_mobile=$1/MarketPublicMobileAPI/dist/mobile.war
all_deployables_mobile=/appl/slmobileapi/deployables,/appl/slmobileapi2/deployables
log_file_path_mobileapi=/appl/slmobileapi/jboss/log/jboss.thread,/appl/slmobileapi2/jboss/log/jboss.thread
all_sl_mobileapi_war_name=mobile.war


all_batch_hosts=trqaslbat01.vm.itg.corp.us.shldcorp.com
all_deployables_batch=/appl/slbatch/deployables
all_script_MarketBatch=slbatch
jenkins_path_MarketBatch=$1/MarketBatch/dist/MarketBatch.war
all_script_spn_batch=spn
jenkins_path_spn_batch=$1/SPNWeb/target/dist/spn.war
log_file_path_batch=/appl/slbatch/jboss/log/jboss.thread
all_sl_batch_war_name=MarketBatch.war
all_sl_spn_batch_war_name=spn.war


all_batchpymt_hosts=trqaslbat01.vm.itg.corp.us.shldcorp.com
all_script_batchpymt=slbatchpayment
jenkins_path_batchpymt=$1/Wallet/Wallet.Batch/target/dist/Wallet.Batch.war
all_deployables_batchpymt=/appl/slbatchpayment/deployables
log_file_path_batchpymt=/appl/slbatchpayment/jboss/log/jboss.thread
all_sl_batchpymt_war_name=Wallet.Batch.war


all_b2cActivityLog_hosts=trqaslbat01.vm.itg.corp.us.shldcorp.com
all_script_b2cActivityLog=slactivitylog
jenkins_path_b2cActivityLog=
all_deployables_b2cActivityLog=/appl/slactivitylog/deployables


all_mdb_hosts=trqaslbat01.vm.itg.corp.us.shldcorp.com
all_script_mdb=slmdb
jenkins_path_mdb=$1/Wallet/Wallet.ValueLink.EJB/target/dist/Wallet.ValueLink.EJB.ear
all_deployables_mdb=/appl/slmdb/deployables
log_file_path_mdb=/appl/slmdb/jboss/log/jboss.thread
all_sl_mdb_war_name=Wallet.ValueLink.EJB.ear


all_srv_hosts=trqaslbat01.vm.itg.corp.us.shldcorp.com
all_script_srv=marketws
jenkins_path_srv=$1/MarketWebServices/marketws.war
all_deployables_srv=/appl/slsrv1/deployables
log_file_path_srv=/appl/slsrv1/jboss/log/jboss.thread
all_sl_srv_war_name=marketws.war


all_marketfrontend_hosts=trqaslapp01.vm.itg.corp.us.shldcorp.com,trqaslapp01.vm.itg.corp.us.shldcorp.com,trqaslapp02.vm.itg.corp.us.shldcorp.com,trqaslapp02.vm.itg.corp.us.shldcorp.com
all_deployables_marketfrontend=/appl/slfrontend1/deployables,/appl/slfrontend2/deployables,/appl/slfrontend3/deployables,/appl/slfrontend4/deployables
all_script_MarketFrontend=slfrontend1-MarketFrontend,slfrontend2-MarketFrontend,slfrontend3-MarketFrontend,slfrontend4-MarketFrontend
all_script_ServiceLiveWebUtil=slfrontend1-ServiceLiveWebUtil,slfrontend2-ServiceLiveWebUtil,slfrontend3-ServiceLiveWebUtil,slfrontend4-ServiceLiveWebUtil
all_script_spn=slfrontend1-spn,slfrontend2-spn,slfrontend3-spn,slfrontend4-spn
jenkins_path_MarketFrontend=$1/MarketFrontend/MarketFrontend.war
jenkins_path_ServiceLiveWebUtil=$1/ServiceLiveWebUtil/ServiceLiveWebUtil.war
jenkins_path_spn=$1/SPNWeb/target/dist/spn.war
log_file_path_frontend=/appl/slfrontend1/jboss/log/jboss.thread,/appl/slfrontend2/jboss/log/jboss.thread,/appl/slfrontend3/jboss/log/jboss.thread,/appl/slfrontend4/jboss/log/jboss.thread
all_sl_frontend_war_name=MarketFrontend.war
all_sl_ServiceliveWebUtil_war_name=ServiceLiveWebUtil.war
all_sl_spn_war_name=spn.war


all_webserver_hosts=trqaslweb01.vm.itg.corp.us.shldcorp.com,trqaslweb02.vm.itg.corp.us.shldcorp.com,trqasldmzweb01.vm.itg.corp.us.shldcorp.com,trqasldmzweb02.vm.itg.corp.us.shldcorp.com
jenkins_path_ServiceLiveWebUtil=$1/ServiceLiveWebUtil/ServiceLiveWebUtil.war
jenkins_path_StaticWeb=$1/StaticWeb/target/dist/StaticWeb.war
WebServer_Path=/var/www/servicelive
ServiceLiveWebUtil_WebServer_Path=/var/www/servicelive/ServiceLiveWebUtil
StaticWeb_WebServer_Path=/var/www/servicelive/StaticWeb
