.profile-header-text {
    font-weight: bold;
    font-size: 21px;
    margin-top: 10px;
}

.profile-subheader-text {
    font-size: 14px;
    margin-top: 7px;
}

.move-left-panel-down {
    top: 15px;
    position: relative;
}

.service-offering-heading {
    color: #FFFFFF;
    background-color: #4A4A4A;
    font-weight: bold;
    font-size: 12px;
}

.close-button {
    float: right;
    font-size: 20px;
}

.save-button-width {
    width: 200px;
}

.dispatch-loc .dispatchloc-min-height {
  min-height: 85px;
}

.dispatch-loc .padding-top-bottom {
  padding-top: 40px;
  padding-bottom: 40px;
}

.dispatch-loc .bold-header-text {
  font-weight: bold;
}

.credential-table td, .credential-table th {
  font-size: 11px;
}

.modal-popup-custom .inline-control-width {
  width: 132px;
}

.modal-popup-custom .footer-button {
  width: 129px;
  border-radius: 0px;
}

.modal-popup-custom .modal-footer {
  text-align: center;
}

.modal-popup-custom .form-control {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 0px;
  font-size: 12px;
  height: 25px;
}

.modal-popup-custom .btn-plus-minus {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 0px;
  font-size: 14px;
  height: 25px;
}

.modal-popup-custom .coverage-fix-control-width {
  width: 130px;
}

.modal-popup-custom .text-input {
  max-width: 268px;
  min-height: 100px;
}

.modal-popup-custom .form-group {
  margin-bottom: 5px;
}

.modal-popup-custom .overview-max-width-height {
  max-width: 568px;
  min-height: 60px;
}

.coverage-loc {
  min-height: 50px;
  vertical-align: middle;
  padding: 15px;
}
.coverage-loc .coverage-loc-text{
  font-size: 12px;
  font-weight: bold;
}

.dispatch-fix-padding .dispatchloc-top-bottom-padding {
  padding-top: 32px;
  padding-bottom: 32px;
}
.wrap-text{
  word-wrap:break-word;
}

.borderless td{
 border: none;
}
.required{
  margin-left: -13px;
}
.bold{
  font-size: 144%;
}

/*.profile-strength .fill {
      position: absolute;
      top: 90px;
      left: 0;
      height: 0px;
      width: 90px;
      overflow:hidden;
}

.profile-strength .fill {
      position: absolute;
      top: 0px; 
      height: 90px; 
      left: 0;
      width: 90px;
      overflow:hidden;
}*/

/*.profile-strength .mask {
      display: block;
      height: 110px;
      left: 0;
      position: absolute;
      top: 0;
      width: 110px;
      overflow:hidden;
}*/

/*.profile-strength .line {
  position: absolute;
  width: 220px;
  height: 1px;
  top: 90px;
  background-color: black;
  z-index: 98;
}

.profile-strength .line div {
  color: black;
  position: relative;
  top: -20px;
  text-align: end;
}*/

.profile-strength.min-height-profile-strength {
  min-height: 160px;
}

.profile-strength .strength-meter{
  position: relative;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 94px;
}

.profile-strength .circle {
    width: 90px;
    height: 90px;
    border-radius: 45px;
    border: 12px solid #337AB7;
    text-align: center;
    background: #FFFFFF;
}

.profile-strength .meter {
    position: relative;
    top: 24px;
    font-weight: bold;
}

.position-address-valid-modal {
  top: 220px;
  width: 350px;
  text-align: center;
}