.price, .daily_limit {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid black;
    width: 20px;
    width: inherit;
}
.vertical-line {
    border-left:  1px solid #9ca4ab;
    border-top: 0px solid black; 
    vertical-align: top; 
    padding-left: 30px;
}
.horizontal-line{
    border-top: 0px solid black; 
    vertical-align: middle; 
    border-bottom: 0px solid #ddd; 
}

.select-table {
    width: 700px; height: 20px;
}

.detail-image-size {
    width: 338px; 
    height: 200px;
}

.select-image-size {
    width: 113px;
}

.checkbox-padding {
    padding-top: 40px;
    padding-bottom: 40px;
}

.select-service-table {
    max-height: 320px;
    overflow-y: auto;
}

.select-service-table th {
    font-size: 12px;
    font-weight: bold;
}

.select-service-table td {
    font-size: 11px;
    font-weight: normal;
    vertical-align: middle;
    border-top:0px;
}

.select-service-table .right-border {
    border-right-width: 1px;
    border-right-color:  #DDDDDD;
}

.select-service-table .sku-img-col-width {
    width: 100px;
}

.select-service-table .sku-checkbox-col-width {
    width: 10px;
}

.sku-header-text {
    font-weight: bold;
}

.sku-detail-link-text {
    font-weight: bold;    
}

.save-button-width {
    width: 200px;
}

.close-button {
    float: right;
    font-size: 20px;
}

.modal-popup-custom .footer-button {
  width: 129px;
  border-radius: 0px;
}

.modal-popup-custom .modal-footer {
  text-align: center;
}

.modal-popup-custom .form-control {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 0px;
  font-size: 12px;
  height: 25px;
}

.modal-popup-custom .text-input {
  max-width: 268px;
  min-height: 100px;
}

.modal-popup-custom .form-group {
  margin-bottom: 5px;
}

.modal-popup-custom .warning-modal-width {
    width: 350px;
}

.sku-detail-header-text {
    font-size: 24px;
}

.sku-subheader-text {
    font-size: 14px;
    color: grey;
}

.error-field-border {
    border: 1px dotted red;
}

.max-height-fix {
    max-height: 280px;
    overflow-y: auto;
}

.fix-width-details-col {
    width: 240px;
}

.alert-message {
    text-align: center;
    color: red;
    bottom: 0;
}
.select-service-header{
    font-weight: bold;
}
 
.select-service-header > div:after,
.select-service-header > div.sort-false:after,
.select-service-header > div.sort-true:after {
    font-family: "Glyphicons Halflings";
    padding-left: 5px;
}

.select-service-header > div:after {
    content: "\e150";
    color: #ddd;
}
.select-service-header > div.sort-false:after {
    content: "\e155";
    color: #767676;
}
.select-service-header > div.sort-true:after {
    content: "\e156";
    color: #767676;
}
.cursor-pointer{
    cursor: pointer;
}