body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	background: #fff /* url(../../images/common/site_bg.gif) repeat-y top center */;
}

/*html,body,*/#page_margins,#page {
	height: auto;
}

* {
	padding: 0;
	margin: 0;
}

p {
	padding: 4px 0;
}

a img {
	border: 0;
}

td {font-size: 10px; }

a:link,a:visited {
	color: #00a0d2;
	text-decoration: none;
}

a:hover,a:active {
	color: #00a0d2;
	text-decoration: underline;
}

.clear {
	clear: both;
	display: block;
	height: 0;
}

.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.clearfix {
	display: block
}

select,option {
	font-size: 10px;
}

select {
	background: #f7f7f7;
	border: 1px solid #ccc;
}

option {
	margin-right: 5px;
}

input.textbox-70 {
	width: 70px;
}

select.dropdown-80 {
	width: 80px;
}

.smallText {
	font-size: 10px;
}

.lightBlue {
	color: #00a0d2;
}

input.shadowBox { border: 1px solid #cecece; background: #fff url(../../images/common/textboxBg.gif) repeat-x top left; padding: 2px 3px; }

#page_margins {
	margin: 0 auto;
	width: 985px;
	text-align: left;
}

#page {
background: #fff;
	/*
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;*/
}

/* Commented out for 12/15/07 release
COMMENT START- 
#footer {
	text-align: center;
	background: #f7f7f7;
	padding: 20px 0;
	height: 100%;
}
COMMENT END-
*/

/* Remove below class definition after 12/15/07 */
#footer {
	text-align: center;
	background: #f7f7f7;
	padding: 20px 0;
	width: 982px;
	height: 100%;
	font-size:10px;
}

/* Footer */
.greyrule {
	color: #666666;
	font-size: 9px;
}

.faintgrey {
	color: #58585A;
	font-size: 9px;
}

/* Grid header */
a.sortGridColumnUp, a.sortGridColumnUp:visited  { background: url(../../images/grid/arrow-up-white.gif) no-repeat 0 4px; padding-left: 13px; color: #fff; }