/* CSS Document */
.tipLeft {
	background:url(../../images/tips/tipLeftTop.gif) top left no-repeat;
	position:absolute; 
	z-index:100;
	visibility:hidden;
	padding-top:16px;
}

.tipRight {
	background:url(../../images/tips/tipRightTop.gif) top right no-repeat;
	position:absolute; 
	z-index:100;
	visibility:hidden;
	padding-top:16px;
}

.tipContents {
	font:10px; 
	border:solid 2px #00a0d2;
	border-top-width:0;
	/* change width and padding of tooltip box here */
	padding:5px;
	color:#333333; 
	background-color:#d5f4fe;
}

.tipContents h1{
	padding:0;
	margin:0;
	font-size:12px;
	font-weight:bold;
}
.tipContents p{
	padding:0;
	margin:0;
}
