#header {
	position: relative;
	height: 185px;
}

#headerBuyer {
	position: relative;
	height: 185px;
}

#headerDashboardBuyer {
	position: relative;
	height: 173px;
}

#headerProvider {
	position: relative;
	height: 173px;
}

#headerDashboardProvider {
	position: relative;
	height: 173px;
}

#logo {
	position: absolute;
	left: 20px;
	top: 14px;
	width: 200px;
}

#topNav {
	position: absolute;
	top: 10px;
	right: 20px;
	text-align: right;
}

#topNav p {
	padding: 6px 0;
}

#topNav table { font-size: 10px; width: 100%; padding: 6px 0; }

#mainNav {
	background: #fff url(../../images/nav/main_nav_blue_bg.gif) no-repeat top left;
	height: 31px;
	position: absolute;
	width: 745px;
	top: 75px;
	left: 2px;
}

#mainNav ul {
	width: 745px;
	list-style: none;
}

#mainNav li {
	display: inline;
	float: left;
	height: 31px;
}

#mainNav li.divider {
	width: 2px;
	background: url(../../images/nav/main_nav_blue_divider.gif) no-repeat top left;
}

#mainNav li a {
	height: 31px;
	display: block;
}

#mainNav li a#dashboard {
	background: url(../../images/nav/dashboard.jpg) top left;
	width: 92px;
}

#mainNav li a#dashboardSelected {
	background: url(../../images/nav/dashboard.jpg) top left;
	width: 92px;
	background-position: 0 -33px;
}

#mainNav li a#commMonitor {
	background: url(../../images/nav/comm_monitor.jpg) top left;
	width: 160px;
}

#mainNav li a#financialMgr {
	background: url(../../images/nav/fin_mgr.jpg) top left;
	width: 125px;
}

#mainNav li a#serviceOrderMonitor {
	background: url(../../images/nav/service_order_mon.jpg) top left;
	width: 151px;
}

#mainNav li a#serviceOrderMonitorSelected {
	background: url(../../images/nav/service_order_mon.jpg) top left;
	width: 151px;
	background-position: 0 -33px;
}

#mainNav li a#overallStatusMonitor {
	background: url(../../images/nav/overall_status_monitor.jpg) top left;
	width: 145px;
}

#mainNav li a#reports {
	background: url(../../images/nav/nav_reports.jpg) top left;
	width: 75px;
}

#mainNav a#commMonitor:hover,#mainNav a#commMonitor:active,#mainNav a#dashboard:hover, #mainNav a#dashboard:active, #mainNav a#serviceOrderMonitor:hover,#mainNav a#serviceOrderMonitor:active,#mainNav a#overallStatusMonitor:hover,#mainNav a#overallStatusMonitor:active,#mainNav a#financialMgr:hover,#mainNav a#financialMgr:active,#mainNav a#reports:hover,#mainNav a#reports:active {
	background-position: 0 -31px;
}
#auxNav{width:200px;/*background:transparent url(../images/nav/aux_nav_gray_bg.gif) no-repeat top left;*/
	background:#FFF url("../images/nav/navbg.gif");height:31px;position:absolute;width:289px;top:75px;right:0px;z-index:10001;
	border-bottom: 5px solid #00a0d2;
	}
#auxNav ul{list-style:none;padding:0 0 0 150px;}


#auxNav li {
	display: inline;
	float: left;
	height: 31px;
}

#auxNav li a {
	height: 31px;
	display: block;
}

#auxNav li a#adminOfc {background:url(../images/nav/admin-office.gif) 0 0 no-repeat;width:144px;overflow:visible;height:31px;padding:0;}


#auxNav li a#profileAndPrefs, #auxNav li a#profileAndPrefs:visited {
	background: url(../../images/nav/profile_and_prefs.gif) 0 11px no-repeat;
	width: 108px;
	margin-left: 15px;
}

#auxNav li a#fav {
	background: url(../../images/nav/nav_fav.gif) 0 11px no-repeat;
	width: 104px;
}

#auxNav li a#adminOfc:hover,#auxNav li a#adminOfc:active,#auxNav li a#profileAndPrefs:hover,#auxNav li a#profileAndPrefs:active {
	background-position: 0 -15px;
}

#auxNav li a#fav:hover,#auxNav li a#fav:active {
	background-position: 0 -16px;
}

#pageHeader {
	position: absolute;
	top: 130px;
	left: 20px;
}

#date {
	position: absolute;
	top: 140px;
	right: 20px;
	font-size: 9px;
	line-height: 13px;
}

#dateDashboard {
	position: absolute;
	top: 134px;
	right: 20px;
	font-size: 9px;
	line-height: 13px;
}

.PIPES {
	color: #333333;
}