/* You can add global styles to this file, and also import other style files */
body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

body.modal-open {
  overflow: hidden;
}

.page-color {
  background: #f5f5f5;
}

.page-font-style {
  color: #3D3D3D;
  font-size: 12px;
}

.page-padding-fix {
  position: relative;
  right: 10px;
  width: 1000px;
}

.bootstrap-scope .tile-color {
  background: #FFFFFF;
}

.bootstrap-scope  .tile-header-text {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
}

.bootstrap-scope .subpage-header-text {
  font-size: 18px;
  font-weight: bold;
}

.bootstrap-scope .modal-header-text {
  font-size: 16px;
  font-weight: bold;
  margin: 0 auto;
}

.bootstrap-scope .active-text-color {
  color: #337AB7;
}

.bootstrap-scope .active-background-color {
  background-color: #337AB7;
}

.bootstrap-scope .remove-padding-bottom {
  padding-bottom: 0px;
}
.bootstrap-scope .remove-padding-left-right {
  padding-left : 0px;
  padding-right: 0px;
}

.bootstrap-scope .remove-padding-left {
  padding-left : 0px;
}

.bootstrap-scope .remove-padding-right {
  padding-right : 0px;
}

.bootstrap-scope .add-padding-right {
  padding-right : 20px;
}

.bootstrap-scope .mod-padding-right {
  padding-right : 10px;
}

.bootstrap-scope .mod-padding-left {
  padding-left : 10px;
}

.bootstrap-scope .remove-padding-top-bottom {
  padding-top : 0px;
  padding-bottom : 17px;
}

.bootstrap-scope .well, .bootstrap-scope .corner-border {
  border-radius: 0px;
}

.bootstrap-scope .heading-remove-border {
  border-bottom: none;
  border-top: none;
}

.bootstrap-scope .row {
  margin-left: 0px;
  margin-right: 0px;
}

.bootstrap-scope .padding-left-right {
  padding-left: 15px;
  padding-right: 15px;
}

.bootstrap-scope .padding-top-bottom {
  padding-top: 10px;
  padding-bottom: 10px;
}

.bootstrap-scope .remove-margin-top-bottom {
  margin-top: 10px;
  margin-bottom: 10px;
}

.bootstrap-scope .zero-margin-top-bottom {
  margin-top: 0px;
  margin-bottom: 0px;
}

.bootstrap-scope .add-margin-top-bottom {
  margin-top: 20px;
  margin-bottom: 20px;
}

.bootstrap-scope .add-margin-bottom {
  margin-bottom: 20px;
}

.bootstrap-scope .add-margin-top {
  margin-top: 20px;
}

.bootstrap-scope .add-margin-left-right {
  margin-left: 20px;
  margin-right: 20px;
}

.bootstrap-scope .add-margin-right {
  margin-right: 15px;
}

.bootstrap-scope .no-cursor-select {
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.bootstrap-scope .subheader-next-link {
  font-size: 12px;
  font-weight: normal;
}

.bootstrap-scope .vertical-center {
  display: inline-block;
  vertical-align: middle;
}

.bootstrap-scope .border-right {
  border-right: 1px solid #ccc;
}
.bootstrap-scope .border-left {
  border-left: 1px solid #ccc;
}

.bootstrap-scope .border-top {
  border-top: 1px solid #ccc;
}

.bootstrap-scope .btn {
  font-size: 12px;
}

.bootstrap-scope .modal-width-fix {
  min-width: 800px;
}

.bootstrap-scope .overview-modal-width {
  min-width: 550px;
}

.bootstrap-scope .modal-width-fix-medium {
  min-width: 600px;
}

.bootstrap-scope .modal-popup-custom label {
padding-bottom: 0px;
font-weight: normal;
}

.bootstrap-scope .grey-color-text {
  color: #A8A8A8;
}

.bootstrap-scope .width-full {
  width: 100%;
}

.bootstrap-scope .text-align-right {
  text-align: right;
}

.bootstrap-scope .requiredField{
color: red;
}

.bootstrap-scope ol {
display: block;
  list-style-type: decimal;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}
.bootstrap-scope ul {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}
.bootstrap-scope li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.bootstrap-scope .remove-margin-left-right {
  margin-left: 0px;
  margin-right: 0px;
}

.bootstrap-scope .coverage-header-padding {
  padding-left:40px;

}

.bootstrap-scope .coverage-header{
  font-weight: bold;
}

.bootstrap-scope .clickable-hand-cursor {
  cursor: pointer;
}

.bootstrap-scope .add-margin10-left-right {
  margin-left: -22px;
  margin-right: 52px;
}

.bootstrap-scope .text-align-left {
  text-align: left;
}

.bootstrap-scope .modal-header,
.bootstrap-scope .modal-footer {
  display: table;
  content: " ";
  width: 100%;
}

.bootstrap-scope .h2 {
  margin-top: 5px;
}

.bootstrap-scope .h4 {
  margin-top: 10px;
}

