<div class="modal-dialog modal-sm " role="document">
    <div class="modal-content" >
        <div class="modal-header">
            <a href="#" class="close-button" data-dismiss="modal">
                <div class="glyphicon glyphicon-remove"></div>
            </a>
            <div class="modal-title text-center modal-header-text" style="margin-left: 52px;">Rate Card- {{serviceOffered.primaryIndustryName}}</div>
        </div>
        <div class="modal-body">
            <wait-loader [rateCardLoader]="rateCardLoader"></wait-loader>

            <!--offer on start-->
            <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="margin-top: 4px">
                        Our services include
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 remove-padding-left-right add-margin10-left-right" *ngFor="let serviceOfferedOn of serviceOffered.luOffersOnVO; let i=index">

                        <div>
                            <label class="remove-padding-top-bottom">
                              <input type="checkbox" class="clickable-hand-cursor" (change)="updateOffersOn(serviceOfferedOn,serviceOffered)" [(ngModel)]="serviceOfferedOn.offersOnFlag"/>
                                <span style="font-weight: 100;">{{serviceOfferedOn.name}}</span>
                            </label>
                        </div>
                    </div>
            </div>
            <!--offer on end-->



            <div class="row" *ngIf="serviceDayList != null && serviceDayList.serviceDay != null">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-xs-3">
                    </div>
                    <div class="col-xs-9" style="padding-left: 0px;">
                        <div class="row">
                            <div class="col-xs-4" *ngFor="let serviceDay of serviceDayList.serviceDay">
                                <label>{{serviceDay.name}}($)</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="serviceDayList != null && serviceDayList.serviceRatePeriod != null">
                <div class="col-xs-3" style="padding-right: 0px; padding-left: 45px; margin-left: 0px;">
                    <div *ngFor="let serviceRatePeriod of serviceDayList.serviceRatePeriod">
                        <label>{{serviceRatePeriod.name}}</label>
                    </div>
                </div>

                <div class="col-xs-9" style="padding-left: 0px;">
                    <div class="row" *ngIf="rateCardPriceUIModal != null && rateCardPriceUIModal.rateCard != null">
                        <div class="col-xs-4" *ngFor="let rate of rateCardPriceUIModal.rateCard ; let i=index" style="width: inherit; margin-left: 9px;margin-right: 10px;">
                            <input type="text" class="price  {{ rate.priceValid ? '' : 'error-field-border'}}" placeholder="Price" (blur)="changePriceLimitValidation(i)"
                                (keypress)="keyPressListPrice($event, i)" (focus)="focusListPrice($event, i)" (keyup)="keyUpListPrice($event, i)"
                                (contextmenu)="disableMouseRightClick()" [(ngModel)]="rate.price" size="8" maxlength="8" title="Price should be between 0 to 99999.99"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div>
                    <div class="text-center">
                        <button type="button" id="saveRateCard" [disabled]=" !rateCardPriceUIModal ||  !rateCardPriceUIModal.rateCard || rateCardPriceUIModal.rateCard.length <= 0"
                            class="btn btn-primary save-button-width corner-border" (click)="saveRateCardPrice()" data-dismiss="modal">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- soft error modal -->
<div class="modal fade modal-popup-custom" id="softValidationLimitRateCardPrice" data-backdrop="static" data-keyboard="false"
    role="dialog">
    <div class="modal-dialog warning-modal-width" role="document">
        <div class="modal-content" id="validationPopUp">
            <div class="modal-header">
                <a class="close-button" (click)="closeSoftValidationPopUp(true)">
                    <div class="glyphicon glyphicon-remove"></div>
                </a>
                <div class="modal-title text-center modal-header-text">Warning!</div>
            </div>
            <div class="modal-body" style="text-align: center;">
                <div class="form-group">
                    <label *ngIf="rateCardPrice">You have entered price as ${{rateCardPrice}}<br/>Are you sure you want to continue?</label>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group form-inline" style="margin-right: 48px; margin-top: -7px;">
                    <button class="btn btn-secondary footer-button corner-border" (click)="closeSoftValidationPopUp(false)">No</button>
                    <button class="btn btn-primary footer-button corner-border" (click)="closeSoftValidationPopUp(true)">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>