.price{
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid black;
    width: 20px;
    width: inherit;
    margin-bottom: 11px;
}

.error-field-border {
    border: 1px dotted red;
}

.save-button-width {
   width: 200px;
   margin-top: -9px;
}

.modal-content{
   height: 300px;
   width: 584px;
   margin-left: -86px;
}
.modal-body{
  margin-right: 0 !important;    
  overflow-y: hidden;
}
 .footer-button {
  width: 129px;
  border-radius: 0px;
  text-align: center;
}
#validationPopUp{
    height: 184px; width: 426px; margin-left: 110px;
}
.close-button {
    float: right;
    font-size: 20px;
}

.vertical-line {
    border-left:  1px solid #9ca4ab;
}