body { 
	background:#FFFFFF none repeat scroll 0%;
	color:#666666;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:10px;
}

a {	
	color: darkblue;
}

a:visited {	
	color: darkblue; 
}



.gwt-DialogBox {
	border: 2px solid #AAAAAA;
	background-color: white;
}

.gwt-DialogBox .Caption {
	background-image: url(gray_gradient.gif);
	background-repeat: repeat-x;
	padding: 4px;
	padding-bottom: 8px;
	font-weight: bold;
	cursor: default;
}

.gwt-MenuBar {
	background-color: #C3D9FF;
	cursor: default;
}

.gwt-MenuItem {
	font-size: 80%;
	margin: 1px;
	cursor: default;
}

.gwt-MenuItem-selected {
	background-color: #E8EEF7;
}

.gwt-Tree {
}

.gwt-Tree .gwt-TreeItem {
	font-size: 80%;
	cursor: default;
}

.gwt-Tree .gwt-TreeItem-selected {
	background-color: #C3D9FF;
}

.gwt-StackPanel {
	background-color: white;
	border: 1px solid #AAAAAA;
	width: 15em;
}

.gwt-StackPanel .gwt-StackPanelItem {
	background-image: url(blue_gradient.gif);
	background-repeat: repeat-x;
	background-color: #EEEEEE;
	cursor: pointer;
	cursor: hand;
}

.gwt-StackPanel .gwt-StackPanelItem-selected {
}

.gwt-TabPanel {
	
}

.gwt-TabPanelBottom {
	border-left: 1px solid #87b3ff;
	border-right: 1px solid #87b3ff;
	border-bottom: 1px solid #87b3ff;
}

.gwt-TabBar {
	font-size: smaller;
}

.gwt-TabBar .gwt-TabBarFirst {
	height: 100%;
	border-bottom: 1px solid #87b3ff;
	border-right: 1px solid #87b3ff;
	padding-left: 3px;
}

.gwt-TabBar .gwt-TabBarRest {
	border-bottom: 1px solid #87b3ff;
	padding-right: 3px;
}

.gwt-TabBar .gwt-TabBarItem {
	border-top: 1px solid #87b3ff;
	border-bottom: 1px solid #87b3ff;
	padding: 2px;
	cursor: hand;
	white-space: nowrap;
	border-right: 1px solid #87b3ff;
}

.gwt-TabBar .gwt-TabBarItem-selected {
	font-weight: bold;
	background-color: #e8eef7;
	border-top: 1px solid #87b3ff;
	border-right: 1px solid #87b3ff;
	border-bottom: 1px solid #e8eef7;
	padding: 2px;
	cursor: default;
	white-space: nowrap;
}

.gwt-PushButton-up {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
  cursor: pointer;
  cursor: hand;
}

.gwt-PushButton-up-hovering {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
  cursor: pointer;
  cursor: hand;
}

.gwt-PushButton-down {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
  cursor: pointer;
  cursor: hand;
}

.gwt-PushButton-down-hovering {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-up {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-up-hovering {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-down {
  background-color: #C3D9FF;
  padding: 2px;
  background-color: #E8F1FF;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-down-hovering {
  background-color: #C3D9FF;
  padding: 2px;
  background-color: #E8F1FF;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
  cursor: pointer;
  cursor: hand;
}

.gwt-RichTextArea {
  border: 1px solid black;
  background-color: white;
}

.gwt-RichTextToolbar {
  background-color: #C3D9FF;
  padding: 2px;
}

.gwt-RichTextToolbar .gwt-PushButton-up {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
}

.gwt-RichTextToolbar .gwt-PushButton-up-hovering {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
}

.gwt-RichTextToolbar .gwt-PushButton-down {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-RichTextToolbar .gwt-PushButton-down-hovering {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-RichTextToolbar .gwt-ToggleButton-up {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
}

.gwt-RichTextToolbar .gwt-ToggleButton-up-hovering {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
}

.gwt-RichTextToolbar .gwt-ToggleButton-down {
  margin-right: 2px;
  background-color: #E8F1FF;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-RichTextToolbar .gwt-ToggleButton-down-hovering {
  margin-right: 2px;
  background-color: #E8F1FF;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-HorizontalSplitPanel {
	border: 8px solid #C3D9FF;
}

.gwt-HorizontalSplitPanel .splitter {
	background-color: #C3D9FF;
	cursor: move;
}

.gwt-HorizontalSplitPanel .left {
  background-color: #E8EEF7;
}

.gwt-VerticalSplitPanel {
}

.gwt-VerticalSplitPanel .splitter {
	background-color: #C3D9FF;
	height: 8px;
	cursor: move;
}

.gwt-SuggestBoxPopup {
	border: 2px solid #C3D9FF;
}

.gwt-SuggestBoxPopup .item {
	padding: 2px;
}

.gwt-SuggestBoxPopup .item-selected {
	background-color: #C3D9FF;
	padding: 2px;
}

.gwt-DisclosurePanel {
	border: 2px solid #C3D9FF;
}

.gwt-DisclosurePanel .header {
	background-color: #e8eef7;
	cursor: hand;
}

.gwt-Label {
	font-size: 10px;
}
.gwt-LabelBold {
	font-size:10px;
	font-weight: bold;
    color:#ff2255
}

.gwt-CheckBox {
	font-size:10px;
}
.gwt-Listbox-c3 {
	width: 80px;
	font-size:10px;
	margin-bottom: 2px;
}
#gwt-FindProvider {
	width:  600px;	
}

#gwt-FindProvider div.controlPanel {
	background:#F9F9F9 none repeat scroll 0%;
	border:1px solid #D2D2D2;
	font-weight:700;
	margin-bottom:10px;
	padding:4px 10px;
	display: block;
	height: 100px;
}

#gwt-FindProvider table.provSelectHdr {
	margin:  0px;
	vertical-align: middle;
	background:#58585A none repeat scroll 0%;
	border-color:#C9C9C9;
	border-width:1px 1px 0pt;
	width:630px;
}

#gwt-FindProvider table.provSelectHdr a {
	color: #FFF;
	font-weight: bold;
	font-size: 10px;
	text-decoration: none;
}
#gwt-FindProvider table.provSelectHdr td {
	line-height:12px;
	padding-bottom:5px;
	padding-top:5px;
	vertical-align:middle;
	border-bottom: 0px;
}

#gwtProviderResultTile {
	border-color: #c9c9c9;
	height: 207px;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 630px;
}

#gwtProviderResultTile  .column1 {
	padding-left: 10px;
	width: 10px;
}

#gwtProviderResultTile  .column2 {
	text-align: center;
	width: 75px;
}

#gwtProviderResultTile  .column3 {
	text-align: left;
	width: 145px;
}

#gwtProviderResultTile  .column7 {
	padding-right: 20px;
	text-align: right;
}

#gwtProviderResultTile td {
	height: 35px;
	vertical-align: middle;
}

#gwtProviderResultTile tr.odd {
	background: #f8f8f8;
}

#gwtProviderResultTile td {
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #FFF;
}

#gwtProviderResultTile tr:hover {
	background: #ddd;
}

.gwt-controlPanel {
	background:#F9F9F9;
	border:1px solid #D2D2D2;
	font-weight:700;
	margin-bottom:10px;
	padding:4px 10px;
	}
	
	.gwt-controlPanel select {
		width: 110px;
		display: block;
	}
	
	.gwt-controlPanel .gwt-Label {
		padding-bottom: 5px;
	}
	
.gwt-controlPanel {
	background:#F9F9F9 none repeat scroll 0%;
	border:1px solid #D2D2D2;
	font-weight:700;
	margin-bottom:10px;
	padding:4px 10px;
	height: 100px;
}


.gwt-controlPanel div {
	float: left;
	width: 130px;
	height: 100px;
	margin-right: 5px;
}

.gwt-controlPanel div div {
	float: none;
	width: auto;
	height: auto;
}

.gwt-controlPanel div.gwt-Label {
	padding-bottom: 5px;
}

.gwt-controlPanel select {
	width: 120px;
}

#gwtProviderResultTile {
	border: 1px solid #C9C9C9;
}

#gwtProviderResultTile table {
	padding: 0;
	margin: 0;
	border-spacing: 0;
	cellspacing: 0;
	border-collapse: collapse;
	
}

#gwtProviderResultTile table table {
	border-bottom: 1px solid #C9C9C9;
}

.gwt-controlPanel div div.gwt-totalProviderslbl, .gwt-controlPanel div div.gwt-selectedProviderslbl {
	display: block;
	padding: 0px;
	margin: 0;
	width: auto;
	padding-right: 5px;
	text-align: center;
	float: left;	
}

.gwt-LabelBold {
	margin-bottom: 10px;
}


#gwtProviderSearchTile table {
	width: 100%;
}

#gwtProviderSearchTile table table {
	width: auto;
}

#gwtProviderSearchTile table td {
	width: 50%;
}

#gwtProviderSearchTile table td td {
	width: auto;
}

#gwtProviderSearchTile table input {
	margin-left: 5px;
}

#gwtProviderSearchTile table select {
	margin-left: 5px;
}

.gwt-result-column1 {
	display: block;
	width: 25px;
	text-align: center;
}

.gwt-result-column2 {
	width:75px;
	text-align: center;
	font-size: 10px;
}

.gwt-result-column3_top, .gwt-result-column3_bottom {
	width:145px;
	text-align: left;
}

.gwt-result-column4_top {
	width: 85px;
	text-align: center;
}

.gwt-result-column5 {
	width: 85px;
	text-align: center;
}

.gwt-result-column6_bottom, .gwt-result-column6_top {
	width: 85px;
	text-align: right;
	overflow: hidden
}

#gwtProviderResultTile table table:hover {
	background: #CCC;
}

#gwtProviderResultTile table table table:hover {
	background: none;
}

.gwt-controlPanel .gwt-Title {
	padding-bottom: 5px;
	color:#666666;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:10px;
	font-weight:700;
	text-align:left;
}

.gwt-controlPanel .gwt-Label {
	padding-bottom: 5px;
	color:#666666;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:10px;
	font-weight:400;
	text-align:center;
}

.gwt-controlPanel div div.gwt-totalProviderslbl {
	display: block; 
	width: auto; 
	float: left;
	background:#FFFFFF none repeat scroll 0%; 
	border:1px solid #333333; 
	font-weight:700; 
	padding:0pt 2px;
}

.gwt-controlPanel div div.gwt-selectedProviderslbl {
	display: block; 
	width: auto; 
	float: right; 
	background:#FFFFFF none repeat scroll 0%; 
	border:1px solid #333333; 
	font-weight:700; 
	padding:0pt 2px;
}



.gwt-ControlPanel .gwt-clear-float {
	clear: both; 
	height: 0px;
}
.gwt-CheckBox {
	font-size:10px; 
	border: 1px solid silver; 
	display: block; 
	float: left; 
	margin-bottom: 5px; 
	margin-right: 5px; 
	padding: 2px; 
	width: 95px;
}

.gwt-controlPanel .gwt-Title {
	padding-bottom: 5px;
	color:#666666;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:10px;
	font-weight:700;
	text-align:left;
}

.gwt-controlPanel .gwt-Label {
	padding-bottom: 5px;
	color:#666666;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:10px;
	font-weight:400;
	text-align:center;
}

.gwt-controlPanel div div.gwt-totalProviderslbl {
	display: block; 
	width: auto; 
	float: left;
	background:#FFFFFF none repeat scroll 0%; 
	border:1px solid #333333; 
	font-weight:700; 
	padding:0pt 2px;
}

.gwt-controlPanel div div.gwt-totalProviderslbl2 {
	display: block; 
	width: auto; 
	float: right; 
	background:#FFFFFF none repeat scroll 0%; 
	border:1px solid #333333; 
	font-weight:700; 
	padding:0pt 2px;
}


.gwt-ControlPanel .gwt-clear-float {
	clear: both; 
	height: 0px;
}

.gwt-CheckBox {
	font-size:10px; 
	border: 1px solid silver; 
	display: block; 
	float: left; 
	margin-bottom: 5px; 
	margin-right: 5px; 
	padding: 2px; 
	width: 95px;
}

.gwtModalZipEntry {
    background: #FFF;
    text-align: center;
    border: 5px solid #CCC;
    color:#666666;
    font-family:Verdana,Arial,Helvetica,sans-serif;
    font-size:10px;
    padding-bottom: 10px;
}

.gwtModalZipEntry td {
    text-align: center;
}

.gwtModalZipEntry .gwt-Label {
    color:#000;
    font-family:Verdana,Arial,Helvetica,sans-serif;
    font-size:14px;
    padding: 10px;
    font-weight: bold;
}

.gwtModalZipEntry .gwt-TextBox {
	margin-bottom: 10px;
	margin-right: 5px;
		}

.gwtModal-zipEntry-closebtn {
    text-align: right;
    background: #58585A;
    padding: 10px;
    font-size: 10px;
}

.gwtModal-zipEntry-closebtn a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
}

