

user=jencicd

path_to_private_key=/home/jboss/.ssh/id_rsa

all_marketplatform_hosts=hfqasl1svc01.vm.itg.corp.us.shldcorp.com
all_script_MarketPlatform_RemoteService=sl_marketplatform1
jenkins_path_MarketPlatform_RemoteService=$1/MarketPlatformRemoteService/MarketPlatform.RemoteService/target/dist/MarketPlatform.RemoteService.ear
all_deployables_MarketPlatform_RemoteService=/appl/sl_marketplatform1/deployables
log_file_path_MarketPlatform=/appl/sl_marketplatform1/jboss/log/jboss.thread
all_marketplatform_war_name=MarketPlatform.RemoteService.ear


all_wallet_remoteservices_hosts=hfqasl1svc01.vm.itg.corp.us.shldcorp.com
all_script_Wallet_RemoteService=sl_walletremote1
jenkins_path_Wallet_RemoteService=$1/Wallet/Wallet.RemoteService/target/dist/Wallet.RemoteService.ear
all_deployables_Wallet_RemoteService=/appl/sl_walletremote1/deployables
log_file_path_Wallet_RemoteService=/appl/sl_walletremote1/jboss/log/jboss.thread
all_walletremote1_war_name=Wallet.RemoteService.ear


all_OrderFulfillment_Service_hosts=hfqasl1svc01.vm.itg.corp.us.shldcorp.com
all_script_OrderFulfillment_Service=sl_order1
jenkins_path_OrderFulfillment_Service=$1/OrderFulfillment/OrderFulfillment.Service/target/dist/OrderFulfillment.Service.war
all_deployables_OrderFulfillment_Service=/appl/sl_order1/deployables
log_file_path_OrderFulfillment_Service=/appl/sl_order1/jboss/log/jboss.thread
all_sl_order1_war_name=OrderFulfillment.Service.war


all_OrderFulfillment_Jobs_hosts=hfqasl1svc01.vm.itg.corp.us.shldcorp.com
all_script_OrderFulfillment_Jobs=sl_orderjobs1
jenkins_path_OrderFulfillment_Jobs=$1/OrderFulfillment/OrderFulfillment.Jobs/target/dist/OrderFulfillment.Jobs.war
all_deployables_OrderFulfillment_Jobs=/appl/sl_orderjobs1/deployables
log_file_path_OrderFulfillment_Jobs=/appl/sl_orderjobs1/jboss/log/jboss.thread
all_sl_orderjobs1_war_name=OrderFulfillment.Jobs.war


all_solr_hosts=hfqasl1svc01.vm.itg.corp.us.shldcorp.com
all_script_solr=sl_solr
jenkins_path_solr=
all_deployables_solr=/appl/sl_solr/deployables


all_api_hosts=hfqasl1svc01.vm.itg.corp.us.shldcorp.com,hfqasl1svc01.vm.itg.corp.us.shldcorp.com
all_callback_hosts=hfqasl1svc01.vm.itg.corp.us.shldcorp.com
all_deployables_api=/appl/sl_api1/deployables,/appl/sl_api2/deployables
all_script_public=sl_api1,sl_api2
all_script_callback=sl_api1_callback
all_script_provider=sl_api1_provider,sl_api2_provider
jenkins_path_public=$1/MarketPublicAPI/dist/public.war
jenkins_path_callback=$1/MarketPublicCallbackAPI/dist/callback.war
jenkins_path_provider=$1/MarketProviderAPI/dist/provider.war
log_file_path_api=/appl/sl_api1/jboss/log/jboss.thread,/appl/sl_api2/jboss/log/jboss.thread
all_sl_api_war_name=public.war
all_callback_war_name=callback.war
all_provider_war_name=provider.war

all_mobile_hosts=hfqasl1svc01.vm.itg.corp.us.shldcorp.com
all_script_mobile=sl_mobileapi1
jenkins_path_mobile=$1/MarketPublicMobileAPI/dist/mobile.war
all_deployables_mobile=/appl/sl_mobileapi1/deployables
log_file_path_mobileapi=/appl/sl_mobileapi1/jboss/log/jboss.thread
all_sl_mobileapi_war_name=mobile.war


all_batch_hosts=hfqasl1bat01.vm.itg.corp.us.shldcorp.com
all_deployables_batch=/appl/sl_batch1/deployables
all_script_MarketBatch=MarketBatch
jenkins_path_MarketBatch=$1/MarketBatch/dist/MarketBatch.war
all_script_spn_batch=spn
jenkins_path_spn=$1/SPNWeb/target/dist/spn.war
log_file_path_batch=/appl/sl_batch1/jboss/log/jboss.thread
all_sl_batch_war_name=MarketBatch.war
all_sl_spn_batch_war_name=spn.war


all_batchpymt_hosts=hfqasl1bat01.vm.itg.corp.us.shldcorp.com
all_script_batchpymt=WalletBatch
jenkins_path_batchpymt=$1/Wallet/Wallet.Batch/target/dist/Wallet.Batch.war
all_deployables_batchpymt=/appl/sl_batchpymt1/deployables
log_file_path_batchpymt=/appl/sl_batchpymt1/jboss/log/jboss.thread
all_sl_batchpymt_war_name=Wallet.Batch.war


all_b2cActivityLog_hosts=hfqasl1bat01.vm.itg.corp.us.shldcorp.com
all_script_b2cActivityLog=sl_b2cActivityLog
jenkins_path_b2cActivityLog=
all_deployables_b2cActivityLog=/appl/sl_b2cActivityLog/deployables


all_mdb_hosts=hfqasl1bat01.vm.itg.corp.us.shldcorp.com
all_script_mdb=WalletValueLinkEJB
jenkins_path_mdb=$1/Wallet/Wallet.ValueLink.EJB/target/dist/Wallet.ValueLink.EJB.ear
all_deployables_mdb=/appl/sl_mdb1/deployables
log_file_path_mdb=/appl/sl_mdb1/jboss/log/jboss.thread
all_sl_mdb_war_name=Wallet.ValueLink.EJB.ear


all_srv_hosts=hfqasl1bat01.vm.itg.corp.us.shldcorp.com
all_script_srv=sl_srv1
jenkins_path_srv=$1/MarketWebServices/marketws.war
all_deployables_srv=/appl/sl_srv1/deployables
log_file_path_srv=/appl/sl_srv1/jboss/log/jboss.thread
all_sl_srv_war_name=marketws.war

all_marketfrontend_hosts=hfqasl1app01.vm.itg.corp.us.shldcorp.com
jenkins_path_MarketFrontend=$1/MarketFrontend/MarketFrontend.war
jenkins_path_ServiceLiveWebUtil=$1/ServiceLiveWebUtil/ServiceLiveWebUtil.war
jenkins_path_spn=$1/SPNWeb/target/dist/spn.war
jenkins_path_BuyerSurvey=
all_script_MarketFrontend=MarketFrontend
all_script_ServiceLiveWebUtil=ServiceLiveWebUtil
all_script_spn=spn
all_script_BuyerSurvey=
all_deployables_marketfrontend=/appl/sl_frontend1/deployables
log_file_path_frontend=/appl/sl_frontend1/jboss/log/jboss.thread
all_sl_frontend_war_name=MarketFrontend.war
all_sl_ServiceliveWebUtil_war_name=ServiceLiveWebUtil.war
all_sl_spn_war_name=spn.war


all_webserver_hosts=trqasldmzweb03.vm.itg.corp.us.shldcorp.com
jenkins_path_ServiceLiveWebUtil=$1/ServiceLiveWebUtil/ServiceLiveWebUtil.war
jenkins_path_StaticWeb=$1/StaticWeb/target/dist/StaticWeb.war
all_WebServer_Path=/var/www/servicelive
all_ServiceLiveWebUtil_WebServer_Path=/var/www/servicelive/ServiceLiveWebUtil
all_StaticWeb_WebServer_Path=/var/www/servicelive/StaticWeb
