.bottom-nav-button {
    font-weight: bold;
    min-height: 40px;
    min-width: 200px;
}

.ok-button-width {
    width: 200px;
}

.close-button {
    float: right;
    font-size: 20px;
}

.modal-popup-custom .modal-footer {
  text-align: center;
}

.modal-popup-custom .form-group {
  margin-bottom: 5px;
}

.loading-msg {
    font-weight: bold;
    font-size: 16px;
}