.border-box {
  border: 3px solid rgba(54,54,54,.6);
  font-size: 13px;
  text-align: center;
  min-height: 80px;
  width: 100%;
  border-radius: 5px;
  outline: 0;
  cursor: pointer;
  background: none;
  margin: 10px;
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  color:#545454;
}

.selected {
  border: 3px solid #E87B14;
  color: #E87B14;
}

.selected > span {
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 5px;
}

