/* IE8 Specific Styles
====================================================================== */
.ie8 body {
	background: #58585A;
}

.ie8 .header img {
	padding-top:15px;
}

.ie8 .visible-md,
.ie8 .visible-lg {
    display: block !important;
}

.ie8 .secondary-nav li {
	display: inline-block;
	float: left;
	border-left: 1px solid;
}

.ie8 .secondary-nav li:first-child {
	border-left: none;
}

.ie8 .secondary-nav li a {
	padding: 0 5px;
}

.ie8 .navbar-toggle {
	display: none;
}

.ie8 .navbar-collapse {
	border-top: none;
}

.ie8 .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    overflow: visible !important;
    padding-bottom: 0;
}

.ie8 .navbar {
	background: url(http://provider.servicelive.com/ServiceLiveWebUtil/images/nav/navbg.gif) repeat-x;
	border-top: 1px solid #C0C0C0;
	padding-top: 4px;
	padding-left: 15px;
}

.ie8 .navbar-default .navbar-nav {
	list-style: none;
	float: left;
}

.ie8 .navbar-nav > li {
	float: left;
	display: block;
    position: relative;
}

.ie8 .navbar-default .navbar-nav > li > a {
	padding: 5px 10px;
	margin-right: 4px;
	display: block !important;
}

.ie8 .navbar-default .navbar-nav > li > a:hover, 
.ie8 .navbar-default .navbar-nav > li > a:focus {
	text-decoration: none;
}

.ie8 .navbar-right {
	float: right !important;
}

.ie8 .navbar-right .dropdown-menu {
	left: -45px;
	border-color: #555;
}