* {
	margin: 0px;
	padding: 0px;
}

body,td,th {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #666;
}

body {
	background-color: #e8ebec;
}

a {
	font-size: 13px;
	color: #339999;
	font-family: Verdana, Geneva, sans-serif;
}
a:link {
	text-decoration: none;
	font-weight: bold;
}
a:visited {
	text-decoration: none;
	color: #339999;
	font-weight: bold;
}
a:hover {
	text-decoration: none;
	color: #339999;
	font-weight: bold;
}
a:active {
	text-decoration: none;
	color: #339999;
	font-weight: bold;
}

a img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

h1 {
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 24px;
	color: #333;
}
h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #00a0d2;
}
h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #000;
}
h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #000;
}
h5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333;
}
h6 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #990000;
}
p {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	color: #333;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	margin-left: 10px;
	line-height: 18pt;
	text-align: left;
}
#pageWrapper {
	padding: 0px;
	width: 1000px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 40px;
	margin-left: auto;
	background-color: #FFF;
	height: auto;
	border: 1px solid #ebebeb;
}
#navBanner {
	padding: 0px;
	width: auto;
	background-color: #FFF;
	height: 36px;
	border: 1px solid #ebebeb;
	background-image: url(../assets/navigationBannerBar.jpg);
	background-repeat: repeat-x;
	margin: 0px;
}
#contentWrapper {
	padding: 0px;
	width: auto;
	background-color: #FFF;
	height: 36px;
	border: 1px solid #ebebeb;
	background-image: url(../assets/navigationBannerBar.jpg);
	background-repeat: repeat-x;
	margin: 0px;
}
#mainPageHeader {
	padding: 0px;
	width: auto;
	background-color: #FFF;
	height: auto;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#mainContentFrame {
	width: auto;
	background-color: #FFF;
	height: auto;
	border: 1px solid #ebebeb;
	margin: 20px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
}
#contentCallout {
	width: auto;
	background-color: #e8ebec;
	height: auto;
	border: 1px solid #CCC;
	margin: 20px;
	padding: 20px;
}
#pageWrapper #footerNav{
	width: auto;
	height: 32px;
	margin-right: auto;
	margin-left: auto;
}
#pageWrapper #footerNav a {
	width: 160px;
	height: 32px;
	text-align: center;
	vertical-align: middle;
	display: block;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../assets/buttonPic.png);
	background-repeat: no-repeat;
	background-position: left top;
}
#pageWrapper #footerNav a: hover {
	width: auto;
	height: 32px;
	text-align: center;
	vertical-align: middle;
	display: block;
	margin-right: auto;
	margin-left: auto;
}



.codeText {
	font-family: "Courier New", Courier, monospace;
	font-size: 10pt;
	font-style: normal;
	color: #036;
	text-align: left;
	line-height: 14pt;
}
