* {
	margin: 0px;
	padding: 0px;
}

body,td,th {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #666;
}

body {

}

a {
	font-size: 13px;
	color: #339999;
	font-family: Verdana, Geneva, sans-serif;
}
a:link {
	text-decoration: none;
	font-weight: bold;
}
a:visited {
	text-decoration: none;
	color: #339999;
	font-weight: bold;
}
a:hover {
	text-decoration: none;
	color: #339999;
	font-weight: bold;
}
a:active {
	text-decoration: none;
	color: #339999;
	font-weight: bold;
}

a img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

h1 {
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 24px;
	color: #333;
}
h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #00a0d2;
	font-weight: normal;
}
h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #000;
	font-weight: normal;
}
h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #000;
	font-weight: normal;
}
h5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333;
	font-weight: bold;
}
h6 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #990000;
	font-weight: bold;
}
p {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	color: #333;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	margin-left: 10px;
	line-height: 18pt;
	text-align: left;
}
#popupWrapper {
	padding: 0px;
	width: 780px;
	margin-top: 30px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	background-color: #FFF;
	height: 580px;
	border: 1px solid #CCCCCC;
}
#mainPageHeader {
	padding: 0px;
	width: auto;
	height: auto;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#mainContentFrame {
	width: auto;
	background-color: #FFF;
	height: 460px;
	border: 1px solid #CCC;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-left: 0px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	margin-left: 10px;
}
.headerColorChange {
	color: #333;
}
.hangingIndent {
	color: #333;
	text-indent: -20px;
	padding-left: 30px;
	padding-right: 15px;
}
