.bannerDiv{border-left: 0 none;
           border-right: 0 none;
           border-top: 0 none;
           font-weight: normal;
           font-family: sans-serif;
           padding: 7px 4px;
           text-align: center;
           background: none repeat scroll 0 0 #FFF1A8;
           border: 1px solid #CCCCCC;
           color: #222222;
           padding: 5px;
           height:15px;
           font-size:12px;
           position:fixed;
           top:0px;
           width:100%;
           z-index: 999999999;
          
} 
.ie7 .bannerDiv {margin-left:-200px;}
.ie7 #bannerAdjustDiv {padding-top:30px;}
.ie7 #header {padding-top:30px;}
.ie7 #bannerAdjustDiv  #header {padding-top:0px;}


