.loader, .loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
/*old*/
/*.loader {
  z-index: 99;
  margin: 60px 460px;
  font-size: 10px;
  position: absolute;
  text-indent: -9999em;
  border-top: 1.1em solid white;
  border-right: 1.1em solid white;
  border-bottom: 1.1em solid white;
  border-left: 1.1em solid #286090;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}*/

.loader {
  left: 50%;
  top: 50%;
  z-index: 99;
  margin: -75px 0 0 -75px;
  font-size: 10px;
  width: 80px;
  height: 80px;
  position: absolute;
  text-indent: -9999em;
  border-top: 1.1em solid white;
  border-right: 1.1em solid white;
  border-bottom: 1.1em solid white;
  border-left: 1.1em solid #286090;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

/*.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}*/


.text-loader {
  left: 38%;
  top: 55%;
  z-index: 99;
  font-size: 18px;
  position: absolute;
  /*position: fixed;*/
  color: black;
}

.overlay {
    z-index: 90;
    background: lightgray;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
}

.profile-text-loader{
  left: 43%;
  top: 51%;
  z-index: 99;
  font-size: 18px;
  position: absolute;
  /*position: fixed;*/
  color: black;
}
.coverage-text-loader{
  left: 35%;
  top: 51%;
  z-index: 99;
  font-size: 18px;
  position: absolute;
  /*position: fixed;*/
  color: black;

}

.rate-card-loader{
  left: 31%;
  top: 55%;
  z-index: 99;
  font-size: 18px;
  position: absolute;
  /*position: fixed;*/
  color: black;

}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}