.fix-image-container {
  position: relative;
  padding: 1px;
  z-index: 10;
  float: left;
  margin-left: -20px;
  text-align: -webkit-center;
  /* min-height: 130px;
  max-height: 157px; */
}

.hide-upload-logo:hover {
  visibility: visible;
}

.hide-upload-logo {
  visibility: hidden;
}

.image-text-overlay {
  /* position: absolute;
  top: 0%;
  left: 0;
  width: 100%; */
  padding: 15px;
  cursor: pointer;
}

.image-text-overlay-edit {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  padding: 5px;
  text-align: right;
  font-weight: bold;
  cursor: pointer;
}

.image-fix {
  position: relative;
  max-width: 250px;
  min-height: 100px;
  max-height: 127px;
  margin: 0 auto;
  padding: 0;
}

.close-button {
  float: right;
  font-size: 20px;
  color: #337ab7;
  cursor: pointer;
}

.save-button-width {
  width: 200px;
}

.upload-header-text {
  font-size: 20px;
}

.border-style-all {
  border-color: #cccccc;
  border-width: 1px;
  border-style: dotted;
}

.padding-upload-box {
  padding: 47px 10px;
}

.blank-img-position {
  padding: 80px 80px 80px 100px;
  margin-left: 20px;
  margin-top: 25px;
  margin-bottom: 7px;
  height: 185px;
  width: 260px;
}

.filled-img-container {
  padding: 10px;
  margin-left: 10px;
  margin-top: 25px;
  height: 180px;
  min-width: 270px;
}

.edit-symbol-ui {
  background: white;
  padding: 2px;
}

.north {
  transform: rotate(0deg);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Safari and Chrome */
}
.west {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari and Chrome */
}
.south {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Safari and Chrome */
}
.east {
  transform: rotate(270deg);
  -ms-transform: rotate(270deg); /* IE 9 */
  -webkit-transform: rotate(270deg); /* Safari and Chrome */
}

/** Modal Styles */
.modal-popup-custom .inline-control-width {
  width: 132px;
}

.modal-popup-custom .footer-button {
  width: 129px;
  border-radius: 0px;
}

.modal-popup-custom .modal-footer {
  text-align: center;
}

.modal-popup-custom .form-control {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 0px;
  font-size: 12px;
  height: 25px;
}

.modal-popup-custom .btn-plus-minus {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 0px;
  font-size: 14px;
  height: 25px;
}

.modal-popup-custom .coverage-fix-control-width {
  width: 130px;
}

.modal-popup-custom .text-input {
  max-width: 268px;
  min-height: 100px;
}

.modal-popup-custom .form-group {
  margin-bottom: 5px;
  display: inline-block;
}

.modal-popup-custom .overview-max-width-height {
  max-width: 568px;
  min-height: 60px;
}

.modal-popup-custom .modal-body {
  line-height: 2em;
}
