body {font: .9em normal Arial,sans-serif;}
.ui-datepicker, .ui-widget {font-size:90%;}
#wrapper {width:910px; border: 1px solid red; padding: 20px; margin:auto; background-color: #eee; position:relative;}
.ltCorner, .rtCorner, .lbCorner, .rbCorner{position:absolute; width:10px; height:10px; line-height:0; display:inline-block; padding:0; margin:0; background:#fff; color:#fff;}
.ltCorner {left:-1px; top:-1px; border-right:1px solid red; border-bottom:1px solid red; border-left:1px solid white; border-top:1px solid white;}
.rtCorner {right:-1px; top:-1px; border-left:1px solid red; border-bottom:1px solid red; border-right:1px solid white; border-top:1px solid white;}
.lbCorner {left:-1px; bottom:-1px; border-left:1px solid white; border-bottom:1px solid white; border-right:1px solid red; border-top:1px solid red;}
.rbCorner {right:-1px; bottom:-1px; border-left:1px solid red; border-bottom:1px solid white; border-right:1px solid white; border-top:1px solid red;}
li {margin-bottom:10px;}
#home {position:absolute; right:20px;}


#sortedTable {margin:auto; background: #fff; font-size:90%;}
#sortedTable th, #sortedTable td {width:150px; padding:4px; border-right:1px solid #333;border-bottom:1px solid #333;}
#sortedTable th {background-color:#666; color: #fff; cursor: pointer;}

.headerSortDown {background:transparent url(/ServiceLiveWebUtil/images/grid/arrow-down-white.gif) no-repeat scroll 115px 11px;}
.headerSortUp {background:transparent url(/ServiceLiveWebUtil/images/grid/arrow-up-white.gif) no-repeat scroll 115px 11px;}
