/* ie stylesheet */
/* indented items are for ie6 only, everything else is for all versions */

body.simple #header {
	height: 118px;
}

div.lbl input.checkbox {
	margin:  0;padding: 0;
}

div.lbl {
	display: block;
	width: 97px;
	border:  1px solid silver;
	float: left;
	margin-right: 5px;
	margin-bottom:  5px;
	padding:  0px;
}

.filterform .second {
	width: 220px	;
}

.filterform .cf {
	height: 100px;
}

.filterform .third {
	width: 110px;
	overflow: hidden;
	
}

#serviceFinder {
	margin-top:  0px;
	height:  60px;
}

#newSo {
	margin-top:  0px;
}

#hpServiceListing .content {
	padding-bottom:  0px;
	margin-bottom:  -6px;
}

#hpProviders {
	width:  291px;
	height:  104px;
}

	* html #hpLiveMonitor {
		height: 66px;
		width:  297px;
	}

#hpProviders p {
	line-height:12px;
	width:140px;
	margin:  0px;
	margin-top:  -6px;
}

#hpProviders .joinLink {
	height: 35px;
}

body.acquity .column1 {
	padding-left: 10px;
	width:  20px;
}

.sb {
	width:  290px;
}

label.lbl {
	width:  120px;
	padding:  0px;
	font-size:  9px;
	margin-bottom:  20px;
}

#account {
	margin-right:  16px;
}

label.label input {
	margin:  0;
	padding:  0;
}
	* html .jqmWindow, * html .jqmWindowSteps, * html .jqmWindowThin {
    	position: absolute;
     	top: 17px;
	}
.hpDescribe h2 {
	padding: 10px;
	height: 10px;
}

a.req {
	color: red;
}

.submitnext {
	width: 202px;
	padding: 10px 2px;
}

tr.weekdays td {
	width: 90px;
}

.offerings th { 
	font-size: 12px;
}

.zipCov {
	width: 269px;
}

.submittext {
	width: 300px;
}

#existingAddress div.left, #existingAddress div.right, #existingAddress div.unselected {
	width: 300px;
}
#hpFundingInfo dt {
	width: 220px;
}
#hpFundingInfo, #hpSinfo  {
	width: 310px;
}

#hpFundingInfo {
	height: 248px;
}

.widget {
	width: 280px;
}

#servicefinder {
	width: 300px;
}

#newAddress input.checkbox {
	margin: 0;
	padding: 0;
	margin-top: -4px;
}

.providerLanding div.col2 {
	width: 340px;
}

#providerMap {
	overflow: hidden;
	padding: 0;
	padding-bottom: 5px;
}

.zipCov {
	width: 250px;
}

.providerLanding .col1a {width: 200px;  float: left; margin-left: 20px;margin-top: 60px;  }
.providerLanding .col2 {font-size: 12px;margin-left: 20px;color: #1b1b1b;width: 370px;float: left; margin-top: 70px;}
.providerLanding .col3 {float: left; width: 306px; margin-left: 20px; margin-top: 70px;}
