/* @group general */

/* @group grey boxes */
.greyBoxBotL {
	background: #F6F6F6 url(../images/homepage/acquity/boxGreyBotL.gif) no-repeat left bottom;
}
.greyBoxBotR {
	background: url(../images/homepage/acquity/boxGreyBotR.gif) no-repeat right bottom;
	
}
.greyBoxTopR {
	background: url(../images/homepage/acquity/boxGreyTopR.gif) no-repeat right top;
}
.greyBoxTopL {
	background: url(../images/homepage/acquity/boxGreyTopL.gif) no-repeat left top;
}
.greyBoxHeaderTopR {
	background: url(../images/homepage/acquity/boxGreyHeaderTopR.gif) no-repeat right top;
}
.greyBoxHeaderTopL {
	background: url(../images/homepage/acquity/boxGreyHeaderTopL.gif) no-repeat left top;
}
/* @end steps */

/* @end general */
.blue{
	color:#00a0d2;
}








/* @group header */

/* @group header-left */

#logo {
	top: 0px;
	width: 200px;
}
#tagline {
	position: absolute;
	left: 26px;
	top: 49px;
}
body.acquity #mainNav {
	margin-top: 12px;
}

html body.acquity #page_margins {
	background-position: 0 98px;
}
#page #auxNav {
	top:  78px;
}
/* @end header-left */





/* @group header-right */
#header #topNav{
	padding-top:0;
	right:5px;
	text-align:right;
	top:-10px;
	width:400px;
}
#tollfreenumber {
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 2px;
	color: #85191a;
}
#tollfreenumber a:link,
#tollfreenumber a:visited,
#tollfreenumber a:hover,
#tollfreenumber a:active {
	color: #58585A;
	text-decoration: none;
}
fieldset {
	border: none;
	margin: 10px 0 0 0;	
}
#headerLogin label {
	/* display: none; Commented out to fix for SL-5227*/
	padding: 0;
}
table#headerLogin{
	margin-top: 2px;
}
#headerLogin input {
	color:  #666;
}
#headerLogin td {
	text-align: left;
}
#headerLogin td#headerLoginSubmit{
	text-align: right;
}
#headerLogin input.loginBox {
	background:#FFFFFF none repeat scroll 0 0;
	border:1px solid #7F9DB9;
	font-family:verdana;
	font-size:9px;
	padding:1px 1px 2px;
}

td#usernampassword {
	text-align: right;
}

/* @end header-right */
/* @end header */



/* @group content-left */
/* @group hero */
#hpContent  #hpHero {
	background:transparent url(..//images/homepage/homepageShelfLady.png) no-repeat scroll 0 0;
}
#hpContent  #hpHero h1{
	font-size: 24px;
	font-family: Helvetica, Arial, sans-serif;
	font-stretch: condensed;
	line-height:  31px;
	padding:  23px 10px 0 330px;
}
#hpContent  #hpHero h1 a:link, 
#hpContent  #hpHero h1 a:visited,
#hpContent  #hpHero h1 a:hover,
#hpContent  #hpHero h1 a:active{
	color:  #666;
	text-decoration: none;
}


/* @end hero */


/* @group hpEnterZip */
#hpEnterZip {
	background: #7DBE0C url(../images/homepage/acquity/getstarted-arrow.gif) no-repeat left 0;
	height: 31px;
	padding: 7px 12px 0 0;
}

input.hpEnterZipZip {	
	border:  1px solid #9F9F9F;
	color:  #666;
	padding: 2px 0 0 2px;
	margin-right: 4px;
	width: 103px;
	height: 20px;
}
input.hpEnterZipSubmit {	
	margin-top: 2px;
}
#hpEnterZipFieldWrapper {
	float: right;
}
#hpEnterZipFieldWrapper * {
	float:  left;
	
}


/* @end hpEnterZip */


/* @group steps */
#hpSteps {
	background: #E2EDCF url(../images/homepage/acquity/stepsBGR.gif) right bottom;
}
#hpStepsInside {
	/* Commenting out for SL-5482 
	background: url(../images/homepage/acquity/stepsBGL.gif) no-repeat left bottom; */
	width: 630px; /* IE fix */
}
#hpSteps h2{
	margin:  0;
	font-size: 13px;
}
#hpStepsInside ol{
	margin:  0;
	padding: 0;
}
#hpSteps .stepNum1,
#hpSteps .stepNum2,
#hpSteps .stepNum3 {
	float: left;
	list-style-type: none;
	line-height: 15px;
}
#hpSteps .stepNum1{
	background: url(../images/homepage/acquity/home-steps-1.gif) no-repeat 9px top;
	padding:  16px 10px 15px 36px;
	width: 177px;
}
#hpSteps .stepNum2{
	background: url(../images/homepage/acquity/home-steps-2.gif) no-repeat left top;
	padding:  16px 10px 15px 47px;
	width: 118px;
}
#hpSteps .stepNum3{
	background: url(../images/homepage/acquity/home-steps-3.gif) no-repeat left top;
	padding:  16px 20px 15px 47px;
	width: 162px;
}
#hpSteps .learnmore {
	text-align: right;
	margin-top: 7px;
}
#stepsShadow {
	background: url(../images/homepage/acquity/stepsShadow.jpg) no-repeat left top;
	height: 25px;
}
/* @end steps */





/* @group categories */

#hpCategories {
	padding: 10px 0 15px 15px;
}
#hpCategories ul {
	list-style-type: none;
	float: left;
	padding: 0;
	margin:  10px 15px 10px 0;
	width: 187px;
}

#hpCategories li {
	border-bottom: 1px solid #C0C0C0;
	padding: 7px 0;

}
#hpCategories li.last {
	border-bottom: none;
}


#hpCategories ul ul{
	float: none;
	padding: 0 4px 0 25px;
	line-height: 14px;
	margin: 0;
	width: 150px;
	display: none;
	
}
#hpCategories li li{
	border-bottom: none;
	padding:  1px 0;
	margin-right: 0;
/*	list-style-type: disc;*/
}


/* @end categories */
/* @end content-left */











/* @group hpSidebar */

#page #hpSidebar {
	width: 323px;
	padding: 10px 0 0 0;	
}
#hpSidebar ul{
	list-style-type: none;
}
div.hpSidebarBox {
	width: 323px; /*IE FIX */
}


/* @group hpTestimonials */

#hpTestimonials h5{
	dispaly: none;
}
#hpTestimonials li{
	background: url(../images/homepage/acquity/testimonialQuote.gif) no-repeat 17px 14px;
	padding: 19px 37px;
	line-height: 15px;
	/* This shides testimonials */
	display: none; 
}
.hpTestimonialsAuthor,
.hpTestimonialsStars {
	text-align: right;
	font-style: italic;
	padding-top: 5px;
}
.pics {  /* jQuery "Cycling" */
    height:  100px; 
    width: 100px; 
 } 
 
/* @end hpTestimonials */









/* @group hpJoinServiceProvider */
li#hpJoinServiceProvider{
	background: url(../images/homepage/acquity/JoinServiceProviderBGL.jpg) no-repeat left top;
	height: 156px;
	margin-top:  15px;
}
#hpJoinServiceProviderInside {
	background: url(../images/homepage/acquity/JoinServiceProviderBGR.jpg) no-repeat right top;
	height: 156px;
}
.hpJoinServiceProviderContent {
	padding:  0 20px 10px 100px;
}
#hpJoinServiceProvider strong a:link,
#hpJoinServiceProvider strong a:visited,
#hpJoinServiceProvider strong a:hover,
#hpJoinServiceProvider strong a:active {
	color:  #666;
	text-decoration: none;
}
#hpJoinServiceProvider h5 a:link,
#hpJoinServiceProvider h5 a:visited,
#hpJoinServiceProvider h5 a:hover,
#hpJoinServiceProvider h5 a:active {
	color:  #555;
	text-decoration: none;
}
#hpJoinServiceProvider h5{
	padding: 15px 0 18px   20px;
	font-size: 12px;
}
/* @end hpJoinServiceProvider */







/* @group hpAboutServiceProviders */

li#hpAboutServiceProviders{
	margin-top:  15px;
}
#hpAboutServiceProvidersInside{
	font-size: 11px;
	line-height: 15px;
	padding:  15px 22px;
}
#hpAboutServiceProviders h5{
	font-size: 12px;
}




/* @group hpBackgroundCheck */

#hpBackgroundCheck h6 {
	diaplay: none;
}
#hpAboutServiceProviders  li#hpBackgroundCheck {
	border-bottom: 1px solid #D1D1D1;
	padding:  18px 0 19px;
}
#hpAboutServiceProviders  li#hpBackgroundCheck img{
	float:  left;
	margin: 0 16px 0 4px;
}
/* @end hpBackgroundCheck */




/* @group hpAverageRating */

li#hpAverageRating,
li#hpAboutNumOfProviders {
	padding:  15px 0 0;
	text-align: center;
	width: 47%;
	font-size: 10px;
	font-weight: bold;
}
li#hpAverageRating {
	float: left;
}
li#hpAverageRating img,
li#hpAboutNumOfProviders img {
	margin-top:  2px;
}
li#hpAverageRating h6,
li#hpAboutNumOfProviders h6 {
	display: none;
}
/* @end hpAverageRating */


/* @group hpAboutNumOfProviders */
li#hpAboutNumOfProviders {
	float: right;
}
/* @end hpAboutNumOfProviders */
/* @end hpAboutServiceProviders */
/* @end hpSidebar */



/* @group modals */
/* @group modalUserTypeChoose */

#modalUserTypeChoose .modalContent{
	margin: 0 0 0 5px;
	color: #9E9D9D;
	text-align: left;
}
#modalUserTypeChoose h2{
	font-size: 14px;
	color:  #333;
}
span#userTypeCommercial,
span#userTypeHomeOffice {
	margin: 1px 8px 0 5px;
	float: left;
	font: bold 15px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
html>body span#userTypeCommercial,
html>body span#userTypeHomeOffice {
	margin-top: 0;
}
#userTypeHomeOffice{
	color: #029C23;
}
#userTypeCommercial{
	color: #9573CD;
}
span.TypeDescription {
	display: block;
	clear: both;
	font-size: 11px;
	margin-left:  20px;
	
}
#modalUserTypeChoose input,
#modalUserTypeChoose img{
	float:  left;
}
#modalUserTypeChoose input {
	margin-top: -1px;
	padding:  0;
}
html>body #modalUserTypeChoose input {
	margin-top: 2px;
}

#modalUserTypeChoose label{
	margin-bottom: 10px;
	display: block;

}
#modalUserTypeChoose label*{
	vertical-align: middle;
}
#modalUserTypeChoose .findProv {
	float: right;
}




/* @end modalUserTypeChoose */


/* @group modalDefineTerms */
.modalDefineTerms h3{
	background-color: #bbb;
	padding: 2px 6px;
	margin: 20px 0 8px 0;
	color: #fff;
}
.modalDefineTerms {
	text-align: left;
}
.modalDefineTerms p {
	font-size: 12px;
	line-height: 16px;
	color:  #333;
	margin-bottom:  12px;
}
.modalDefineTerms input {
	float: right;
	margin:  15px 0;
}


/* @end modalDefineTerms */
/* @end modals */

#modalUserCategory .modalContent{
	margin: 0 0 0 5px;
	color: #9E9D9D;
	text-align: left;
}
#modalUserCategory h2{
	font-size: 14px;
	color:  #333;
}
span#userTypeCommercial,
span#userTypeHomeOffice {
	margin: 1px 8px 0 5px;
	float: left;
	font: bold 15px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
html>body span#userTypeCommercial,
html>body span#userTypeHomeOffice {
	margin-top: 0;
}
#userTypeHomeOffice{
	color: #029C23;
}
#userTypeCommercial{
	color: #9573CD;
}
span.TypeDescription {
	display: block;
	clear: both;
	font-size: 11px;
	margin-left:  20px;
	
}
#modalUserCategory input,
#modalUserCategory img{
	float:  left;
}
#modalUserCategory input {
	margin-top: -1px;
	padding:  0;
}
html>body #modalUserCategory input {
	margin-top: 2px;
}

#modalUserCategory label{
	margin-bottom: 10px;
	display: block;

}
#modalUserCategory label*{
	vertical-align: middle;
}
#modalUserCategory .findProv {
	float: right;
}


/*
#modalUserFundPay.modalContent{
	margin: 0 0 0 5px;
	color: #9E9D9D;
	text-align: left;
}
#modalUserFundPayh2{
	font-size: 14px;
	color:  #333;
}
span#userTypeCommercial,
span#userTypeHomeOffice {
	margin: 1px 8px 0 5px;
	float: left;
	font: bold 15px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
html>body span#userTypeCommercial,
html>body span#userTypeHomeOffice {
	margin-top: 0;
}
#userTypeHomeOffice{
	color: #029C23;
}
#userTypeCommercial{
	color: #9573CD;
}
span.TypeDescription {
	display: block;
	clear: both;
	font-size: 11px;
	margin-left:  20px;
	
}
#modalUserFundPayinput,
#modalUserFundPayimg{
	float:  left;
}
#modalUserFundPayinput {
	margin-top: -1px;
	padding:  0;
}
html>body #modalUserFundPayinput {
	margin-top: 2px;
}

#modalUserFundPaylabel{
	margin-bottom: 10px;
	display: block;

}
#modalUserFundPaylabel*{
	vertical-align: middle;
}
#modalUserFundPay.findProv {
	float: right;
}




#modalUserPreScreened .modalContent{
	margin: 0 0 0 5px;
	color: #9E9D9D;
	text-align: left;
}
#modalUserPreScreened h2{
	font-size: 14px;
	color:  #333;
}
span#userTypeCommercial,
span#userTypeHomeOffice {
	margin: 1px 8px 0 5px;
	float: left;
	font: bold 15px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
html>body span#userTypeCommercial,
html>body span#userTypeHomeOffice {
	margin-top: 0;
}
#userTypeHomeOffice{
	color: #029C23;
}
#userTypeCommercial{
	color: #9573CD;
}
span.TypeDescription4 {
	display: block;
	clear: both;
	font-size: 11px;
	margin-left:  20px;
	
}
#modalUserPreScreened input,
#modalUserPreScreened img{
	float:  left;
}
#modalUserPreScreened input {
	margin-top: -1px;
	padding:  0;
}
html>body #modalUserPreScreened input {
	margin-top: 2px;
}

#modalUserPreScreened label{
	margin-bottom: 10px;
	display: block;

}
#modalUserPreScreened label*{
	vertical-align: middle;
}
#modalUserPreScreened .findProv {
	float: right;
}



#modalUserCandidates .modalContent{
	margin: 0 0 0 5px;
	color: #9E9D9D;
	text-align: left;
}
#modalUserCandidates h2{
	font-size: 14px;
	color:  #333;
}
span#userTypeCommercial,
span#userTypeHomeOffice {
	margin: 1px 8px 0 5px;
	float: left;
	font: bold 15px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
html>body span#userTypeCommercial,
html>body span#userTypeHomeOffice {
	margin-top: 0;
}
#userTypeHomeOffice{
	color: #029C23;
}
#userTypeCommercial{
	color: #9573CD;
}
span.TypeDescription {
	display: block;
	clear: both;
	font-size: 11px;
	margin-left:  20px;
	
}
#modalUserCandidates input,
#modalUserCandidates img{
	float:  left;
}
#modalUserCandidates input {
	margin-top: -1px;
	padding:  0;
}
html>body #modalUserCandidates input {
	margin-top: 2px;
}

#modalUserCandidates label{
	margin-bottom: 10px;
	display: block;

}
#modalUserCandidates label*{
	vertical-align: middle;
}
#modalUserCandidates .findProv {
	float: right;
}
*/

.categorybox {
	width:130px;
	float:left;
	/* Use this padding instead of an .innerbox margin to work in IE 7 */
	padding:10px;

}

.categoryWrap {
	margin:10px auto 0;
	width:600px;
	/* Use this padding instead of an .innerbox margin to work in IE 7 */
	padding:10px;

}








