.contactInfo .column1{font-weight:700;width:200px;}
.mngBuyerUsersHdr{width:640px;}
.mngBuyerUsersHdr td{padding:0;vertical-align:middle;}
.mngBuyerUsersHdr .column1,.mngBuyerUsers .column1{padding-left:14px;width:70px;}
.mngBuyerUsersHdr .column2,.mngBuyerUsers .column2{width:150px;}
.mngBuyerUsersHdr .column3,.mngBuyerUsers .column3{width:200px;}
.mngBuyerUsersHdr .column4,.mngBuyerUsers .column4{width:200px;text-align:right;}
.mngBuyerUsersHdr .column4{padding-right:20px;}
table.scrollerTableHdr1{width:700px;}
table.scrollerTableHdr{width:100%; margin-top:10px;}
.mngBuyerUsersHdr .column1{width:50px;}
.mngBuyerUsersHdr .column2{width:200px;}
.mngBuyerUsersHdr .column3{width:200px;}
.mngBuyerUsersHdr .column4{width:50px;}
.mngBuyerUsers .column4{width:200px;text-align:right;padding-right:20px;}
.mngBuyerUsers td{padding:10px 0;}
.mngUsersHdr{width:640px;}
.mngUsersHdr .column1,.mngUsers .column1{padding-left:14px;width:70px;}
.mngUsersHdr .column2,.mngUsers .column2{width:150px;}
.mngUsersHdr .column3,.mngUsers .column3{width:160px;padding-right:10px;}
.mngUsersHdr .column4,.mngUsers .column4{width:230px;text-align:right; padding-right: 10px;}
.mngUsersHdr .column4{padding-right:20px;}
.mngUsers th{padding:10px 0px; background: #000; color: #EEE;}
.mngUsers td{padding:5px;}
.mngProvUsersHdr{width:668px;}
.mngProvUsersHdr td{padding:5px 0;}
.mngProvUsers{width:648px;}
.mngUsers td.column4, mngUsers th.column4 { padding-right: 10px;}
.mngProvUsersHdr .column1,.mngProvUsers .column1{width:56px;padding-left:14px;}
.mngProvUsersHdr .column2,.mngProvUsers .column2{width:178px;}
.mngProvUsersHdr .column3,.mngProvUsers .column3{width:80px;text-align:center;}
.mngProvUsersHdr .column4,.mngProvUsers .column4{width:85px;text-align:center;}
.mngProvUsersHdr .column5,.mngProvUsers .column5{width:85px;text-align:center;}
.mngProvUsersHdr .column6,.mngProvUsers .column6{width:85px;text-align:center;}
.mngProvUsersHdr .column7,.mngProvUsers .column7{width:65px;text-align:center;}
.mngProvUsersHdr .column7{padding-right:20px;}
.docMgrBuyerHdr{width:669px;}
.docMgrBuyerHdr td{padding:0;vertical-align:middle;}
.docMgrBuyerHdr .column1,.docMgrBuyer .column1{width:60px;text-align:center;}
.docMgrBuyerHdr .column2,.docMgrBuyer .column2{width:30px;text-align:center;}
.docMgrBuyerHdr .column3,.docMgrBuyer .column3{width:239px;}
.docMgrBuyerHdr .column4,.docMgrBuyer .column4{width:180px;}
.docMgrBuyerHdr .column5,.docMgrBuyer .column5{width:90px;text-align:center;}
.docMgrBuyerHdr .column6,.docMgrBuyer .column6{width:60px;}
.docMgrBuyerHdr .column7,.docMgrBuyer .column7{width:10px;}
.docMgrBuyerHdr .column5{padding-right:20px;}
.compLogosBuyerHdr{width:669px;}
.compLogosBuyerHdr td{padding:0;vertical-align:middle;}
.compLogosBuyerHdr .column1,.compLogosBuyer .column1{width:70px;text-align:center;}
.compLogosBuyerHdr .column2,.compLogosBuyer .column2{width:210px;}
.compLogosBuyerHdr .column3,.compLogosBuyer .column3{width:169px;}
.compLogosBuyerHdr .column4,.compLogosBuyer .column4{width:200px;text-align:center;}
.compLogosBuyerHdr .column4{padding-right:20px;}
table.docTablehdr td{padding:0;vertical-align:middle;}
.docTablehdr .column1,.docTable .column1{text-align:center;width:80px;}
.docTablehdr .column2{width:285px;}
.docTablehdr .column3{width:100px;}
.docTable .column2{width:275px;padding-right:10px;}
.docTable .column3{width:80px;}
.savedReportsHdr{width:651px;}
.savedReportsHdr .column1,.savedReports .column1{width:70px;text-align:center;}
.savedReportsHdr .column2,.savedReports .column2{width:231px;}
.savedReportsHdr .column3,.savedReports .column3{width:160px;}
.savedReportsHdr .column4,.savedReports .column4{width:170px;}
.savedReportsHdr .column4{padding-right:20px;}
.insurancePoliciesHdr{width:655px;color:#fff;font-weight:700;background:#4CBCDF;height:30px;margin-top:20px;margin-bottom:0;line-height:13px;}
.insurancePoliciesHdr .column1,.insurancePolicies .column1{text-align:center;width:60px;}
.insurancePoliciesHdr .column2,.insurancePolicies .column2{width:110px;}
.insurancePoliciesHdr .column3,.insurancePolicies .column3{width:200px;padding-right:5px;}
.insurancePoliciesHdr .column4,.insurancePolicies .column4{width:95px;text-align:center;}
.insurancePoliciesHdr .column5{width:85px;text-align:center;}
.insurancePolicies .column5{width:85px;text-align:center;}
.insurancePoliciesHdr .column6,.insurancePolicies .column6{width:80px;text-align:center;}
.insurancePoliciesHdr .column6{padding-right:20px;}
table.insurancePolicies{margin-bottom:20px;}
#docContainer{width:463px;margin-bottom:10px;height:65px;}
.viewLicCertsHdr{width:auto;}
.viewLicCertsHdr .column1,.viewLicCerts .column1{width:122px;padding-left:10px;}
.viewLicCertsHdr .column2,.viewLicCerts .column2{width:290px;}
.viewLicCertsHdr .column3,.viewLicCerts .column3{width:150px;}
.viewLicCertsHdr .column4,.viewLicCerts .column4{width:75px;text-align:center;}
.viewLicCertsHdr .column4{padding-right:20px;}
.viewInsPolsHdr{width:669px;}
.viewInsPolsHdr .column1,.viewInsPols .column1{width:194px;padding-left:10px;}
.viewInsPolsHdr .column2,.viewInsPols .column2{width:200px;}
.viewInsPolsHdr .column3,.viewInsPols .column3{width:80px;}
.viewInsPolsHdr .column4,.viewInsPols .column4{width:80px;text-align:center;}
.viewInsPolsHdr .column5,.viewInsPols .column5{width:85px;text-align:center;}
.viewInsPolsHdr .column5{padding-right:20px;}
.acctOverviewHdr{width:700px;}
.acctOverviewHdr td{padding:0;vertical-align:middle;}
.acctOverviewHdr .column1,.acctOverview .column1{width:100px;text-align:center;}
.acctOverviewHdr .column2,.acctOverview .column2{width:90px;}
.acctOverviewHdr .column3,.acctOverview .column3{width:160px;}
.acctOverviewHdr .column4,.acctOverview .column4{width:120px;}
.acctOverviewHdr .column5,.acctOverview .column5{width:120px;}
.acctOverviewHdr .column6,.acctOverview .column6{width:110px;}
.mngAccountsHdr{width:700px;}
.mngAccountsHdr td{padding:0;vertical-align:middle;}
.mngAccountsHdr .column1,.mngAccounts .column1{width:100px;text-align:center;}
.mngAccountsHdr .column2,.mngAccounts .column2{width:90px;}
.mngAccountsHdr .column3,.mngAccounts .column3{width:160px;}
.mngAccountsHdr .column4,.mngAccounts .column4{width:120px;}
.mngAccountsHdr .column5,.mngAccounts .column5{width:120px;}
.mngAccountsHdr .column6,.mngAccounts .column6{width:110px;}
.pbWorkflowHdr{width:700px;}
.pbWorkflowHdr td{padding:0;vertical-align:middle;}
.pbWorkflowHdr .column0,.mngAccounts .column0{width:10px;text-align:left;}
.pbWorkflowHdr .column1,.mngAccounts .column1{width:280px;text-align:left;}
.pbWorkflowHdr .column2,.mngAccounts .column2{width:60px;text-align:center;}
.pbWorkflowHdr .column3,.mngAccounts .column3{width:140px;text-align:left;}
.pbClaimedHdr{width:699px;}
.pbClaimedHdr td{padding:0;vertical-align:middle;}
.pbClaimedHdr .column1,.mngAccounts .column1{width:50px;text-align:center;}
.pbClaimedHdr .column2,.mngAccounts .column2{width:160px;text-align:center;}
.pbClaimedHdr .column3,.mngAccounts .column3{width:130px;text-align:left;}
.pbClaimedHdr .column4,.mngAccounts .column4{width:180px;text-align:left;}
.pbClaimedHdr .column5,.mngAccounts .column5{width:100px;text-align:left;}
.mngBuyerUsers td{padding:10px 0;}
/*Profile Status dashaboard on right panel */.profileStatusDB{background:url(../images/admin/bg_profileStatus.gif) no-repeat;height:139px;padding:40px 20px 0 13px;line-height:13px;}
.profileStatusDB .profileType{float:left;width:193px;padding-left:15px;font-weight:700;}
.profileStatusDB .divider{background:url(../images/sp_registration/bg_regStatus_divider.gif) repeat-x 0 5px;height:2px;width:222px;clear:both;padding:5px 0;display:block;_padding:2px 0;}
.profileStatusDB .statusIcon{float:left;width:12px;}
.spnLandingHdr{width:800px;}
.spnLandingHdr td{padding:0;vertical-align:middle;}
.spnLandingHdr .column1,.spnLanding .column1{padding-left:14px;width:70px;}
.spnLandingHdr .column2,.spnLanding .column2{width:120px;}
.spnLandingHdr .column3,.spnLanding .column3{width:280px;}
.spnLandingHdr .column4,.spnLanding .column4{width:80px;text-align:center;}
.spnLandingHdr .column5,.spnLanding .column5{width:80px;text-align:center;}
.spnLandingHdr .column6,.spnLanding .column6{width:80px;text-align:center;}
.spnLandingHdr .column7,.spnLanding .column7{width:80px;text-align:center;}
.spnLandingHdr .column4{padding-right:20px;}
.spnLanding td{padding:10px 0;}
.spnBuilderHdr{width:670px;}
.spnBuilderHdr td{padding:0;vertical-align:middle;}
.spnBuilderHdr .column1,.spnBuilder .column1{width:10px;}
.spnBuilderHdr .column2,.spnBuilder .column2{width:90px;}
.spnBuilderHdr .column3,.spnBuilder .column3{width:200px;}
.spnBuilderHdr .column4,.spnBuilder .column4{width:369px;}
.adminMarketAdjHdr{width:100%;}
.adminMarketAdjHdr td{padding:0; vertical-align:middle; }
.adminMarketAdjHdr .column1{width:14%;text-align:center;}
.adminMarketAdjHdr .column2{width:36%;text-align:center;}
.adminMarketAdjHdr .column3{width:25%;text-align:center;}
.adminMarketAdjHdr .column4{width:25%;text-align:center;}
.adminMarketAdj {width:100%;}
.adminMarketAdj td{border-right:1px solid #9f9f9f;}
.adminMarketAdj .column1{width:100px;text-align:center;}
.adminMarketAdj .column2{padding-left:5px;width:250px;text-align:left;}
.adminMarketAdj .column3{padding-left:5px;width:150px;text-align:left;}
.adminMarketAdj .column4{width:130px;text-align:right;padding-right:20px;}
#finMgrModules{padding-top:30px;}
