.bannerDiv{   border-left: 0 none;
              border-right: 0 none;
              border-top: 0 none;
              font-weight: normal;
              font-family: sans-serif;
              padding: 7px 4px;
              text-align: center;
              background: none repeat scroll 0 0 #FFF1A8;
              border: 1px solid #CCCCCC;
              color: #222222;
              padding: 4px;
              height:15px;
              font-size:12px;
              position:fixed;
              margin-left: -200px;
              top:0px;
              width:1355px;
              z-index: 999999999;
           }   
      
    