/* body{behavior:url("/ServiceLiveWebUtil/css/csshover.htc");} ss: this is causing grief in IE6 */
.myButton { background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #F8E09E), color-stop(1, #F9BF21));
background:-moz-linear-gradient(top, #F8E09E 5%, #F9BF21 100%); background:-webkit-linear-gradient(top, #F8E09E 5%, #F9BF21 100%);
background:-o-linear-gradient(top, #F8E09E 5%, #F9BF21 100%); background:-ms-linear-gradient(top, #F8E09E 5%, #F9BF21 100%);
background:linear-gradient(to bottom, #F8E09E 5%, #F9BF21 100%); 
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F8E09E', endColorstr='#F9BF21',GradientType=0);
background-color:#F8E09E; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; border:1px solid #f8c373;
display:inline-block; cursor:pointer; color:#080108; font-family:tahoma; font-size:9px; font-weight:bold; padding:2px 10px 2px 10px;
text-decoration:none; text-shadow:0px 1px 0px #f8c373; box-shadow: 3px 3px 5px #CCCCCC; }

.myButton:hover {background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #F9BF21), color-stop(1, #F8E09E));
background:-moz-linear-gradient(top, #F9BF21 5%, #F8E09E 100%); background:-webkit-linear-gradient(top, #F9BF21 5%, #F8E09E 100%);
background:-o-linear-gradient(top, #F9BF21 5%, #F8E09E 100%); background:-ms-linear-gradient(top, #F9BF21 5%, #F8E09E 100%);
background:linear-gradient(to bottom, #F9BF21 5%, #F8E09E 100%); 
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9BF21', endColorstr='#F8E09E',GradientType=0);
background-color:#F9BF21; text-decoration: none; color:#080108; }

.myButton:active {position:relative; top:1px; }

.upperTextClass{
	text-transform: uppercase;
}
.largeTextFont{
	font-size: 11px;
}

.btn17{background-position:0 0;/* start at the top of the image */background-repeat:no-repeat;border:0;float:right;height:17px;margin-bottom:2px;}
.btn17:hover{background-position:0 -17px;/* switch to middle of the image on hover */}
.btn17:active{background-position:0 -34px;/* switch to bottom of the image on click */}
.btnBevel{background-position:0 0;/* start at the top of the image */background-repeat:no-repeat;border:0;}
.btnBevel:hover{background-position:0 -22px;/* switch to middle of the image on hover */}
.btnBevel:active{background-position:0 -44px;/* switch to bottom of the image on click */}
.btnBevel2{background-position:0 0;/* start at the top of the image */background-repeat:no-repeat;border:0;}
.btnBevel2:hover{background-position:0 0;/* switch to middle of the image on hover */}
.btnBevel2:active{background-position:0 -44px;/* switch to bottom of the image on click */}
.btn20Bevel{background-position:0 0;/* start at the top of the image */background-repeat:no-repeat;border:0;}
.btn20Bevel:hover{background-position:0 -20px;/* switch to middle of the image on hover */}
.btn20Bevel:active{background-position:0 -40px;/* switch to bottom of the image on click */}
.btn25Bevel{background-position:0 0;/* start at the top of the image */background-repeat:no-repeat;border:0;}
.btn25Bevel:hover{background-position:0 -25px;/* switch to middle of the image on hover */}
.btn25Bevel:active{background-position:0 -50px;/* switch to bottom of the image on click */}
.btn26Bevel{background-position:0 0;/* start at the top of the image */background-repeat:no-repeat;border:0;}
.btn26Bevel:hover{background-position:0 -26px;/* switch to middle of the image on hover */}
.btn26Bevel:active{background-position:0 -52px;/* switch to bottom of the image on click */}
.btn27{background-position:0 0;/* start at the top of the image */background-repeat:no-repeat;border:0;float:right;width:131px;height:27px;margin-bottom:2px;}
.btn27:hover{background-position:0 -27px;/* switch to middle of the image on hover */}
.btn27:active{background-position:0 -54px;/* switch to bottom of the image on click */}
.loginBtnHdr{width:47px;height:17px;background:url(../images/btn/login_header.gif) no-repeat 0 0;}
.inlineBtn{margin-bottom:-8px;}
.mapThis .inlineBtn{margin-top:-8px;}
.disabledBtn{cursor:default;}
.submitButton {border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; background:transparent url(/ServiceLiveWebUtil/images/common/button-action-bg.png) repeat scroll 0 0;
border:2px solid #D48B28; color:#333; cursor:pointer; display:block; font: bold 9px Verdana,sans-serif; padding:2px; text-align:center; text-transform:uppercase;}
.submitButton:hover {background:transparent url(/ServiceLiveWebUtil/images/common/button-action-hover.png) repeat scroll 0 0; color:#000; }
.saveBtn {border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; background:transparent url(/ServiceLiveWebUtil/images/common/button-action-bg.png) repeat scroll 0 0;
border:2px solid #D48B28; color:#333; cursor:pointer; font: bold 9px Verdana,sans-serif; padding:2px; text-align:center; text-transform:uppercase;}
.saveBtn:hover {background:transparent url(/ServiceLiveWebUtil/images/common/button-action-hover.png) repeat scroll 0 0; color:#000; }

.newbutton {
  background-color: #ebac24; 
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

