/* Contact - Thank You page */
#thankYouHero { background-image: url(../images/support/hero_support.jpg); height: 222px; background-repeat:no-repeat; padding-bottom: 30px;}
#thankYouHero .content { padding-left: 290px; padding-top: 40px; padding-right: 20px;}


#corpHQ_bleed { background: url(../images/modules/corpHQ_bleed.gif) no-repeat top left; padding: 55px 40px 0px 55px; height: 228px;}
#corpHQ_bleed p, #corpHQ_bleed table, #corpHQ p, #corpHQ table { padding-bottom: 8px;}

#corpHQ { background: url(../images/modules/corpHQ.gif) no-repeat top left; padding: 45px 20px 0px 20px; height: 228px;}

.contactPopup { border: 1px solid #ccc; width: 661px;}
.contactPopup .header { width: 651px; height: 23px; background: url(../images/contact/popupHdr.gif) no-repeat top right; padding:5px 0 0 10px;}