
.contextualDescribeProject {display:none; z-index:9999; position:absolute; width:600px}

.contextualDescribeProject div{ position:absolute; right:-300px; width:250px; background-color:#fff6bf; -moz-border-radius:1em; border-radius:1em; padding-bottom:10px; padding-left:10px; padding-right:20px; padding-top:0}	 

.contextualDescribeProject  h3{text-align:left;; padding-left:20px; background-image:url(../images/s_icons/lightbulb.png); background-repeat:no-repeat}

.contextualDescribeProject  h4{text-align:left; padding-left:20px}
.contextualDescribeProject  ul { padding-left:30px}

.contextualDescribeProject  li {font-weight:500}
.contextualDescribeProject  span{ color:#F00}
.contextualDescribeProject  p{text-align:left; font-style:italic; padding-left:20px}

.contextualMaximumPrice {display:none; z-index:9999; position:absolute; width:600px}

.contextualMaximumPrice div{ position:absolute; right:-295px; width:250px; background-color:#fff6bf; -moz-border-radius:1em; border-radius:1em; padding-bottom:10px; padding-left:10px; padding-right:20px; padding-top:0}	 

.contextualMaximumPrice  h3{text-align:left;; padding-left:20px; background-image:url(../images/s_icons/lightbulb.png); background-repeat:no-repeat}
.contextualMaximumPrice  h4{text-align:left;; padding-left:20px}

.contextualMaximumPrice  p{text-align:left; font-style:italic; padding-left:20px}

.contextualMaximumPrice span { color:#F00}

.contextualMaximumPrice  ul { padding-left:30px}

.contextualMaximumPrice  li {font-weight:500}

