.tundra table.dijitCalendarContainer{border-color:#C2D8FF;border-width:1px 3px 2px;}
.tundra .dijitCalendarDayLabelTemplate,.tundra .dijitCalendarMonthContainer th{background:#C2D8FF;}
.tundra .dijitCalendarMonthContainer th{color:#1238C9;}
.tundra .dijitCalendarSelectedDate{background:transparent url(../images/widgets/bgCalSelDate.gif) no-repeat scroll 0!important;color:#FFF!important;}
.tundra .dijitCalendarCurrentDate{font-weight:400!important;text-decoration:none;}
.tundra .dijitCalendarDateTemplate{font-family:Verdana;font-size:9px;font-weight:700;letter-spacing:1px;padding:2px 1px 2px 2px;text-align:center;}
.tundra .dijitCalendarYearLabel{margin:0;padding:.2em 2px .25em;text-align:center;font-size:10px;}
.tundra .dijitCalendarSelectedYear{background-color:#BBC4D0!important;color:#000;padding:.1em .2em;}