/* Re-written for Sears SL tabs */.tundra .dijitTab{width:auto;border:none;text-align:center;margin-right:1px;height:25px;padding:0 5px;}
.tundra .dijitTabContainer{width:972px;margin:auto;height:600px;overflow:hidden;}
.tundra .dijitTabPaneWrapper{width:970px;border:none;border:1px solid #CCC;margin-bottom:15px;}
.tundra .dijitTabInnerDiv{border:none;}
.tundra .dijitTab{background:url(../images/tabs/tab_bg.gif) no-repeat top left;font-weight:700;font-family:verdana, sans-serif;}
.tundra .disabledTab .dijitTab,.tundra .dijitTabDisabled{background:url(../images/tabs/tab_disabled.gif) no-repeat top left;color:#b9b9b9;}
.tundra .dijitTabPane{padding:5px 3px;}
.tundra .dijitTabHover,.tundra .dijitTabCloseButtonHover,.tundra .dijitTabChecked,.tundra .dijitTabCloseButtonChecked,.dj_ie6 .tundra .dijitTabHover,.dj_ie6 .tundra .dijitTabCloseButtonHover{/* the selected tab (with or without hover) */background:url(../images/tabs/tab_on.gif) no-repeat top left;border-color:#ccc;color:#fff;}
.tundra .tabPaneShort{width:711px;padding-left:5px;}
/****************
From dijit.css 
For tabs
jjackson 9/12/07
*****************/.dijitLayoutContainer{margin:auto;}
.dijitTabContainer .dijitAlignTop{top:0!important;width:973px!important;}
/***** Icons on Tabs *****/.dijitTabInnerDiv .tabIcon{padding-right:18px;padding-bottom:2px;background-position:100% 1px;background-repeat:no-repeat;background-color:transparent;}
.dijitTabInnerDiv .error{background-image:url(../images/icons/errorIcon_tab.gif);background-position:100% 0;}
.dijitTabInnerDiv .errorOn{background-image:url(../images/icons/errorIconOn.gif);background-position:100% 0;}
.dijitTabInnerDiv .incomplete{background-image:url(../images/icons/incIcon.gif);}
.dijitTabInnerDiv .incompleteOn{background-image:url(../images/icons/incIconOn.gif);}
.dijitTabInnerDiv .complete{background-image:url(../images/icons/completeIcon.gif);}
.dijitTabInnerDiv .completeOn{background-image:url(../images/icons/completeIconOn.gif);}
/*SO Monitor tabs */.somTabs .dijitTabPane{padding:5px 3px;}
.somTabs .dijitTab{text-align:center;padding:0;}
.somTabs .dijitAlignTop{overflow:hidden;}
.somTabs .tabNormal{width:120px;display:block;}
.somTabs .tabWide{width:125px;display:block;}
.somTabs .tabWide2{width:141px;display:block;}
.somTabs .dijitTabInnerDiv{padding:6px 0 4px;text-align:center;}
/* Provider registration tabs profile-  Business | Firm  */.provProfileTabs{width:711px;padding-left:5px;margin:0;}
.provProfileTabs .dijitTab{text-align:center;width:132px;}
.provProfileTabs .dijitTabInnerDiv{padding:6px 0 4px 15px;text-align:center;}
.provProfileTabs .dijitTabPane{padding:5px 3px;}
.provProfileTabs .dijitTabInnerDiv .tabIcon{text-align:left;padding-right:5px;display:block;width:100px;background-position:85px 50%;}
.provProfileTabs p,.provProfileTabs td{line-height:14px;}
.provProfileTabs .inputArea{width:auto;}
.provProfileTabs .dijitTab{background:url(../images/tabs/tab_tall.gif) no-repeat top left;font-weight:700;font-family:verdana, sans-serif;height:34px;}
/* Provider registration tabs profile-  Business | Firm  */.spProfileTabs{width:711px;padding-left:5px;margin:0;}
.spProfileTabs .dijitTab{text-align:center;width:108px;}
.spProfileTabs .dijitTabInnerDiv{padding:6px 0 4px 10px;text-align:center;}
.spProfileTabs .dijitTabPane{padding:5px 3px;}
.spProfileTabs .dijitTabInnerDiv .tabIcon{text-align:left;padding-right:0;display:block;width:98px;background-position:80px 50%;}
.spProfileTabs p,.spProfileTabs td{line-height:14px;}
.spProfileTabs .inputArea{width:auto;}
.spProfileTabs .dijitTab{background:url(../images/tabs/tab_tall.gif) no-repeat top left;font-weight:700;font-family:verdana, sans-serif;height:34px;}
.tundra .provProfileTabs .dijitTabHover,.tundra .provProfileTabs .dijitTabCloseButtonHover,.tundra .provProfileTabs .dijitTabChecked,.tundra .provProfileTabs .dijitTabCloseButtonChecked,.tundra .spProfileTabs .dijitTabHover,.tundra .spProfileTabs .dijitTabCloseButtonHover,.tundra .spProfileTabs .dijitTabChecked,.tundra .spProfileTabs .dijitTabCloseButtonChecked,.dj_ie6 .tundra .provProfileTabs .dijitTabHover,.dj_ie6 .tundra .provProfileTabs .dijitTabCloseButtonHover{background:url(../images/tabs/tab_tall_on.gif) no-repeat top left;border-color:#ccc;color:#fff;}
/*
*/.provProfileTabs #tab4{padding-top:6px;background-position:80px 5px;padding-left:5px;}
/*
.provProfileTabs #tab1{ width: 153px; }
.provProfileTabs #tab2{ width: 156px;}
.provProfileTabs #tab3{ width: 145px;}
.provProfileTabs #tab5{ width: 148px;}
.provProfileTabs .grayModuleContent { padding: 5px 21px; }
*/