.dijitDialogUnderlay{background-color:#000;}
.dojoxLightbox{-moz-border-radius-bottomleft:4px;-moz-border-radius-bottomright:4px;-moz-border-radius-topleft:4px;-moz-border-radius-topright:4px;background:#FFF url(images/loading.gif) no-repeat scroll center;border:11px solid #FFF;height:100px;overflow:hidden;position:absolute;width:100px;z-index:999;}
.dojoxLightboxContainer{left:0;position:absolute;top:0;}
.dojoxLightboxFooter{bottom:0;color:#333;font-size:10pt;height:50px;left:0;margin-top:8px;position:relative;z-index:1000;}
.dojoxLightboxGroupText{color:#666;font-size:8pt;}
.LightboxNext,.LightboxPrev,.LightboxClose{cursor:pointer;float:right;height:16px;width:16px;}
.tundra .LightboxClose{background:transparent url(../../../dijit/themes/tundra/images/tabClose.png) no-repeat scroll center;}
.tundra .LightboxNext{background:transparent url(../../../dijit/themes/tundra/images/arrowRight.png) no-repeat scroll center;}
.tundra .LightboxPrev{background:transparent url(../../../dijit/themes/tundra/images/arrowLeft.png) no-repeat scroll center;}
.soria .LightboxNext,.soria .LightboxPrev,.soria .LightboxClose{background:transparent url(../../../dijit/themes/soria/images/arrows.png) no-repeat scroll -65px 0;}
.soria .LightboxNext{background-position:-48px 0;}
.soria .LightboxPrev{background-position:-16px 0;}
.slideShowWrapper{-moz-border-radius-bottomleft:3pt;-moz-border-radius-bottomright:3pt;-moz-border-radius-topleft:3pt;-moz-border-radius-topright:3pt;background:#FFF none repeat scroll 0;border:0 solid #333;overflow:hidden;padding:0 0 100px;position:relative;text-align:center;height:300px;}
.slideShowNav{background-color:#FFF;bottom:-18px;left:0;padding:0 3px 2px 0;position:absolute;width:100%;display:none;}
.slideShowNavWrapper{float:right;}
.slideShowTitle{color:#333;float:left;font-size:10pt;}
.slideShowTitle .slideShowCounterText{color:#666;font-size:6pt;}
.slideShowHidden{display:none;height:1px;position:absolute;width:1px;}
.slideShowImageWrapper{float:left;margin-top:-8px;margin-top:-6px;position:relative;text-align:center;width:100%;height:280px;}
.slideShowImageWrapper img{border:0 none;}
.slideShowNotifier{background-color:red;font-size:1%;height:5px;width:100px;}
.slideShowSlideShow{border:0 none;color:#2E6AB1;padding:0 5px;position:absolute;text-decoration:none;top:30px;}
.slideShowLoading{background-color:#FAD66A;}
.slideShowLoaded{background-color:transparent;}
.slideShowCtrlPrev{background-position:-96px 0;float:left;background:url(../images/support/tutorial_back.gif) top left no-repeat;}
.slideShowCtrlNext{background-position:-144px 0;/*float:right;*/position:absolute;left:31px;background:url(../images/support/tutorial_next.gif) top left no-repeat;}
.slideShowCtrlPlay{background-position:-190px 0;position:absolute;left:17px;background:url(../images/support/tutorial_play.gif) top left no-repeat;}
.slideShowPaused .slideShowCtrlPlay{background-position:-236px 0;position:absolute;background:url(../images/support/tutorial_pause.gif) top left no-repeat;}
.slideShowCtrl span.slideShowCtrlHide{background-image:url(../images/support/1pixel.gif);cursor:auto;}
.slideShowCtrl{left:82px;top:252px;height:8px;position:absolute;width:100%;z-index:999;}
.slideShowCtrl span{/*background-image:url(../images/support/buttons.gif);*/cursor:pointer;height:100%;width:8px;}
.dj_ie6 .slideShowCtrl span{/*background-image:url(../images/support/buttons.gif);*/}
.dj_ie6 .slideShowPager li.currentpage,.dj_ie6 .pagination li.disablepage{margin-right:5px;padding-right:0;}
.thumbWrapper .thumbNav{background-position:center;background-repeat:no-repeat;height:100%;padding-top:1px;width:30px;}
.thumbOuter{padding-bottom:2px;}
.thumbOuter.thumbHoriz{height:85px;width:500px;}
.thumbOuter.thumbVert{height:400px;width:100px;}
.thumbOuter .enabled{background:transparent url(images/buttons.png) no-repeat scroll center;}
.dj_ie6 .thumbOuter .enabled{background-image:url(images/buttons.gif);}
.thumbOuter .thumbNav img{height:75px;width:48px;}
.thumbOuter .thumbClickable div{cursor:pointer;}
.thumbOuter .prevHoriz{background-position:-96px 12px;float:left;height:100%;position:relative;}
.thumbOuter .nextHoriz{background-position:-144px 12px;float:right;height:100%;position:relative;}
.thumbOuter .prevVert{background-position:0;height:48px;margin-left:24px;width:48px;}
.thumbOuter .nextVert{background-position:-48px 0;height:48px;margin-left:24px;width:48px;}
.thumbWrapper img{height:75px;max-width:100px;}
.thumbWrapper .thumbNav .imageGalleryThumb{height:50px;}
.thumbWrapper .thumbNotifier{background-color:red;font-size:1%;height:5px;margin-left:2px;width:0;}
.thumbWrapper .thumbLoaded{background-color:transparent;}
.thumbScroller{overflow:hidden;text-align:center;white-space:nowrap;}
.thumbHoriz .thumbScroller{float:left;height:85px;width:500px;}
.thumbVert .thumbScroller{height:500px;width:100px;}
.thumbWrapper{float:left;}
.thumbVert .thumbWrapper{height:10px;width:100px;}
.thumbHoriz .thumbWapper{height:85px;width:10px;}
.thumbWrapper.thumbHoriz div{float:left;padding-right:2px;}
.thumbWrapper.thumbVert{width:100px;}
.thumbWrapper.thumbVert div{padding-bottom:2px;}
.imageGalleryWrapper{padding-bottom:20px;text-align:center;}