/* Feedback Related Styles */

a#fdbk_tab {
	background-image: url(../images/feedback.png);
	height: 102px;
	margin-left: -7px;
	position: fixed;
	text-indent: -100000px;
	top: 77%;
	width: 32px;
}
   
a#fdbk_tab:hover {
	margin-left: -4px;
}

#feedBackForm {
	width:515px;
	height:auto;
	float: left;
	border: 1px solid #A8A8A8;
	font-family: Arial;
	border-radius: 10px 10px 0 0;
	margin-left:-250px!important;
	-moz-border-radius: 10px 10px 0 0;
}	

#feedBackThanks {
	width:500px;
	float: left;
	border: 1px solid #A8A8A8;
	font-family: Arial;
	border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	/*height:auto;
	margin-left:-250px!important;*/
}	

.fbk_file{
	bottom: 0;
	cursor: inherit;
	height: 20px;
	margin: 0;
	padding: 0;
	right: 0;
}

.feedBackActionButtonBackGround {
	background: #f1b849;
	background: -moz-linear-gradient(top,  #f3e468 0%, #f1b849 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3e468), color-stop(100%,#f1b849));
	background: -webkit-linear-gradient(top,  #f3e468 0%,#f1b849 100%);
	background: -ms-linear-gradient(top,  #f3e468 0%,#f1b849 100%);
	background: linear-gradient(to bottom,  #f3e468 0%,#f1b849 100%);
}

.feedBackActionButton {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e468', endColorstr='#f1b849',GradientType=0 );
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:1px solid #B1770B; 
	color:#333;
	cursor:pointer; 
	display:block;
	padding:5px; 
	text-align:center; 
	text-transform:uppercase;
	text-decoration:none;
	font-weight:bold;
	overflow:auto;

	/*Relative to this document - will need to be adjusted in dev*/
	font-size:0.85em;
	font-family:Arial,Tahoma,Sans-serif;
	line-height:1.15em;
}

.feedBackActionButtonBackGround:hover {
	background: #f2ce59;
	background: -moz-linear-gradient(top,  #f1b849 0%, #f3e468 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1b849), color-stop(100%,#f3e468));
	background: -webkit-linear-gradient(top,  #f1b849 0%,#f3e468 100%);
	background: -ms-linear-gradient(top,  #f1b849 0%,#f3e468 100%);
	background: linear-gradient(to bottom,  #f1b849 0%,#f3e468 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1b849', endColorstr='#f3e468',GradientType=0 );
	color: #000;
}