.flselect-options {
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background:#666666;
	color:  #FFF;
	float: left;
	padding: 10px;
	position: absolute;
	width:  auto;
	max-height: 350px;
	_height: 250px;
	overflow: auto;
	display: none;
	z-index:200;
	margin-right:80px;
	margin-top:20px;
	text-align:none;
}

.flselect-options input {
	float: left;
}

.flselect-options label {
	font-weight: normal;
	font-size: 10px;
    height: 10px;
}

.flpicked {
	font-weight: normal;
	border: 1px solid #BBBBBB;
	width:auto;
	padding: 2px 5px;
	background: url(../images/common/multiselectaddn.png) no-repeat scroll #fff;
	background-position: right;
	zoom: 1;
	cursor: pointer;	
}

.flpicked:hover {
	background: url(../images/common/multiselectaddn-hover.png) no-repeat scroll #fff;
	background-position: right;
}

.flpicked label {
	cursor: pointer;
	padding:0px;
	font-size:10px;
}


.flpicked label:hover {
	cursor: pointer;
	padding:0px;
}