.gridFilter{padding:10px 0 10px 15px;float:left;}
.monitorTab-leftCol{width:703px;float:left;}
.monitorTab-rightCol{width:242px;float:right;background:#ededed;padding:5px 2px;margin:2px 2px 0 0;}
div.order-vert-nav{padding:5px 3px;}
.order-vert-nav .header{padding:0 0 2px;}
.order-vert-nav .sub-header{padding:0 0 5px;}
.order-vert-nav .header a.main{display:block;background:#666;color:#fff;padding:3px 5px;}
.order-vert-nav .expanded{border:1px solid #666;padding:5px;background:#fff;}
.order-vert-nav .expanded-sub{border:none;padding:5px;}
.order-vert-nav .sub-header a.main{background:#999;}
.order-vert-nav table td{width:50%;}
.order-vert-nav table td.label-65{width:65%;font-weight:700;}
.grid-header-table-container{background:#4cbcdf;}
.grid-header-table{background:#4cbcdf;color:#818181;width:690px;font-weight:bolder;}
.grid-table-container{height:400px;/*overflow: auto;*/width:710px;position:relative;/*100% */}
.grid-table{font-size:10px;width:693px;}
html>body div.grid-table-container table{/*width: auto;*/}
.grid-table tbody{}
table.grid-table>tbody{/* child selector syntax which IE6 and older do not support*/height:300px;/*overflow-x: hidden;
	overflow-y: auto;*/}
table.grid-table>tbody tr{height:20px;}
.grid-table thead tr{position:relative;height:34px;top:expression(offsetParent . scrollTop);/*IE5+ only*/}
.grid-table thead td{background:#4cbcdf;color:#fff;font-weight:700;vertical-align:middle;}
.grid-table thead td a,.grid-table thead td a:visited,.grid-table thead td a:hover,.grid-table thead td a:active{color:#fff;}
.grid-table thead td a.arrowUp{background:url(../images/grid/arrow-up-white.gif) 0 5px no-repeat;padding-left:15px;}
.grid-table thead td a.arrowDown{background:url(../images/grid/arrow-down-white.gif) 0 5px no-repeat;padding-left:15px;}
.grid-table tr.selected{background:#ededed;}
.grid-table td{padding:8px 10px 8px 0;vertical-align:top;}
.grid-table td{width:15%;}
.grid-table tr.selected td{border:none;}
.grid-table td,.grid-table tr.last td{border-bottom:1px solid #ccc;}
.grid-table td.column1{text-align:center;width:10%;}
.grid-table td.column1{text-align:center;font-weight:700;}
.grid-table td.column2{width:15%;}
.grid-table td.column3{width:20%;}
.grid-table td.column4{width:25%;}
.grid-table td:last-child{padding-right:20px;}
/*prevent Mozilla scrollbar from hiding cell content*/