#hero{width:735px;padding:1px 0 0 2px;clear:both;display:block;height:287px;background:url(../images/homepage/divider_line.gif) no-repeat 2px bottom;clear:both;}
#hero #column1,#hero #column2{float:left;}
#hero #column1{width:415px;}
#hero #column2{width:320px;padding:67px 0 0;}
#hero ul.buttons{list-style:none;padding:20px 0 0;}
#hero ul.buttons li{display:inline;padding:0 10px 0 0;}
#headerHomepage{height:106px;position:relative;}
#headerHomepage #mainNav{width:765px;}
#headerHomepage #rightRail{background:url(../images/homepage/aux_nav_right_rail_bg.gif) no-repeat top left;height:607px;width:271px;position:absolute;top:83px;right:0;z-index:10000;}
#headerHomepage #rightRail div.content{padding:25px 20px 10px 50px;position:relative;_padding-right:10px;}
#headerHomepage #rightRail ul.servicesList{padding:0;list-style:none;}
#headerHomepage #rightRail ul.servicesList li{padding:2px 0;}
#headerHomepage #rightRail ul.servicesList li a{}
#headerHomepage #rightRail p{padding:5px 0;}
#headerHomepage .dividerLine{text-align:center;padding:10px 0;height:1px;background:url(../images/homepage/divider_line_short.gif) center left no-repeat;display:block;}
.rating{display:inline;margin-top:3px;}
.customerSearchBox{background:url(../images/homepage/customer_search_box_bg.gif) no-repeat top left;float:left;width:235px;height:281px;margin:15px 0 5px 10px;_margin-right:-5px;font-size:10px;display:inline;}
.customerSearchBox .content{padding:0 20px 5px 15px;}
.customerSearchBox input{padding:0 3px;}
.customerSearchBox input.keyword{width:185px;}
.customerSearchBox select{width:195px;padding:1px;margin:0;border:1px solid #7b9ebd;}
.customerSearchBox h4{font-size:10px;}
.customerSearchBox p.tinyText{padding:0 0 15px;}
.customerSearchBox input[type="text"]{border:1px solid #cecece;background:#fff url(../images/common/textboxBg.gif) repeat-x top left;padding:2px 3px;}
#topNav .loginBox{width:100px;height:13px;display:inline;}
ul#headerLogin{list-style:none;padding:3px 0 0;float:right;}
ul#headerLogin li{display:inline;float:left;padding:0 0 0 5px;}
input{font-size:9px;}
.inline{display:inline;}
.tinyText{font-size:9px;font-weight:400;}
.floatRight{float:right;}
.floatLeft{float:right;}
.inlineList li.zipCode{width:120px;float:left;}
.inlineList li.searchBtn{width:52px;float:right;}
.bucketLinks li{font-weight:700;padding-right:10px;}
#serviceCategories{clear:both;position:relative;font-size:10px;padding:0 0 25px;}
#serviceCategories ul{padding:5px 45px 5px 10px;float:left;list-style:none;/* position: absolute; top: 50px;*/}
/*
#list1 { left: 60px; }
#list2 { left: 230px; }
#list3 { left: 400px; }
#list4 { left: 570px; }
#list5 { left: 740px; }
*/#serviceCategories li{padding:0 0 5px 10px;background:url(../images/common/listBullet.gif) 0 5px no-repeat;}
#serviceCategories .content{padding:10px 5px;}
#serviceCategories ul.first{padding-left:35px;}
#serviceCategories ul.last{padding-right:0;}
#serviceCategories .completeList{padding-left:785px;clear:both;}
#serviceCategories .header{padding-left:20px;}
#marqueecontainer{position:relative;width:200px;/*marquee width */height:120px;/*marquee height */background:transparent;overflow:hidden;border:none;padding:2px;padding-left:4px;}
/* Version 2 of Home page */#hero_homepage{height:267px;background:url(../images/homepage/hero_welcome.jpg) no-repeat top left;}
#hero_homepage .content{padding:202px 0 0 363px;}
#homepageContent{width:730px;padding:10px 0 0 5px;}
#servicePro_panel{background:url(../images/homepage/serviceProv_panel.gif) no-repeat top left;float:left;width:235px;height:131px;}
#servicePro_panel .content{padding:40px 15px 10px;}
#serviceBuyerNeeds{float:left;width:490px;padding-left:5px;}
#serviceBuyerNeeds .landingBucket{width:162px;}
#serviceBuyerNeeds .content{padding:8px 0 40px 5px;}