/*home category*/

.homeCat{ position:absolute; z-index:9999; width:190px; margin:0; font-weight:300;background-image:url("../images/search/tipbg-hc.png");repeat-x; -moz-border-radius:1em; border-radius:1em}
.homeCat li{list-style:disc}	 


.homeCatBL{ position:absolute; z-index:9999; top:-125px; width:190px; margin:0; font-weight:300;background-image:url("../images/search/tipbg-hc.png");repeat-x; -moz-border-radius:1em; border-radius:1em}

.homeCatBM{ position:absolute; z-index:9999; top:-220px; width:190px; margin:0; font-weight:300;background-image:url("../images/search/tipbg-hc.png");repeat-x; -moz-border-radius:1em; border-radius:1em}

.homeCatBR{ position:absolute; z-index:9999; top:-250px; width:190px; margin:0; font-weight:300;background-image:url("../images/search/tipbg-hc.png");repeat-x; -moz-border-radius:1em; border-radius:1em}

