@charset "utf-8";
/* CSS Document */

/* CSS home page */
.homeFont{color:#000;font-size:11px;}
.homeFont, h1{color:#000;}
a img {border:0 none;}

/* center */
#centerpage {
	color:#000000;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:left;
}
#centerpage p h1 h2 h3 h4 samll {
	color:#000;
	font-family:Verdana, Geneva, sans-serif;
}
.centerpagebgImg {
	background: #dadada url(../images/join_landing/aboutourproviderbg.png) no-repeat right bottom; 
	background-repeat:no-repeat; 
	background-position:right top; 
	width:100%;
}
.centerpagebg {
	padding-bottom:10px;
	background-color:#dadada;
}
.clearfix {
	display:block;
}
.outer {
	padding-bottom:0;
}
/* center */
/* heading */
.heading {
	height:120px;
	margin-bottom:0;
	padding-left:300px;
	padding-top:100px;
	background-color:#FFF;
}
.heading h1 {
	font-size:30px;
	font-weight:400;
	text-align:center;
}
.heading h1 h2 h3 h4 {
	color:#000;
	font-family:Verdana, Geneva, sans-serif;
}
.heading span {
	color:#00a0d2;
}
.headingAboutUs {
	background:transparent url(../images/join_landing/aboutus-header.png) no-repeat scroll left top;
	height:120px;
	margin-bottom:0;
	padding-left:300px;
	padding-top:100px;
	background-color:#FFF;
}
.headingAboutProvider {
	background:transparent url(../images/join_landing/aboutourprovider-header.png) no-repeat scroll left top;
	height:120px;
	margin-bottom:0;
	padding-left:300px;
	padding-top:100px;
	background-color:#FFF;
}
/* heading */
/* main content */
#mainContent {
	float:left;
	width:630px;
}
.mainContent {
	padding:30px;
	text-align:left;
}
/* main content */
/* step */
.step {
	width:950px;
	float:left;
	text-align:left;
	padding-left:20px;
	padding-bottom:10px;
	margin:auto;
	font:Verdana, Geneva, sans-serif;
	color:#000;
	
}
.stepSpace {
	padding-left:14px;
}
.stepBox {
	width:180px;
	height:270px;
	float:left;
	margin: auto;
	margin-top: 0;
	padding-left:8px;
}
.step .stepL {
	background-image:url(../images/join_landing/stepBlueBgL.png);
	background-repeat:no-repeat;
	width:11px;
	height:270px;
	float:left;
}
.step .stepR {
	background-image:url(../images/join_landing/stepBlueBgR.png);
	background-repeat:no-repeat;
	width:11px;
	height:270px;
	float:left;
}
.step .stepM {
	background-image:url(../images/join_landing/stepBlueBgM.png);
	background-repeat:repeat-x;
	width:150px;
	height:270px;
	float:left;
}
.step .stepMTop {
	width:120px;
	height:20px;
	padding:10px;
}
.step h1 {
	color:#fff;
	font-size:20px;
	font-weight:400;
}
.step h4 {
	color:#000;
	font-family:Verdana, Geneva, sans-serif;
	text-align:left;
}
/* step */
/* action */
li#actionCall {
	height:156px;
	margin-top:15px;
	list-style:none;
}
#actionCallInside {
	height:156px;
}
.actionCall {
	float:left;
	margin-left:40px;
	margin-top:20px;
	width:306px;
}
.actionCallBox {
	width:306px;
	height:149px;
}
.actionCallBox h2 {
	color:#00a0d2;
	font-family:Tahoma, Geneva, sans-serif;
}

#sidebar {
float:right;
padding-right:14px;
padding-top:20px;
}

body.acquity #auxNav {	

}
/* action */
