body{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;color:#666;background:#9f9f9f url(../images/common/siteBg.jpg) repeat-y top center;/*site_bg.gif*/}
/*html,body,*/#page_margins,#page{height:auto;}
*{padding:0;margin:0;}
p,h2,h3,h4{padding:4px 0;}
p{line-height:14px;}
td{line-height:14px;}
h2{font-size:14px;}
h3{font-size:12px;}
h4{font-size:10px;}
a img{border:0;}
td{font-size:10px;vertical-align:top;}
hr{height:1px;background:#9f9f9f;border:0;margin:10px 0;margin:2px 0;}
a:link,a:visited{color:#00a0d2;text-decoration:none;}
a:hover,a:active{color:#00a0d2;text-decoration:underline;}
.clear{clear:both;display:block;height:0;}
.clearfix:after{clear:both;content:".";display:block;height:0;visibility:hidden;}
.clearfix{display:block;}
select,option{font-size:10px;font-family:verdana, sans serif;}
select{background:#f7f7f7;border:1px solid #ccc;_margin-top:1px;}
option{margin-right:5px;padding:1px 2px;}
span.formLabel{padding:0 0 10px;}
label{padding:0 0 10px;}
input.textbox-70{width:70px;}
select.dropdown-80{width:80px;}
.smallText{font-size:10px;}
.lightBlue{color:#00a0d2;}
.red{color:red;}
.floatLeft{float:left;}
.floatRight{float:right;}
.darkRed{color:red;}
.text11px{font-size:11px;}
.noTopPad{padding-top:0;}
input.shadowBox{border:1px solid #cecece;background:#fff url(../images/common/textboxBg.gif) repeat-x top left;padding:2px 3px;font-size:10px;}
textarea.shadowboxedTextarea{border:1px solid #cecece;background:#fff url(../images/common/textboxBg.gif) repeat-x top left;padding:2px 3px;}
textarea,.inputArea{height:60px;border:1px solid #cecece;border-bottom-color:#e4e4e4;overflow:auto;padding:2px 5px;}
.shadowBox{border:1px solid #cecece;padding:3px 2px;background:#fff url(../images/common/textboxBg.gif) repeat-x top left;font-size:10px;font-family:verdana;}
#page_margins{margin:0 auto;width:980px;text-align:left;}
#page{background:#fff;}
#footer{text-align:center;background:#f4f4f4;padding:20px 0;height:100%;overflow:visible;}
/* Footer */.greyrule{color:#666;font-size:9px;}
.faintgrey{color:#58585A;font-size:9px;}
.colLeft711{float:left;width:711px;background:#fff;padding-left:5px;}
.colLeft711 .content{padding:0 14px 5px;line-height:14px;}
.colRight255{float:right;width:255px;padding-right:2px;}
.colRight235{float:right;width:235px;padding-right:0;}
/*
	height: 488px;
	background: url(../images/bg_right.gif) no-repeat; */.dividerWide{padding:5px 0;height:1px;background:url(../images/homepage/divider_line_wide.gif) no-repeat center center;}
.inlineList{list-style:none;clear:both;padding:5px 0;}
.inlineList li{display:inline;}
.formFieldOffset{margin-left:5px;}
/****SOW / SOD  Main Content Well Modules ****//* DARK Gray Header Bar for SOW/ SOD main content well modules*/.darkGrayModuleHdr{padding:5px 0 0 5px;background:#58585a url("../images/widgets/titleBarBg.gif") no-repeat top right;height:18px;font-weight:bolder;color:#fff;}
.scrollerTableHdr{background:#4CBCDF;color:#fff;font-weight:700;height:23px;width:665px;}
.scrollerTableHdr td{padding:0;vertical-align:middle;}
/* Light Gray Header Bar for SOW/ SOD main content well NESTED modules*/.scrollerTableHdrGray,.grayModuleHdr{width:665px;color:#fff;font-weight:700;background:#9F9F9F url(../images/widgets/subtitleBarBg.gif) no-repeat right top;margin-top:10px;height:23px;}
.grayModuleHdrNoBg{background:#9F9F9F;padding:5px 10px;}
.grayModuleHdr{width:auto;padding:5px 10px 0;height:18px;}
.grayModuleContent{border:1px solid #9F9F9F;border-top:none;padding:5px 10px;margin-bottom:5px;}
.mainWellContent{padding:5px 15px;}
.grayTableContainer{width:663px;height:100px;overflow:auto;border-color:#9f9f9f;border-width:0 1px 1px;border-style:solid;display:block;background:#fff;}
.grayTableContainer td{border-bottom:1px solid #9f9f9f;}
.gridTableContainer{width:663px;height:100px;overflow:auto;border-color:#4CBCDF;border-width:0 1px 1px;border-style:solid;display:block;}
.gridTableContainer td{border-bottom:1px solid #9f9f9f;}
.gridTable td{border-bottom:1px solid #9f9f9f;padding:10px 0;}
.rightRailWidget{background:#EDEDED;padding:2px;}
.rightRailWidget .grayModuleHdr{margin-top:0;width:auto;vertical-align:middle;}
.rightRailWidget p{line-height:15px;}
.favIconInline{margin-bottom:-2px;}
/* Navigation Buttons at Bottom of SOW/ SOD Forms */.formNavButtons{width:500px;float:left;padding:10px 0 10px 17px;}
.bottomRightLink{padding:10px 10px 10px 0;width:100px;float:right;text-align:right;}
.formNavButtons2{width:500px;float:left;padding:10px 0 10px 12px;}
/* Grid header arrows */a.sortGridColumnUp:link,a.sortGridColumnUp:visited,a.sortGridColumnUp:active,a.sortGridColumnUp:hover{background:url(../images/grid/arrow-up-white.gif) no-repeat 0 4px;padding-left:13px;color:#fff;}
a.sortGridColumnUp2:link,a.sortGridColumnUp2:visited,a.sortGridColumnUp2:active,a.sortGridColumnUp2:hover{background:url(../images/grid/arrow-up-white.gif) no-repeat 0 10px;padding-left:13px;color:#fff;display:block;}
/* Light gray Grid header */.hdrTable{width:665px;color:#fff;font-weight:700;background:#9F9F9F url(../images/widgets/subtitleBarBg.gif) no-repeat right top;height:23px;margin-top:20px;margin-bottom:0;}
/* SO Wizard/ Details form elements*/.contentWellPane .formFieldOffset{margin-left:5px;}
/* Tabs */.tabPane{height:28px;width:100%;text-align:center;padding-left:5px;}
.tabPane .tab{float:left;width:117px;height:100%;}
.tabPane .tab a,.tabPane .tab a:visited{display:block;color:#000;font-weight:700;background:url(../images/tabs/tab_bg.gif) 0 0 no-repeat;padding:8px 0 0;height:100%;text-decoration:none;}
.tabPane .tab a:hover,.tabPane .tab a:active,.tabPane .tab a.on{color:#fff;background:url(../images/tabs/tab_on.gif) 0 0 no-repeat;}
.tabPane .tab a.inactive:link,.tabPane .tab a.inactive:hover,.tabPane .tab a.inactive:active{color:a7a7a7;}
.tabPane .tabSpacer{width:1px;height:30px;float:left;}
.tabContent{border:2px solid #00a0d2;position:relative;left:5px;}
.contentPane table.noMargin,.contentPane table.noMargin table{margin-bottom:0;}
hr.noSpace{margin:2px 0;_margin:1px 0;padding:0;background:#666;}
.hrText{padding:15px 0 5px;font-weight:700;border-bottom:#666 1px solid;}
/* Grids */.ltBlueGridHdr{background:#4CBCDF;color:#fff;}
/* Horizontal Search bar in main content well */.searchBar{padding-left:15px;background:#ededed;margin:10px 10px 0;padding:5px;width:690px;font-size:10px;}
.searchBar label{font-weight:700;padding-right:5px;}
.searchBar img{margin-bottom:-8px;}
.searchBar select{width:150px;font-family:verdana;margin-right:5px;}
.searchBar input.searchTerm{width:180px;margin-right:5px;}
/* complex combo box */.rightSideComboBox{height:90px;width:230px;overflow:auto;background-color:#fff;border-width:1px;border-style:inset;border-color:#ddd;}
.rightSideComboBoxRowSpacer{padding:0 0 10px;}
.errorBox{background:#ffeacc;color:#FE0000;padding:5px 10px;border:1px solid #FF9600;}
p.errorBox{padding:3px;margin-right:20px;}
.errorMsg,p.errorMsg,.contentWellPane p.errorMsg{background:url(../images/icons/errorIcon.gif) no-repeat 0 8px;padding-left:15px;color:#FE0000;}
.errorMsg{background:url(../images/icons/errorIcon.gif) no-repeat 0 6px;padding-left:15px;}
span.errorMsg{font-weight:700;background-position:0 1px;}
label.error{color:#FE0000;}
.errorBox ul{padding-left:30px;}
.grayText{color:#999;}
/* Extra bottom padding for paragraphs/ headers preceding Title Pane Dojo widgets or module blocks*/p.paddingBtm,.contentPane p.paddingBtm{padding-bottom:15px;_padding-bottom:7px;}
.paddingBtm{padding-bottom:15px;}
/* Document attachment grid on SOW/ SOD tab */table.docTableSOWhdr,table.logoTableSOWhdr{width:665px;color:#fff;font-weight:700;background:#9F9F9F url(../images/widgets/subtitleBarBg.gif) no-repeat right top;background:#4CBCDF;height:23px;margin-bottom:0;}
table.docTableSOWhdr td{padding:0;vertical-align:middle;}
.docTableSOWhdr .column1,.docTableSOW .column1{text-align:center;width:80px;}
.docTableSOWhdr .column2,.docTableSOW .column2{width:70px;}
.docTableSOWhdr .column3{width:395px;}
.docTableSOWhdr .column4{width:120px;}
table.docTableSOW{width:645px;margin-bottom:20px;}
table.docTableSOW td{vertical-align:top;padding:10px 0;}
.docTableSOW .column3{width:385px;padding-right:10px;}
.docTableSOW .column4{width:100px;font-weight:700;}
.contactInfoTable{width:605px;}
.contactInfoTable td{vertical-align:top;}
.contactInfoTable .column1{width:160px;padding-right:15px;}
.contactInfoTable .column2{width:90px;padding-right:10px;}
.contactInfoTable .column3{width:250px;}
/* Added to adjust some table row padding so as to match */.contentWellPane table.adjustedTableRowPadding td{padding-top:0;padding-bottom:0;}
/* Normal vertical bullter UL */ul.vertBulleted{padding-left:12px;padding-bottom:8px;list-style-type:disc;}
ul.leftOffset{padding-left:30px;}
/*Preferred file types module*/.filetypes{float:right;margin-right:50px;_margin-right:25px;}
.filetypes p{line-height:20px;}
/* Landing/ main pages */.hero{height:223px;width:726px;background-position:2px 0;}
.hero .content{padding:28px 5px 5px 275px;}
.landingContent{padding:20px 0 15px 15px;width:720px;}
.landingContent .content{padding-left:9px;}
.bucketLinks li{font-weight:700;padding-right:10px;}
.inlineIcon{margin-bottom:-2px;_margin-bottom:-1px;}