/*css for member offer - created by Renjith */
.leftMemberOfferSide{
width:20%;
float: left;
margin-top: 2px;
margin-left: 40px;
background-image: url(../images/member_offers/left_hdr_1.png);
height: 490px;
background-repeat: no-repeat;
}

.rightMemberOfferSide{
width:69%;
float: right;
margin-top: 2px;
margin-right: 40px;

}

.leftMostPopularHdr{
height: 50px;
/*background-image: url(../images/member_offers/background_section_header.png);*/
}

.leftMostPopularCompanyName{
margin-left:10px;
margin-right: 10px;
font-size: 14px;
padding-bottom: 3px;
}

.leftMostPopularMiddle{
/*background-image: url(../images/member_offers/left_middle.png);
background-repeat: repeat;
border: 1px solid #E2E5E7;*/
}

.leftMostPopularImg{
margin-top:30px;
margin-left: 30px;
margin-bottom: 20px;
}

.leftMostPopulartxt{
font-family:helvetica;
margin-left: 10px;
margin-right: 10px;
margin-bottom: 10px;
}

.leftMostPopularTitle{
font-family:helvetica;
margin-left: 10px;
margin-right: 10px;
}

.leftMostPopularMore{

margin-right: 20px;
margin-bottom: 20px;
float: right;
width: 30px;
height: 10px;
}

.provPopup{
width: 520px;height: 160px;
background-image: url(../images/member_offers/prov_dashboard_popup_bg.png);
display: none;
}

.popText{
font-size: 12px;
padding-left:80px;
font-family: Arial,Helvetica,sans-serif;
}

.rightTableHdr{
background-image: url(../images/member_offers/member_offer_right_hdr_1.png);
/*background-repeat:repeat;*/
width: 656px;
height: 50px;
}

.rightTableFooter{
background-image: url(../images/member_offers/member_offer_right_footer_1.png);
/*background-repeat:repeat;*/
width: 656px;
height: 50px;
}

.slRedirect {
height: 380px;
width: 725px;
background-image: url(../images/member_offers/SL_redirect.png);
}
#modalOverlay {
background-color: #000;
cursor: wait;
}

.offerDetailshdr{
float: right;
margin-right: -30px;
width: 940px;
height:135px;
background-image: url(../images/member_offers/offer_details_hdr_1.png);
}

.viewAllOffers{
float:right;
/*padding-top: 40px;*/
width:200px;
height:50px;
background-repeat:no-repeat;
margin-right: 20px;
background-image: url(../images/member_offers/offer_details_view_all.png);
}

.viewAllOffers:hover{
float:right;
/*padding-top: 40px;*/
width:200px;
height:50px;
background-repeat:no-repeat;
margin-right: 20px;
background-image: url(../images/member_offers/offer_details_view_all_hover.png);
}

.viewAllOffersBottom{
float:right;
/*padding-top: 40px;*/
width:200px;
height:50px;
background-repeat:no-repeat;
margin-right: 20px;
margin-top:20px;
background-image: url(../images/member_offers/offer_details_view_all_bottom.png);
}

.viewAllOffersBottom:hover{
float:right;
/*padding-top: 40px;*/
width:200px;
height:50px;
background-repeat:no-repeat;
margin-right: 20px;
margin-top:20px;
background-image: url(../images/member_offers/offer_details_view_all_bottom_hover.png);
}

.offerDetailsTable{
margin-top: 215px;
width: 90%;
margin-left: 50px;

}

.offerDetailsRightSide{
border: 2px #e2e5e7;
border-style: dashed;
}

.offerDetailsLeftSide{
/*border: 2px #e2e5e7;
border-style: dashed;*/
}

.offerDetailImg1{
margin-left: 10px;
}

.offerJoinNow{
margin-top:20px;
margin-left: 20px;
background-image: url(../images/member_offers/join_now_button.png);
width: 220px;
height: 60px;

}

.offerJoinNow:hover{
margin-top:20px;
margin-left: 20px;
background-image: url(../images/member_offers/join_now_button_hover.png);
width: 220px;
height: 60px;
cursor:pointer;
}

.joinNowTxt{
color: #FFFFFF;
font-size: 18px;
font-weight: bold;
margin-left: 65px;
padding-top: 12px;
}

.offerDetailImg2{
margin-top:20px;
margin-left: 10px;
}

.offerDetailImg3{
margin-top:20px;
margin-left: 10px;
}

.mainTextOne{
margin-left: 10px;
margin-top: 20px;
font-size: 14px;
margin-right:10px;
}

.mainTextTwo{
margin-left: 10px;
margin-right:10px;
margin-top: 10px;
font-size: 14px;
}

.mainTextThree{
margin-left: 10px;
margin-right:10px;
margin-top: 10px;
margin-bottom: 10px;
font-size: 14px;
}

.detailsCompName{
margin-left: 10px;
font-size: 25px;
font-weight: bold;
color: #5A5A5A;
margin-top: 15px;
}

.listhdr{
margin-top:30px;
margin-left: 10px;
font-size: 14px;
}

.offerList{
margin-top:10px;
margin-left: 10px;
font-size: 14px;
}

.offerList ul{
list-style: square;
list-style-position: outside;
font-size-adjust: inherit;
}
.redirectDiv{
border:1px solid #b1770b;
background-color:#FFFFFF;
display:none;
position:absolute;
margin-top:-50px;
}
.spanPopUp {
background-color: #0A0000;
position:relative;
}
.leaveSpan{
position:relative;
color:white;
float:left;
top:10px;
left:10px;
}
.closeIcon{
position:relative;
padding-top:5px;
padding-left:520px;
margin-right:-35px;
}
.cancelOk{
position:relative;
}
.cancellink{
color:red;
position:relative;
}
.cancelsdiv{
position:relative;
float:right;
right:10px;
top:-5px;
margin-bottom: 15px;
margin-top: 15px;
}
.okdiv{     
position:relative;
float:left;
left:10px;
top:5px;
margin-bottom: 15px;
}
.greyDiv{
background-color:lightgrey;
position:relative;
height:170px;
width:680px;
border:1px solid #b1770b;
margin-left:10px;
margin-right:10px;
margin-top: 20px;
}
.whiteDiv{
background-color:white;
position:relative;
border:1px solid #b1770b;
width:650px;
margin-left:15px;
margin-right:15px;
margin-top:10px;
margin-bottom:10px;
max-height:200px;
overflow:auto;
}
.leavingLogo{
position:relative;
width:600px;
margin-left:50px;
margin-top:15px;
height:40px;
}
.leavingFont{
position:relative;
font-size:30px;
float:left;
left:100px;
top:10px;
}
.logoImg{
position:relative;
float:right;
right:85px;
}
.companyName{
font-size:20px;
position:relative;
}
.spinner{
float:right;
margin-right:20px;
margin-top:10px;
}
.companyNameDiv{
position:relative;
margin-top:5px;
}
#footer{
width: 950px;
border-top: 1px solid #CCCCCC;
 height: 85px;
padding: 10px 0;
line-height: 22px;
font-family: Verdana,Arial,Helvetica,sans-serif;
text-align: left;
}
p.faintgrey{
color:#58585A;
font-size:9px;
margin-left:10px;
}
span.PIPES{
color: #333333;	
}
#footer p{
margin-left:10px;	
}
p.lightBlue{
margin-left:10px;	
}