 /* Main Flora Style Sheet for jQuery UI Datepicker - ss customized */
#ui-datepicker-div,.ui-datepicker-inline{font-family:Arial,Helvetica,sans-serif;font-size:14px;padding:0;margin:0;background:#DDD;width:271px;}
#ui-datepicker-div{display:none;border:1px solid #F90;z-index:10;}
.ui-datepicker-inline{float:left;display:block;border:0;}
.ui-datepicker-dialog{padding:5px!important;border:4px ridge #DDD!important;}
button.ui-datepicker-trigger{width:25px;}
img.ui-datepicker-trigger{margin:2px;vertical-align:middle;}
.ui-datepicker-prompt{float:left;padding:2px;background:#DDD;color:#000;}
*html .ui-datepicker-prompt{width:185px;}
.ui-datepicker-control,.ui-datepicker-links,.ui-datepicker-header,.datepicker{clear:both;float:left;width:100%;color:#FFF;}
.ui-datepicker-control{background:#58585A;padding:2px 0;}
.ui-datepicker-header{display: block; width: 100%; background:#ECF7E6;padding:2px 0;}
.ui-datepicker-control,.ui-datepicker-header{font-weight:700;font-size:80%;letter-spacing:1px;}
.ui-datepicker-links label{padding:2px 5px;color:#888;}
.ui-datepicker-clear,.ui-datepicker-prev{float:left;width:20%;}
.ui-datepicker-current{float:left;width:20%;text-align:center;}
.ui-datepicker-close,.ui-datepicker-next{float:right;width:20%;text-align:right;}
.ui-datepicker-title{padding:1px 0 3px;text-align:center;font-weight:700;height:1.3em;border-bottom:2px solid #CCC;}
.ui-datepicker-title select{background:#ECF7E6;color:#000;border:0;font-weight:700; padding:0; margin:0 10px 0 0; width:auto; font-size:110%;}
.ui-datepicker-calendar{background:#FFF;text-align:center;font-size:100%;}
.ui-datepicker-calendar a{display:block;width:100%;}
.ui-datepicker-calendar .ui-datepicker-titleRow{background:#f4f4f4;color:#000;}
.ui-datepicker-calendar .ui-datepicker-daysRow{background:#FFF;color:#666;}
.ui-datepicker-weekCol{background:#f4f4f4;color:#000;}
.ui-datepicker-calendar .ui-datepicker-daysCell{color:#000;border:1px solid #DDD;}
#ui-datepicker .ui-datepicker-daysCell a{display:block;}
.ui-datepicker-calendar .ui-datepicker-week-end{background:#ECF7E6;}
.ui-datepicker-calendar .ui-datepicker-daysCellOver{background:#FFF;border:1px solid #777;}
.ui-datepicker-calendar .ui-datepicker-unselectable{color:#888;}
.ui-datepicker-today{background:#f4f4f4!important;}
.ui-datepicker-currentDay{background:#CCC!important;}
#ui-datepicker-div a,.ui-datepicker-inline a{cursor:pointer;margin:0;padding:0;background:none;color:#000;}
.ui-datepicker-inline .ui-datepicker-header a{padding:0 5px!important;}
.ui-datepicker-control a,.ui-datepicker-header a{padding:2px 5px!important;color:#000!important;}
.ui-datepicker-titleRow a{color:#000!important;}
.ui-datepicker-control a:hover{background:#FDD!important;color:#333!important;}
.ui-datepicker-links a:hover,.ui-datepicker-titleRow a:hover{background:#FFF!important;color:#333!important;}
.ui-datepicker-multi .datepicker{border:1px solid #CCC;}
.ui-datepicker-oneMonth{float:left;width:100%;}
.ui-datepicker-newRow{clear:left;}
.ui-datepicker-cover{display:none;display:block;position:absolute;z-index:-1;filter:mask();top:-4px;left:-4px;width:193px;height:200px;}
.ui-datepicker-calendar th {color:#000;background-color:#f4f4f4;}
.ui-datepicker-buttonpane {background-color:#58585A;width:100%;float:left;}
.ui-datepicker-calendar td {border:1px solid #DDDD;}
.ui-datepicker-calendar td:hover {border:1px solid #333;}
