
.video{ padding-top:10px;}

.jqmWindow{background-color:#000;border:5px solid #000;color:#333;display:none;left:50%;margin-left:-300px;padding:0;position:absolute;top:20%;width:600px;z-index:999999;}
.jqmWindow2{background-color:#FFF;border:5px solid #CCC;color:#333;display:none;left:50%;margin-left:-370px;padding:0;position:absolute;top:1%;width:740px;z-index:999999;}
.jqmWindowThin{background-color:#FFF;border:5px solid #CCC;color:#333;display:none;left:50%;margin-left:-200px;padding:0;position:absolute;top:10%;width:400px;z-index:999999;}
.jqmOverlay{background-color:#000;}
.jqmWindow textarea{width:530px;}
.jqmWindowTerms{background-color:#FFF;border:5px solid #CCC;color:#333;display:none;left:50%;margin-left:-300px;padding:0;position:absolute;top:10%;width:600px;z-index:999999;}
.jqmWindowTerms_btc{background-color:#FFF;border:5px solid #CCC;color:#333;display:none;left:50%;margin-left:-300px;padding:0;position:absolute;top:35%;width:600px;z-index:999999;}
.jqmWindowTerms_slb{background-color:#FFF;border:5px solid #CCC;color:#333;display:none;left:50%;margin-left:-300px;padding:0;position:absolute;top:35%;width:600px;z-index:999999;}
.jqmWindowList{background-color:#FFF;border:5px solid #CCC;color:#333;display:none;margin-left:150px;margin-top:-550px;padding:0;position:absolute;height:400px;width:665px;}
.modalHeader{background:#58585a;color:#FFF;font-weight:700;padding:10px;text-align:right;margin-top:0;}
* html .modalHeader{background:#58585a;color:#FFF;font-weight:700;padding:10px;text-align:right;margin-top:-150px;}
.modalHomepage{background:#58585a;color:#FFF;font-weight:700;padding:10px;text-align:right;}
.modalContent{padding:20px;}
a.jqmClose{color:#FFF;font-weight:700;}