.moduleView td{width:320px;padding:5px 0;}
.moduleView th{background:#333;color:#fff;text-align:center;padding:5px 0;}
.promoModule{margin-bottom:10px;padding:5px 10px;}
.modNarrow{width:235px;background-repeat:no-repeat;}
.modWide{width:255px;background-repeat:no-repeat;}
.modTop{width:270px;}
.modTop p,.modWide p,.modNarrow p{line-height:13px;}
/*** Did You Know modules ***/.dykMod .content,#rightRail .dykMod .content{padding:35px 60px 5px 18px;}
.dykModTop .content,#rightRail .dykModTop .content{padding:45px 55px 5px 56px;}
.dyk1_narrow{background-image:url(../images/modules/dyk1_narrow.gif);height:124px;}
.dyk1_top{background-image:url(../images/modules/dyk1_top.gif);height:135px;}
.dyk1_wide{background-image:url(../images/modules/dyk1_wide.gif);height:124px;}
.dyk2_narrow{background-image:url(../images/modules/dyk2_narrow.gif);height:109px;}
.dyk2_top{background-image:url(../images/modules/dyk2_top.gif);height:120px;}
.dyk2_wide{background-image:url(../images/modules/dyk2_wide.gif);height:109px;}
.dyk3_narrow{background-image:url(../images/modules/dyk3_narrow.gif);height:145px;}
.dyk3_top{background-image:url(../images/modules/dyk3_top.gif);height:156px;}
.dyk3_wide{background-image:url(../images/modules/dyk3_wide.gif);height:145px;}
.dyk4_narrow{background-image:url(../images/modules/dyk4_narrow.gif);height:112px;}
.dyk4_top{background-image:url(../images/modules/dyk4_top.gif);height:123px;}
.dyk4_wide{background-image:url(../images/modules/dyk4_wide.gif);height:112px;}
.dyk5_narrow{background-image:url(../images/modules/dyk5_narrow.gif);height:100px;}
.dyk5_top{background-image:url(../images/modules/dyk5_top.gif);height:111px;}
.dyk5_wide{background-image:url(../images/modules/dyk5_wide.gif);height:88px;}
.dyk6_narrow{background-image:url(../images/modules/dyk6_narrow.gif);height:124px;}
.dyk6_top{background-image:url(../images/modules/dyk6_top.gif);height:135px;}
.dyk6_wide{background-image:url(../images/modules/dyk6_wide.gif);height:112px;}
.dyk7_narrow{background-image:url(../images/modules/dyk7_narrow.gif);height:100px;}
.dyk7_top{background-image:url(../images/modules/dyk7_top.gif);height:111px;}
.dyk7_wide{background-image:url(../images/modules/dyk7_wide.gif);height:100px;}
.dyk8_narrow{background-image:url(../images/modules/dyk8_narrow.gif);height:112px;}
.dyk8_top{background-image:url(../images/modules/dyk8_top.gif);height:123px;}
.dyk8_wide{background-image:url(../images/modules/dyk8_wide.gif);height:112px;}
.dyk9_narrow{background-image:url(../images/modules/dyk9_narrow.gif);height:124px;}
.dyk9_top{background-image:url(../images/modules/dyk9_top.gif);height:135px;}
.dyk9_wide{background-image:url(../images/modules/dyk9_wide.gif);height:112px;}
.dyk10_narrow{background-image:url(../images/modules/dyk10_narrow.gif);height:147px;}
.dyk10_top{background-image:url(../images/modules/dyk10_top.gif);height:158px;}
.dyk10_wide{background-image:url(../images/modules/dyk10_wide.gif);height:136px;}
/*** FAQ modules ***/.faqMod .content,#rightRail .faqMod .content{padding:52px 65px 5px 18px;}
.faqModTop .content,#rightRail .faqModTop .content{padding:62px 60px 5px 56px;}
.faq1_narrow{background-image:url(../images/modules/faq1_narrow.gif);height:161px;}
.faq1_top{background-image:url(../images/modules/faq1_top.gif);height:172px;}
.faq1_wide{background-image:url(../images/modules/faq1_wide.gif);height:161px;}
.faq2_narrow{background-image:url(../images/modules/faq2_narrow.gif);height:209px;}
.faq2_top{background-image:url(../images/modules/faq2_top.gif);height:220px;}
.faq2_wide{background-image:url(../images/modules/faq2_wide.gif);height:198px;}
.faq3_narrow{background-image:url(../images/modules/faq3_narrow.gif);height:173px;}
.faq3_top{background-image:url(../images/modules/faq3_top.gif);height:184px;}
.faq3_wide{background-image:url(../images/modules/faq3_wide.gif);height:162px;}
.faq3_wide .content{padding-right:60px;}
.faq4_narrow{background-image:url(../images/modules/faq4_narrow.gif);height:186px;}
.faq4_top{background-image:url(../images/modules/faq4_top.gif);height:197px;}
.faq4_wide{background-image:url(../images/modules/faq4_wide.gif);height:156px;}
.faq4_wide .content,.faq5_wide .content{padding-top:70px;}
.faq4_narrow .content{padding-top:90px;}
.faq4_top .content{padding-top:100px;}
.faq5_narrow{background-image:url(../images/modules/faq5_narrow.gif);height:191px;}
.faq5_top{background-image:url(../images/modules/faq5_top.gif);height:202px;}
.faq5_wide{background-image:url(../images/modules/faq5_wide.gif);height:180px;}
.faq5_narrow .content{padding-top:70px;}
.faq5_top .content{padding-top:80px;}
.faq6_narrow{background-image:url(../images/modules/faq6_narrow.gif);height:191px;}
.faq6_top{background-image:url(../images/modules/faq6_top.gif);height:172px;}
.faq6_wide{background-image:url(../images/modules/faq6_wide.gif);height:161px;}
.faq7_narrow{background-image:url(../images/modules/faq7_narrow.gif);height:191px;}
.faq7_top{background-image:url(../images/modules/faq7_top.gif);height:172px;}
.faq7_wide{background-image:url(../images/modules/faq7_wide.gif);height:150px;}
/*** Instructional modules ***/.instMod .content,#rightRail .instMod .content{padding:35px 22px 5px 18px;}
.instModTop .content,#rightRail .instModTop .content{padding:45px 30px 5px 56px;}
.corpHQ_top{height:224px;background:transparent url(../images/modules/corpHQ_top.gif) no-repeat left top;}
.corpHQ_top .content,#rightRail .corpHQ_top .content{padding-top:50px;}
.corpHQ_wide .content,#rightRail .corpHQ_wide .content,.corpHQ_narrow .content,#rightRail .corpHQ_narrow .content{padding-top:45px;}
.corpHQ_top p,.corpHQ_top table,.corpHQ_wide p,.corpHQ_wide table,.corpHQ_narrow p,.corpHQ_narrow table{padding-bottom:10px;}
.corpHQ_top td,.corpHQ_wide td,.corpHQ_narrow td{padding:0;}
.corpHQ_wide{height:213px;background:transparent url(../images/modules/corpHQ_wide.gif) no-repeat left top;}
.corpHQ_narrow{height:213px;background:transparent url(../images/modules/corpHQ_narrow.gif) no-repeat left top;}
.support_narrow{background-image:url(../images/modules/support_narrow.gif);height:115px;}
.support_top{background-image:url(../images/modules/support_top.gif);height:126px;}
.support_wide{background-image:url(../images/modules/support_wide.gif);height:115px;}
.discussion_narrow{background-image:url(../images/modules/discussion_narrow.gif);height:115px;}
.discussion_wide{background-image:url(../images/modules/discussion_wide.gif);height:115px;}
.discussion_top{background-image:url(../images/modules/discussion_top.gif);height:126px;}
.stay_organized_wide{background-image:url(../images/modules/stayOrganized_wide.gif);height:115px;}
.simple_email_wide{background-image:url(../images/modules/simpleAsEmail_wide.gif);height:89px;}
.save_notes_wide{background-image:url(../images/modules/saveNotes_wide.gif);height:115px;}
.stay_informed_wide{background-image:url(../images/modules/stayInformed_wide.gif);height:125px;}
/*** Marketing modules ***/.mktMod .content,#rightRail .mktMod .content{padding:35px 22px 5px 18px;}
.mktModTop .content,#rightRail .mktModTop .content{padding:45px 30px 5px 56px;}
.realStories_narrow{background-image:url(../images/modules/realStories_narrow.gif);height:118px;}
.realStories_wide{background-image:url(../images/modules/realStories_wide.gif);height:106px;}
.realStories_top{background-image:url(../images/modules/realStories_top.gif);height:129px;}
.ratings_narrow{background-image:url(../images/modules/ratings_narrow.gif);height:145px;}
.ratings_wide{background-image:url(../images/modules/ratings_wide.gif);height:134px;}
.ratings_top{background-image:url(../images/modules/ratings_top.gif);height:156px;}
.tryUsOut_wide{background-image:url(../images/modules/tryUsOut_wide.gif);height:133px;}
.tryUsOut_narrow{background-image:url(../images/modules/tryUsOut_narrow.gif);height:133px;}
.tryUsOut_top{background-image:url(../images/modules/tryUsOut_top.gif);height:144px;}
.trySearch_wide{background-image:url(../images/modules/trySearch_wide.gif);height:231px;}
.trySearch_top{background-image:url(../images/modules/trySearch_top.gif);height:252px;}
.trySearch_narrow{background-image:url(../images/modules/trySearch_narrow.gif);height:241px;}