.modalPS {
	background-color:#000;
	border:5px solid #000;
	color:#333;
	display:none;
	left:50%;
	margin-left:-300px;
	padding:0;
	position:absolute;
	top:20%;
	width:600px;
	z-index:999998;
	padding:10px;
	-moz-border-radius:1em;
	border-radius:1em;
}
.jqmOverlay {
	background-color:#000;
	position:absolute;
	
}
.modalPSTop {
	background:#000;
	color:#FFF;
	font-weight:700;
	text-align:right;
	padding-bottom:0px;
}
.modalPSContent {
	padding:20px;
	background-color:#fff;
}
a.jqmClose {
	color:#FFF;
	font-weight:700;
}
.modalPSTopLeft {
	float:left;
	width:33%;
	color:#Fff;
	font-size:14px;
	font-weight:600;
	text-align:left;
}
.modalPSBtm {
	width:100%;
	height:30px;
}
.modalPSBtmLeft {
	width:40%;
	float:left;
}
.modalPSBtmRight {
	width:40%;
	float:right;
}

#toolTipMenu {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 15px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	width:100px;
}

#toolTipMenu ul {
	list-style-type:none;
}
#toolTipMenu ul ul {
	display:none;
	float:none;
	line-height:10px;
	margin:0;
	width:100px;
	padding-bottom:4px;
	padding-top:4px;
	padding-left:8px;
}
#toolTipMenu li {
	padding-bottom:2px;
	padding-top:2px;
	marker-offset:5px;

}
.toolTipMenu {
	position:absolute;
	z-index:9999;
	width:100px;
	margin:0;
	font-weight:300;
	background-color:#DCF2F9;
}


table.passwordReset { padding: 0px; border: none; cellspacing:0; border-collapse:collapse; }

table.passwordReset td { border-left: 1px solid #ccc;  text-align: left;}
table.passwordReset th { border-left: 1px solid #ccc; }
first{ border-left-style:none;  }
table.passwordReset .th25{ width:25%;}
table.passwordReset .th20{ width:20%;}
table.passwordReset .th35{ width:35%;}
