.directions {font-size:1.0em; margin-left:10px;}
#questionFormArea {padding: 10px 20px 20px; border-bottom:#696969 solid 1px; position:relative;}
#postQuestionForm label {display:block;font-weight:bold; font-size:1.2em; color:#696969; }
#postQuestionForm textarea {width:98%; height:45px; font-family:arial,san-serif; font-size:0.9em;}
.remainingNotice { font-style:italic; font-size:0.9em; font-weight:bold; }
#postQuestionForm .submitarea { margin-top:10px; overflow:auto; }
#postQuestionForm input[type=submit] { float:right; font-weight:bold; padding:5px 10px; }
.postWrap {border-bottom:#969696 solid 1px; margin:0 10px; padding:10px 0; overflow:hidden;}
.postWrap:last-child { border-bottom:none; }
.postWrap img { float:left; }
.postWrap .post {margin-left:20px; margin-bottom:0; }
.post .byline { margin-bottom:1em; }
.post .replyWrap {margin:10px 0 0 20px; clear:both; overflow:auto; }
.post .replyWrap img { float:left; }
.post .replyWrap .reply { float:left; margin-left:20px; }
.post .links { margin-top:20px; }
.post .links a { font-weight:bold; color:#009fd1; text-decoration:none; border: 0; }
.post .links a:hover { color:#2d2e29; }
.replyForm { overflow:auto; width:99%; margin-top:10px; }
.replyForm .replyTextArea textarea { width:500px; height:60px; font-family:arial,san-serif; font-size:0.9em; }
.replyForm .replyTextArea { float:left; }
.replyForm .submitArea { padding-left:10px; float:left; }
.replyForm input[type=submit] { float:right; font-size:0.9em; font-weight:bold; padding:5px 15px; margin-bottom:5px; }
.replyForm .submitArea a { font-size:0.9em; color:#d55300; font-weight:bold; text-decoration:none; }
.replyForm .submitArea a:hover { color:#2d2e29; }
.replyForm .submitArea input {font: bold 10px Verdana, sans-serif; margin:0;}