.SPReg{position:relative;height:173px;}
label{font-weight:400;}
table.insurancePolicyTableHdr{width:679px;margin-top:10px;}
table.insurancePolicyTableHdr td{padding:0;vertical-align:middle;}
.insurancePolicyTableHdr{height:30px;vertical-align:middle;}
.insurancePolicyTableHdr .column1,.insurancePolicyTable .column1{text-align:center;width:60px;}
.insurancePolicyTableHdr .column2,.insurancePolicyTable .column2{width:130px;}
.insurancePolicyTable .column2{width:125px;}
.insurancePolicyTableHdr .column3{width:140px;}
.insurancePolicyTableHdr .column4,.insurancePolicyTable .column4{width:130px;text-align:center;}
.insurancePolicyTableHdr .column5,.insurancePolicyTable .column5{width:100px;text-align:center;}
.insurancePolicyTable .column5{text-align:center;}
.insurancePolicyTableHdr .column6{width:105px;padding-left:20px;}
table.insurancePolicyTable{margin-bottom:10px;border-color:#9F9F9F;border-style:solid;border-width:0 1px;}
table.insurancePolicyTable td{padding:10px 0;border-bottom:1px solid #9f9f9f;}
.insurancePolicyTable .column3{width:140px;}
.insurancePolicyTable .column6{width:125px;text-align:center;}
/* Licenses on File grid*/table.licensesTableHdr{width:auto;margin-top:10px;}
table.licensesTableHdr td{padding:0;vertical-align:middle;}
.licensesTableHdr{height:30px;vertical-align:middle;}
.licensesTableHdr .column1,.licensesTable .column1{text-align:center;width:60px;}
.licensesTableHdr .column2,.licensesTable .column2{width:180px;}
.licensesTableHdr .column3{width:190px;}
.licensesTableHdr .column4,.licensesTable .column4{width:130px;text-align:center;}
.licensesTableHdr .column5{width:105px;padding-left:20px;}
table.licensesTable{margin-bottom:10px;border-color:#9F9F9F;border-style:solid;border-width:0 1px;}
table.licensesTable td{padding:10px 0;border-bottom:1px solid #9f9f9f;}
.licensesTable .column3{width:190px;}
.licensesTable .column5{width:125px;text-align:center;}
table.insuranceReqsTable{margin-bottom:10px;  color:  #222;}
table.insuranceReqsTable td strong {font-size:  12px;}
table.insuranceReqsTable tr.bottom td{}
.smallFont {font-size: 9px;}
.insuranceReqsTable .column1{ padding-top:  0px;}
input#addInsuranceAction_test, input#addInsuranceAction_insuranceInfoDto_VLI, input#addInsuranceAction_insuranceInfoDto_WCI, input#addInsuranceAction_insuranceInfoDto_CBGLI {float: left; margin-right: 5px;}
.insuranceReqsTable p.policy {background: #FFF6BF; color: #514721; border:0; padding:5px; float:left; margin:10px 0;}
.insuranceReqsTable p.insErrorBox{background:#ffeacc; color:#FE0000; border:0; padding:5px; float:left; margin:10px 0;}
.insuranceReqsTable p.policyNote {background:#FFF6BF; color:#514721; border:0;}
p.policy input {width: 50px;}
.insuranceReqsTable p.title {float: left;}
div.attach {float: right; margin: 4px 0; padding: 0px;}
.insuranceReqsTable p.statdoc {	margin-top: 18px; margin-left:200px;}
input.date {background: url("../images/s_icons/date_add.png") 110px 4px no-repeat;}
#search input.text {width: 180px;}
#search input.short {width: 79px;}
div.or {margin: 0px auto; background: #FFF; text-align: center; padding: 5px; width: 20px; position: relative; top:-25px;}
.insuranceReqsTable .column2{ border-bottom:  1px solid #CCC;}
.insuranceReqsTable .column5{ border-bottom:  1px solid #CCC;}
#insurancePolicyContainer{width:677px;margin-bottom:10px;}
table.docTablePRhdr{color:#fff;font-weight:700;background:#4CBCDF;height:23px;margin-bottom:0;}
table.docTablePR{width:445px;}
table.docTablePRhdr td{padding:0;vertical-align:middle;}
.docTablePRhdr .column1,.docTablePR .column1{text-align:center;width:80px;}
.docTablePRhdr .column2{width:285px;}
.docTablePRhdr .column3{width:100px;}
table.docTablePR td{vertical-align:top;padding:10px 0;}
.docTablePR .column2{width:275px;padding-right:10px;}
.docTablePR .column3{width:80px;}
#docContainer{width:463px;margin-bottom:10px;height:65px;}
.filetypes{float:right;margin-right:50px;_margin-right:25px;}
.filetypes p{line-height:20px;}
.prTabsBiz p,.prTabsBiz td{line-height:14px;}
.prTabsBiz .inputArea{width:auto;}
/* Join Now pages */.heroJoinNow{width:726px;padding:1px 0 0;clear:both;display:block;height:223px;clear:both;background-repeat:no-repeat;background-position:2px 0;}
#servicePro{background-image:url(../images/sp_firm_registration/hero_joinNow.gif);}
#servicePro .content{padding-right:0;padding-top:20px;}
#bizOwner{background-image:url(../images/buyer_registration/hero_bizOwner_joinNow.gif);}
#homeowner{background-image:url(../images/buyer_registration/hero_homeowner_joinNow.jpg);}
.heroJoinNow #column1{padding:28px 5px 5px 275px;}
#joinNow_generic{background-image:url(../images/registration/hero_generic_joinNow.jpg);}
#joinNow_generic .content{padding-left:300px;padding-right:50px;}
.joinNowBtm{padding:15px 0 20px 25px;width:690px;}
.joinNowBtm ul{padding:10px 10px 5px 15px;list-style-type:disc;float:left;width:310px;}
.joinNowBtm ul#column2{padding-right:0;width:340px;}
.joinNowBtm li{padding:0 0 15px;}
/* Registration Dashboard & Status */.regDashboardHdr{font-size:1%;background:url(../images/sp_registration/bg_registration_header.gif) no-repeat;width:668px;height:18px;padding:7px 0 0 20px;}
.regDashboardContent{width:668px;background:url(../images/sp_registration/bg_registration_content.gif) repeat-y;padding:10px 0 0 20px;display:block;}
.regDashboardContent .column1{float:left;width:45px;}
.regDashboardContent .column2{float:left;width:130px;}
.regDashboardContent .column3{float:left;width:470px;}
.regDashboardFooter{background:url(../images/sp_registration/bg_registration_bottom.gif) no-repeat;width:688px;height:29px;margin-bottom:10px;}
.regStatus{background:url(../images/sp_registration/bg_regStatus.gif) no-repeat;height:139px;padding:40px 20px 0 13px;line-height:13px;}
.regStatus .profileType{float:left;width:193px;padding-left:15px;font-weight:700;}
.regStatus .divider{background:url(../images/sp_registration/bg_regStatus_divider.gif) repeat-x 0 5px;height:2px;width:222px;clear:both;padding:5px 0;display:block;_padding:2px 0;}
.regStatus .statusIcon{float:left;width:12px;}
/* SPN on File grid*/table.spnTableHdr{width:auto;margin-top:10px;}
table.spnTableHdr td{padding:0;vertical-align:middle;}
.spnTableHdr{height:30px;vertical-align:middle;}
.spnTableHdr .column1,.spnTable .column1{text-align:center;width:60px;}
.spnTableHdr .column2,.spnTable .column2{width:250px;}
.spnTableHdr .column3,.spnTable .column3{width:90px;}
.spnTableHdr .column4,.spnTable .column4{width:200px;text-align:center;}
.spnTableHdr .column5{width:105px;padding-left:20px;}
table.spnTable{margin-bottom:10px;border-color:#9F9F9F;border-style:solid;border-width:0 1px;}
table.spnTable td{padding:10px 0;border-bottom:1px solid #9f9f9f;}
.spnTable .column5{width:125px;text-align:center;}


/* from acquity.css */
body #page_margins {padding: 20px 10px; background: #FFF url("../images/bg.gif") 0 95px repeat-x; margin-top: 20px; margin-bottom: 20px;
-moz-border-radius: 10px; -webkit-border-radius: 10px; border: 1px solid #DDD;}
body.tundra {background:none repeat scroll 0 0 #58585A;}
body.acquity #header{height:110px; background:transparent;}
body.acquity #auxNav {top: 75px;}
.grayModuleContent {border:1px solid #CCCCCC;}
.btn20Bevel {background-position:0 0; background-repeat:no-repeat;border:0 none;}

.myButton { background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #F8E09E), color-stop(1, #F9BF21));
background:-moz-linear-gradient(top, #F8E09E 5%, #F9BF21 100%); background:-webkit-linear-gradient(top, #F8E09E 5%, #F9BF21 100%);
background:-o-linear-gradient(top, #F8E09E 5%, #F9BF21 100%); background:-ms-linear-gradient(top, #F8E09E 5%, #F9BF21 100%);
background:linear-gradient(to bottom, #F8E09E 5%, #F9BF21 100%); 
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F8E09E', endColorstr='#F9BF21',GradientType=0);
background-color:#F8E09E; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; border:1px solid #f8c373;
display:inline-block; cursor:pointer; color:#080108; font-family:tahoma; font-size:9px; font-weight:bold; padding:2px 10px 2px 10px;
text-decoration:none; text-shadow:0px 1px 0px #f8c373; box-shadow: 3px 3px 5px #CCCCCC; }

.myButton:hover {background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #F9BF21), color-stop(1, #F8E09E));
background:-moz-linear-gradient(top, #F9BF21 5%, #F8E09E 100%); background:-webkit-linear-gradient(top, #F9BF21 5%, #F8E09E 100%);
background:-o-linear-gradient(top, #F9BF21 5%, #F8E09E 100%); background:-ms-linear-gradient(top, #F9BF21 5%, #F8E09E 100%);
background:linear-gradient(to bottom, #F9BF21 5%, #F8E09E 100%); 
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9BF21', endColorstr='#F8E09E',GradientType=0);
background-color:#F9BF21; text-decoration: none; color:#080108;}

.myButton:active {position:relative; top:1px; }

.upperTextClass{
	text-transform: uppercase;
}
.largeTextFont{
	font-size: 11px;
}

.jqmWindow {background-color:#FFFFFF; border:5px solid #A8A8A8; color:#333333; display:none; left:50%; margin-left:-300px; padding:0; position:absolute; top:20%; width:600px; z-index:999999;}
.jqmOverlay {background-color:#000000;}
#footer {color:#999999;}
.footericons {float:right; padding:10px 0;}
#footer a {color:#666666;}
.jTip{cursor:help;}
#JT_arrow_left{background-image:url(../images/simple/arrow_left.gif);background-position:left top;background-repeat:no-repeat;height:23px;left:-12px;position:absolute;top:-3px;width:10px;z-index:101;}
#JT_arrow_right{background-image:url(../images/simple/arrow_right.gif);background-position:left top;background-repeat:no-repeat;height:23px;position:absolute;top:-2px;width:11px;z-index:101;}
#JT{background-color:#fff;border:2px solid #CCC;position:absolute;z-index:100;}
#JT_copy{color:#333;padding:10px;text-align:left;}
#JT_copy p{margin:3px 0;padding:0;}
#JT_copy li{list-style-position:inside;margin-bottom:3px;}
.JT_loader{background-image:url(../images/loader.gif);background-position:center center;background-repeat:no-repeat;height:12px;width:100%;}
#JT_copy img{border:1px solid #CCC;padding:1px;}
#JT_close_left,#JT_close_right{background-color:#CCC;font-weight:700;padding-bottom:5px;padding-left:8px;padding-top:2px;text-align:left;}
.req {color:red;}
select {background-color: #fff;}
a.providerbutton {background: url("../images/join_landing/providerbutton.png") top center no-repeat;width: 306px;height: 88px;display: block;text-indent: -99999px;}
a.providerbutton:hover {background-position: bottom center;}