#expandRow{border:0 0 0 0;padding:0;}
#docsAndPhotosBidTabView {width:98%; margin:2px; padding:5px; border: 1px solid #ccc;}
#docsAndPhotosBidTabView td {vertical-align:middle; border-bottom: 1px solid #ddd}
#docsAndPhotosBidTabView tr td:first-child {width:15%;}
#docsAndPhotosBidTabView tr td:first-child +td+td+td {width: 13%;}