#headerSOW{overflow:visible;height:210px;position:relative;}
.logoTableSOWhdr .column1,.logoTableSOW .column1{text-align:center;width:80px;}
.logoTableSOWhdr .column2,.logoTableSOW .column2{width:70px;}
.logoTableSOWhdr .column3{width:345px;}
.logoTableSOWhdr .column4{width:170px;}
table.logoTableSOW{width:645px;margin-bottom:20px;}
table.logoTableSOW td{vertical-align:top;padding:10px 0;}
.logoTableSOW .column3{width:335px;padding-right:10px;}
.logoTableSOW .column4{width:150px;font-weight:700;}
.categoryTable{margin:0 0 20px;}
.categoryTable td{width:200px;padding-right:15px;}
.categoryTable td.column3{padding-right:0;}
.provSelectHdr{width:675px;color:#fff;font-weight:700;background:#4CBCDF;height:30px;margin-top:20px;margin-bottom:0;line-height:13px;}
.provSelectHdr td{vertical-align:middle;}
.provSelectHdr .column1,.provSelect .column1{text-align:center;width:45px;}
.provSelectHdr .column2,.provSelect .column2{text-align:center;width:70px;}
.provSelectHdr .column3,.provSelect .column3{width:250px;padding-right:5px;}

.provSelectHdr .column3_1,.provSelect .column3_1{width:190px;padding-right:2px;}
.provSelectHdr .column3_2,.provSelect .column3_2{width:135px;padding-right:3px;}
.provSelectHdr .column4_merged{width:90px;padding-left:5px; text-align:center;}
.provSelect .column4_merged{width:100px;text-align:center; text-align:center;}

.provSelectHdr .column4{width:60px;padding-left:5px;}
.provSelect .column4{width:65px;text-align:center;}
.provSelectHdr .column5{width:85px;}
.provSelect .column5{width:85px;text-align:center;}
.provSelectHdr .column6{width:90px;padding-left:10px;}
.provSelect .column6{width:100px;text-align:center;}
table.provSelect{width:645px;margin-bottom:20px;}
table.provSelect td{vertical-align:top;padding:10px 0;}
.provReviewHdr{width:635px;color:#fff;font-weight:700;background:#4CBCDF;height:30px;margin-top:20px;margin-bottom:0;line-height:13px;}
.provReviewHdr td{vertical-align:middle;}
.provReviewHdr .column2,.provReview .column2{text-align:center;width:90px;}
.provReviewHdr .column3,.provReview .column3{width:250px;padding-right:5px;}
.provReviewHdr .column4{width:60px;padding-left:5px;}
.provReview .column4{width:65px;text-align:center;}
.provReviewHdr .column5{width:85px;}
.provReview .column5{width:85px;text-align:center;}
.provReviewHdr .column6{width:90px;padding-left:10px;}
.provReview .column6{width:100px;text-align:center;}
table.provReview{width:600px;margin-bottom:20px;}
table.provReview td{vertical-align:top;padding:10px 0;}
.provSearchHdr{width:635px;color:#fff;font-weight:700;background:#4CBCDF;height:30px;margin-top:20px;margin-bottom:0;line-height:13px;}
.provSearchHdr td{vertical-align:middle;}
.provSearchHdr .column1{width:20px;padding-left:5px;}
.provSearch .column1{width:25px;padding-left:15px;text-align:center;}
.provSearchHdr .column2{text-align:center;width:30px;padding-left:5px;}
.provSearch .column2{text-align:center;width:45px;}
.provSearchHdr .column3{width:200px;padding-right:5px;}
.provSearch .column3{width:220px;padding-right:5px;}
.provSearchHdr .column4{width:60px;}
.provSearch .column4{width:70px;text-align:center;}
.provSearchHdr .column5{width:85px;}
.provSearch .column5{width:85px;text-align:center;}
.provSearchHdr .column6{width:90px;padding-left:10px;}
.provSearch .column6{width:100px;text-align:center;}
table.provSearch{width:633px;margin-bottom:20px;}
table.provSearch td{vertical-align:top;padding:10px 0;}
.ltBlueHdrTable{color:#fff;font-weight:700;background:#4CBCDF;height:30px;margin-top:20px;margin-bottom:0;line-height:13px;color:#fff;}
/* Template dropdown in header */p.templateSelect{padding:15px 0;}
/* SOW Tabs - for different widths */.wizardTabs{margin:0;width:711px;float:left;padding-left:5px;}
.wizardTabs .dijitTabPane{padding:5px;}
/* Testing for line breaks 

.wizardTabs .dijitTab { width: 117px; height: 30px; }

.wizardTabs .dijitTabInnerDiv { padding: 4px 10px; }
*/.wizardTabs .tab1{width:120px;}
.wizardTabs .tab2{width:160px;}
.wizardTabs .tab3{width:80px;}
.wizardTabs .tab4{width:100px;}
.wizardTabs .tab5{width:145px;}
.wizardTabs .tab6{width:101px;}
.wizardTabs .tabContent{padding:5px;}
.inlineIcon{margin-bottom:-2px;_margin-bottom:-1px;}
#PartsPanels .dijitTitlePaneTitle {position:relative;}
.deletePart {position:absolute; top:3px; right: 20px;z-index:1; color:#333; font-weight:bold; cursor:pointer;}
.deletePart span {text-decoration:underline;}
.deleteIcon {vertical-align:middle;margin-right:2px;}
#PartsPanels .dijitTitlePaneTitle {background-color: #ccc; background-image:none; border: 1px solid #9F9F9F;}
#PartsPanels .nohrText {font-weight:bold;}
#PartsPanels h3 {padding:0; margin:5px 0;}
.navArrow {margin-right:3px;}
.subpanelBody {display:none;}
.subpanelHdr {background: url(../images/icons/arrowRight-darkgray.gif) no-repeat 0 2px; text-indent: 13px; cursor:pointer;}
#PartsPanels .contentWellPane .dijitTitlePaneContentInner {background-color:#eee;}
.measureUnitRadio {vertical-align:middle; margin: -2px 3px 0 0;}
.grayButton {background: none; padding: 2px 3px; background-color:#eee; margin-right:10px;
border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;
border:2px solid #ccc; color:#222; cursor:pointer; display:block; font-family:Arial,Tahoma,sans-serif;
font-size:11px; font-weight:bold; padding:2px 3px; text-align:center; text-transform:uppercase;
}
.grayButton:hover {background-image: none; background-color:#ddd; padding: 2px 3px;}
.grayButton[disabled] {color:#999;}

.soWizardPriceOption {margin:1em 0 0 0;padding:0;}
.soWizardPriceDetails {margin:5px 0 0 25px;}

.locationAsterisks { color: #3D56A7; }
.contactTableCell {
	border-color: black;
	border-width: 1px;
	border-style: solid;
	padding-left: 5px;
}

