#headerSOW { overflow: visible; height: 210px; position: relative;}



.logoTableSOWhdr .column1, .logoTableSOW .column1 { text-align: center; width: 80px; }
.logoTableSOWhdr .column2, .logoTableSOW .column2 { width: 70px; }
.logoTableSOWhdr .column3 { width: 345px;}
.logoTableSOWhdr .column4 { width: 170px;}

table.logoTableSOW { width: 645px;  margin-bottom: 20px;}
table.logoTableSOW td { vertical-align: top; padding: 10px 0;}
.logoTableSOW .column3 { width: 335px; padding-right: 10px;}
.logoTableSOW .column4 { width: 150px; font-weight: bold;}


.categoryTable { margin: 0 0 20px 0; }

.categoryTable td {
	width: 200px;
	padding-right: 15px;
}

.categoryTable td.column3 { padding-right: 0; }

.provSelectHdr { width: 675px; color: #fff; font-weight: bold; background:#4CBCDF; height: 30px; margin-top: 20px;margin-bottom: 0; line-height: 13px; }
.provSelectHdr td { vertical-align: middle }
.provSelectHdr .column1, .provSelect .column1 { text-align: center; width: 45px; }
.provSelectHdr .column2, .provSelect .column2 { text-align: center; width: 90px;}
.provSelectHdr .column3, .provSelect .column3 { width: 250px; padding-right: 5px;}
.provSelectHdr .column4  { width: 60px; padding-left: 5px;}
.provSelect .column4  { width: 65px; text-align: center}
.provSelectHdr .column5  { width: 85px;}
.provSelect .column5  { width: 85px; text-align: center;}
.provSelectHdr .column6 { width: 90px; padding-left: 10px;}
.provSelect .column6  { width: 100px; text-align: center;}
table.provSelect { width: 645px;  margin-bottom: 20px;}
table.provSelect td { vertical-align: top; padding: 10px 0;}

.provReviewHdr { width: 635px; color: #fff; font-weight: bold; background:#4CBCDF; height: 30px; margin-top: 20px;margin-bottom: 0; line-height: 13px; }
.provReviewHdr td { vertical-align: middle }
.provReviewHdr .column2, .provReview .column2 { text-align: center; width: 90px;}
.provReviewHdr .column3, .provReview .column3 { width: 250px; padding-right: 5px;}
.provReviewHdr .column4  { width: 60px; padding-left: 5px;}
.provReview .column4  { width: 65px; text-align: center}
.provReviewHdr .column5  { width: 85px;}
.provReview .column5  { width: 85px; text-align: center;}
.provReviewHdr .column6 { width: 90px; padding-left: 10px;}
.provReview .column6  { width: 100px; text-align: center;}
table.provReview { width: 600px;  margin-bottom: 20px;}
table.provReview td { vertical-align: top; padding: 10px 0;}


.ltBlueHdrTable { color: #fff; font-weight: bold; background:#4CBCDF; height: 30px; margin-top: 20px;margin-bottom: 0; line-height: 13px; color: #fff; }

/* Template dropdown in header */
p.templateSelect { padding: 15px 0;}

/* SOW Tabs - for different widths */

.wizardTabs { margin: 0; width: 711px; float: left; padding-left: 5px;}

.wizardTabs .dijitTabPane {
	padding: 5px;
}

/* Testing for line breaks 

.wizardTabs .dijitTab { width: 117px; height: 30px; }

.wizardTabs .dijitTabInnerDiv { padding: 4px 10px; }
*/
.wizardTabs .tab1 {
	width: 120px;
}

.wizardTabs .tab2 {
	width: 160px;
}

.wizardTabs .tab3 {
	width: 80px;
}

.wizardTabs .tab4 {
	width: 100px;
}

.wizardTabs .tab5 {
	width: 145px;
}

.wizardTabs .tab6 {
	width: 101px;
}

.wizardTabs .tabContent { padding: 5px; }

.inlineIcon { margin-bottom: -2px; _margin-bottom: -1px;}