/*SKU Maintenance related classes- Created by Renjith */
.skuSuccessMsg {
	background-color:#F0FFF0;
    color: #006400;
    border:solid 2px #B4EEB4; padding: 5px; padding-left:5px; margin-bottom: 2px; font-weight:normal; display:none; position:relative;
    width: 80%;
}