/*Dashboard page */#dbContent{padding:0 8px 10px;}
#slStats{height:266px;}
.dbPanel{width:469px;margin-bottom:10px;__margin-bottom:5px;}
.dbPanel .titleContainer{width:469px;background:url(../images/dashboard/bgLeftTileTitle.gif) no-repeat right;}
.dbPanel .titleContainer .titleBar{width:461px;height:23px;min-height:23px;color:#fff;background:url(../images/sl_admin/bg_dbTileTitleBar.gif) no-repeat;border-style:solid;border-width:1px 0;border-top-color:#99d4e6;border-bottom-color:#86b0c0;}
.dbPanel .titleContainer .titleBar .titleImage{padding-left:15px;}
.dbPanel .contentContainer{width:469px;background:url(../images/dashboard/bgLeftTileGutter.gif) no-repeat bottom right;}
.dbPanel .contentContainer .content{clear:both;width:378px;padding:8px 0 0 65px;padding-top:8px;border-style:solid;border-color:#00a0d2;border-width:0 0 1px 1px;background-position:15px 15px;background-repeat:no-repeat;}
#mktplacePanel .content{background-image:url(../images/sl_admin/icon_mktplace.gif);}
#adminOfcPanel .content{background-image:url(../images/sl_admin/icon_adminOfc.gif);}
.dbPanel .contentContainer .content img.icon{margin:-5px 5px 0 0;}
.dbPanel .contentContainer .content p{clear:both;/*|margin-bottom:7px;*/}
.dbPanel .shadowBottom{height:9px;background:url(../images/dashboard/shdoLeftTileBottom.gif) repeat top left;background:url(../images/sl_admin/panelShadowBtm.gif) no-repeat top right;width:469px;}
.slStats_hdr{background:url(../images/sl_admin/titleBar_slStats.gif) no-repeat top left;width:963px;height:28px;}
.slStatsBody{height:240px;width:961px;line-height:16px;border-left:1px solid #adadad;border-right:1px solid #adadad;border-bottom:1px solid #adadad;background:#fbfbfb url(../images/dashboard/vital_stats_bg.gif) bottom left repeat-x;margin:0 0 50px;}
.slStatsSeparator{background:url(../images/dashboard/dashboard_vital_stats_separator.gif) repeat-y 300px 10px;border-right:1px solid #adadad;}
.slStatsCell{float:left;margin:4px 0;_margin:2px 0;padding:10px 40px 0;height:220px;}
/*Member Search Grid*/.memberSearchResultsHdr{width:683px;line-height:13px;height:36px;}
.memberSearchResults{border-color:#9F9F9F;border-width:0 1px;border-style:solid;margin-bottom:10px;}
.memberSearchResultsHdr .column1,.memberSearchResults .column1{text-align:center;width:30px;}
.memberSearchResultsHdr .column2,.memberSearchResults .column2{width:55px;padding-right:5px;}
.memberSearchResultsHdr .column3,.memberSearchResults .column3{width:80px;padding-right:5px;}
.memberSearchResultsHdr .column4,.memberSearchResults .column4{width:80px;padding-right:5px;}
.memberSearchResultsHdr .column5,.memberSearchResults .column5{width:40px;padding-right:5px;}
.memberSearchResultsHdr .column5 .memberSearchResults .column5{text-align:left;}
.memberSearchResultsHdr .column6,.memberSearchResults .column6{width:50px;padding-right:10px;}
.memberSearchResultsHdr .column7,.memberSearchResults .column7{width:30px;padding-right:5px;}
.memberSearchResultsHdr .column8,.memberSearchResults .column8{width:40px;}
.memberSearchResultsHdr .column9,.memberSearchResults .column9{width:50px;text-align:center;}
.memberSearchResultsHdr .column10,.memberSearchResults .column10{width:40px;text-align:center;}
.memberSearchResultsHdr .column11,.memberSearchResults .column11{width:65px;text-align:center;}
.ratingsGridHdr{width:670px;color:#fff;font-weight:700;background:#4CBCDF;height:30px;margin-bottom:0;line-height:13px;}
.ratingsGridHdr .column1,.ratingsGrid .column1{text-align:center;width:60px;}
.ratingsGridHdr .column2,.ratingsGrid .column2{width:115px;}
.ratingsGridHdr .column3,.ratingsGrid .column3{width:80px;}
.ratingsGridHdr .column4,.ratingsGrid .column4{width:75px;}
.ratingsGrid .column3,.ratingsGrid .column4,.ratingsGrid .column5{text-align:center;}
.ratingsGridHdr .column5,.ratingsGrid .column5{width:75px;}
.ratingsGridHdr .column6,.ratingsGrid .column6{width:150px;text-align:center;}
.ratingsGridHdr .column7,.ratingsGrid .column7{width:95px;text-align:center;}
.ratingsGridHdr .column7{padding-right:20px;}
.ratingsGridContainer{margin-bottom:20px;width:668px;height:400px;}
.expandedRatings{width:600px;padding-left:25px;}
.expandedRatings table{text-align:left;padding:0 10px;border:1px solid #9f9f9f;}
.expandedRatings td.column1,.expandedRatings td.column2{width:150px;text-align:left;vertical-align:top;}
.expandedRatings td.column3{width:200px;text-align:left;vertical-align:top;}
#newSidebar {display:none;}
