@charset "ISO-8859-1";
/****
 	HORIZONTAL SLIDER
****/.tundra .dijitHorizontalSliderProgressBar{border-color:#00a0d2;background:#c0c2c5 url(../images/slider/sliderLeftBackground.gif) repeat-x top left;}
.dijitHorizontalSliderRemainingBar{border-color:#00a0d2;background:#dcdcdc url(../images/slider/sliderRightBackground.gif) repeat-x top left;}
.tundra .dijitSliderBar{border-style:solid;border-color:#00a0d2;/*outline:1px; *//* border-color: #b4b4b4; */}
.tundra .dijitHorizontalSliderImageHandle{border:0;width:10px;height:28px;z-index:1000;position:relative;left:-4px;background:url("../images/slider/slider.gif") no-repeat center center;cursor:pointer;}
.tundra .dijitSliderImageHandle{top:-12px;}
.tundra .dijitHorizontalSliderLeftBumper{border-left-width:1px;border-color:#00a0d2;top:-6px;background:#c0c2c5 url(../images/slider/leftBumper.gif) repeat-x top left;}
.tundra .dijitHorizontalSliderRightBumper{background:#dcdcdc url(../images/slider/rightBumper.gif) repeat-x top right;border-color:#00a0d2;border-right-width:1px;}
.tundra .HorizontalRuleMark{/*border-color:#b0e2f1;*/border-color:#9fccd9;top:-12px;height:10px;z-index:0;}
.tundra .dijitSliderLeftBumper{height:12px;width:5px;}
.tundra .dijitSliderRightBumper{height:12px;width:5px;}
.tundra .dijitHorizontalSliderBar{height:12px;}
.tundra .HorizontalRuleContainer{height:2px;}
.tundra .customSliderTicks{height:10px;font-size:9px;color:#666;top:-6px;}
.tundra .HorizontalRuleLabelContainer{width:20px;float:left;}