@charset "ISO-8859-1";
.detailsTabs .dijitTabPane{padding:5px 3px;}
.serviceOrderAcceptFrame{width:563px;border:1px solid #9f9f9f;background-color:#FFF;padding-bottom:22px;text-align:left;}
.serviceOrderAcceptFrameBody{width:547px;padding-top:8px;padding-left:8px;padding-right:8px;}
.serviceOrderAcceptHdr{width:563px;height:22px;background:url(../images/so_details/accept_service_order_hdr.gif) no-repeat top;}
.serviceOrderAcceptTextarea{width:546px;height:147px;font-family:Verdana, Arial;font-size:10px;color:#666;border:1px solid #cecece;background:#fff url(../images/common/textboxBg.gif) repeat-x top left;padding:2px 3px;}
.rejectServiceOrderFrame{width:219px;background-color:#FFF;padding-bottom:22px;text-align:left;}
.rejectServiceOrderFrameBody{width:219px;padding-top:8px;padding-left:8px;padding-right:8px;}
.rejectServiceOrderHdr{width:219px;height:22px;background:url(../images/so_details/rejectServiceOrderHdr.gif) no-repeat top;}
.rejectServiceOrderTextarea{width:198px;height:147px;font-family:Verdana, Arial;font-size:10px;color:#666;border:1px solid #cecece;background:#fff url(../images/common/textboxBg.gif) repeat-x top left;padding:2px 3px;}
.rejectServiceOrderSelectBox{width:200px;font-family:Verdana, Arial;font-size:10px;color:#666;border:1px solid #cecece;background:#fff url(../images/common/textboxBg.gif) repeat-x top left;padding:2px 3px;}
.acceptWithConditionsFrame{width:219px;height:380px;border:1px solid #9f9f9f;background-color:#FFF;padding-bottom:22px;text-align:left;}
.acceptWithConditionsFrameBody{width:219px;padding-top:8px;padding-left:8px;padding-right:8px;}
.acceptWithConditionsFrame1{width:288px;height:380px;border:1px solid #9f9f9f;background-color:#FFF;padding-bottom:22px;text-align:left;}
.acceptWithConditionsFrameBody3{width:320px;padding-top:8px;padding-left:8px;padding-right:8px;border:1px solid #9f9f9f;}
.acceptWithConditionsHdr{width:219px;height:22px;background:url(../images/so_details/acceptWithConditionsHdr.gif) no-repeat top;}
.cancelFrame{width:219px;border:1px solid #9f9f9f;background-color:#FFF;padding-bottom:22px;text-align:left;}
.cancelFrameBody{width:219px;padding-top:8px;padding-left:8px;padding-right:8px;}
.cancelHdr{width:219px;height:22px;background:url(../images/so_wizard/cancelHdr.gif) no-repeat top;}
.saveAsDraftHdr{width:219px;height:22px;background:url(../images/so_wizard/saveasdraftHdr.gif) no-repeat top;}
.saveAsTemplateHdr{width:219px;height:22px;background:url(../images/so_wizard/saveastemplateHdr.gif) no-repeat top;}
.exitWithoutSavingHdr{width:219px;height:22px;background:url(../images/so_details/exit_without_saving_hdr.gif) no-repeat top;}
.serviceOrderReleaseHdr{width:563px;height:22px;background:url(../images/so_details/release_service_order_hdr.gif) no-repeat top;}
.serviceOrderVoidHdr{width:563px;height:22px;background:url(../images/so_details/void_service_order_hdr.gif) no-repeat top;}
.serviceOrderRescheduleHdr{width:300px;height:22px;background:url(../images/so_details/reschedule_hdr.gif) no-repeat top;}
.increaseSpendLimitHdr{width:239px;height:22px;background:url(../images/so_details/increase_spend_limit_hdr.gif) no-repeat top;}
/*Main left content well */.contentPane{width:696px;}
.contentPane p{padding:6px 0;margin:0;}
.contentPane table{margin-bottom:10px;}
.contentWellPane td{padding:2px 0;vertical-align:top;}
.contentPane .tosTableHdr{width:665px;color:#fff;font-weight:700;background:#4CBCDF;height:30px;margin-top:20px;margin-bottom:0;line-height:13px;}
.tosTableHdr td{vertical-align:middle;}
.tosTableHdr .column1,.tosTable .column1{text-align:center;width:50px;}
.tosTableHdr .column2{padding-left:10px;width:150px;padding-right:10px;}
.tosTable .column2{text-align:center;width:150px;padding-right:10px;}
.tosTableHdr .column3,.tosTable .column3{width:100px;padding-right:10px;}
.tosTableHdr .column4,.tosTable .column4{width:150px;padding-right:10px;}
.tosTableHdr .column5{width:90px;}
.tosTable .column5{width:110px;}
.tosTableHdr .column6{width:100px;}
.tosTable .column6{width:80px;}
.tosTable .column5,.tosTable .column6{text-align:center;}
table.tosTable{width:645px;margin-bottom:20px;}
table.tosTable td{vertical-align:top;padding:10px 0;}
table.notesTableHdr td{padding:0;vertical-align:middle;}
.notesTableHdr .column1,.notesTable .column1{text-align:center;width:90px;}
.notesTableHdr .column2,.notesTable .column2{width:110px;}
.notesTableHdr .column2{}
.notesTableHdr .column3{width:345px;}
.notesTableHdr .column4{width:80px;text-align:center;}
table.notesTable{table-layout:fixed;width:645px;margin-bottom:20px;}
table.notesTable td{vertical-align:top;padding:10px 0;}
.notesTable .column3{width:335px;padding-right:10px;}
.notesTable .column4{width:80px;text-align:center;}
table.orderHistTableHdr td{padding:0;vertical-align:middle; color: #000;}
table.orderHistTable th { background: #00A0D2; color: #FFF;}
table.orderHistTable th, table.orderHistTable td { text-align: center; padding: 5px 10px;}
table.orderHistTable th.column2, table.orderHistTable th.column4 { background: #0080a8;}
table.orderHistTable td.column2, table.orderHistTable td.column4 { background: #EEE;}
table.orderHistTable th.column5, table.orderHistTable td.column5 { text-align: right;}
table.orderHistTable th.column4, table.orderHistTable td.column4 { text-align: left;}
.orderHistTable .column1{text-align:left;}
table.orderHistTable{width:645px;margin-bottom:20px;}

table.globalTableLook { width: 100%}
table.globalTableLook th, table.globalTableLook td { text-align: center; padding: 5px 10px;}
table.globalTableLook th { background: #00A0D2; color: #FFF;}
table.globalTableLook th.even { background: #0080a8;}
table.globalTableLook td.even { background: #EEE;}
table.globalTableLook th.first, table.globalTableLook td.first, table.globalTableLook th.textleft, table.globalTableLook td.textleft { text-align: left;}
table.globalTableLook th.last, table.globalTableLook td.last { text-align: right;}


.ratingTable{width:680px;border:1px solid #ccc;background-color:#f8f8f8;margin-bottom:10px;}
.ratingTable td{padding:8px;border-bottom:1px solid #ccc;}
.ratingTable td.column2{text-align:right;width:200px;}
.ratingTable tr.alt{background-color:#ededed;}
.ratingTable tr.darkGray{background:#58585a;color:#fff;}
.viewRatingTable{border:1px solid #ccc;background-color:#f8f8f8;margin-bottom:10px;}
.viewRatingTable td{padding:8px;border-bottom:1px solid #ccc;}
.viewRatingTable td.column1{width:450px;}
.viewRatingTable td.column2{text-align:right;width:250px;}
.viewRatingTable tr.alt{background-color:#ededed;}
.viewRatingTable tr.darkGray{background:#58585a;color:#fff;}
table.responseTableHdr td{padding:0;vertical-align:middle;}
table.responseTable td{padding:10px 0;vertical-align:top;}
.responseTableHdr{height:23px;vertical-align:middle;}
.responseTableHdr .column1,.responseTable .column1{width:250px;padding-left:10px;padding-right:10px;}
.responseTableHdr .column2,.responseTable .column2{width:155px;}
.responseTableHdr .column2{}
.responseTableHdr .column3,.responseTable .column3{width:240px;}
/*Scrolling table on Support tab */.sodSupportHistoryTable .dijitTitlePaneContentInner{height:200px;overflow:auto;}
.sodSupportHistoryTable table{margin-bottom:15px;}
.sodSupportHistoryTable table td{padding:0;}
.sodSupportHistoryTable table td.column1{font-weight:700;}
.contactInfoTable{width:660px;}
.contactInfoTable td{vertical-align:top;padding-right:0;}
.contactInfoTable .column1{width:235px;padding-right:0;}
.contactInfoTable .column2{width:80px;padding-right:0;}
.contactInfoTable .column3{width:200px;padding-right:0;}
#orderHistContainer{height:400px;width:663px;margin-bottom:20px;}
#addon-services .confirm label {font-weight: bold; font-size:  12px;}
#addon-services h4 {font-size:  12px;margin-bottom:  0px;padding-bottom: 0px;}
#addon-services p {padding-top:  0px; padding-bottom:  25px;}
#addon-services .add {color:  #6d8e5f;font-weight:  bold;font-size:  12px; background:  url("../images/s_icons/add.png") left center no-repeat; padding-left:  20px;}
#addon-services #add {
	border:  3px solid #678a48;
 	background: #cdffca; 
	padding:  5px;
	width:  405px;
	position:  absolute;
	top:  122px; left:  8px;
	display: none; 
}

#addon-services #add label {
	font-weight:  bold;
	font-size:  11px;
	display: block;	
	padding-bottom:  3px;
	padding-top:  10px;
}

#addon-services div.left {
	 float:  left;
	 margin-right:  10px;
}

#addon-services div.left input.text {
	 width:  30px;
}

#addon-services div.last {
	 float:  left;
	 margin-right:  0px;
}

#addon-services #add .close {
	position: absolute;
	top:  0px;
	right:  5px;
	color:  black;
	font-weight:  bold;
	font-size:  12px;
	cursor: pointer;
}

#addon-services td label {
	display: block;
	padding-bottom:  3px;
}

#addon-services td.even input.text {
	width:  300px;
}

#addon-services td.odd input.text {
	width:  50px;
}

#addon-services div#toggle {
	display: none;
}

#togglePayment #payments input.radio {
	 float:  left;
	 margin-right:  5px;
}

#togglePayment #payments label {
	font-weight: bold;
	margin-right:  60px;
}

#bycc {
	display: none;
}

#bycheck, #bycc {
	padding-top:  10px;
}

#addon-services table {
	margin-top:  5px;
}

#togglePayment #payments #bycheck label {
	font-weight: bold;
	margin-right:  5px;
	text-align:  right;
	display: block;
	width: 100px;
	float: left;
	padding-top:  3px;
}

#togglePayment #payments #bycheck input {
	width:  60px;
}


#togglePayment #payments #bycc label {
	font-weight: bold;
	margin-right:  5px;
	text-align:  right;
	display: block;
	width: 170px;
	float: left;
	padding-top:  3px;
}

#togglePayment #payments #bycc input {
	width:  60px;
}

#togglePayment #payments #bycc select {
	width:  105px;
	margin-right:  5px;
}

#togglePayment #payments #bycc input#ccnum {
	width:  100px;
}

#togglePayment #payments #bycc .last label {
	font-weight: bold;
	margin-right:  5px;
	text-align:  right;
	display: block;
	width: 120px;
	float: left;
	padding-top:  3px;
}

#togglePayment #payments #bycc .last select {
	width:  70px;
	margin-right:  5px;
}

#togglePayment #payments #bycc .left {
	 margin-right:  15px;
}

#togglePayment #payments #bycc .last {
	 margin-right:  0px;
}

#upsolditems {
	display: none;
}

#upsellwarn {
	border:  3px solid #fe3131;
	background: #fed4c4;
	padding: 10px;
	color:  #000;
}

#upsellwarn h3 {
	color: #fe3131;
}

#upsellwarn p {
	font-weight: bold;
}

#upsellwarn div.clearfix {
	margin-bottom:  10px;
}

#upsellwarn input.checkbox {
	float: left;
	margin-right:  5px;
}
#promo {
	text-align:  center;
	margin-top:  -20px;
}

#acceptCountdown {font-weight:bold; margin-top:24px;}
.countdownTime {font-size: 2.5em; line-height:120%;}
#soBidFormHdr {margin:0;}
#checkSummary {padding:0;}
#bidTotals {text-align: right; border:0; border-bottom: 1px solid #999; padding-bottom: 10px;}
#bidTotals #hourlyRateFieldset {padding: 9px 1px 9px 3px; width: 100%; text-align: left; margin-bottom: 5px }
#bidTotals input[type=text]{width:60px; margin:0 0 3px 2px; text-align:right; padding-right:1px;}
#bidTotals #totalHours{width:30px; margin:0 0 3px 2px; text-align:right; padding-right:1px;}
#bidTotals label {margin-right:10px;}
#bidTotals #hourlyRateLabel {float: left; padding-bottom: 5px; }
#laborTotalLabel {float:right;}
#maxLaborFromRateValue {width: 65px; height:15px; float:right}
#bidTotalTabel {font-weight:bold; float:right;}
#bidTotalValue {width: 65px; height:15px; float:right}
#bidExpirationDatepicker, #newDateByRangeFrom, #newDateByRangeTo, #newDateBySpecificDate, #increaseToAmount, #offerExpiration {width:70px; font-size:11px; height:14px}
#soBidFormContent form {padding:0; margin:0; border:none;}
#soBidFormContent #calendarIcon {margin: 3px 2px 0 1px}
#soBidFormContent #bidExpirationHour {font-size:11px;}
.noborder {border:none;}
.datepickerContainer {width:95px; background:url(/ServiceLiveWebUtil/images/icons/calendarIcon.gif) no-repeat 75px; margin-bottom:5px;}
#newDateBySpecificDateDiv {display:none; margin:3px 0; padding-left:20px;}
#newDateByRangeDiv {margin:3px 0;}
#radioSpecificDate, #radioByRange {vertical-align:middle;}

#termsAndConditionsModal {display:none; top:350px; background: #fff; border: solid 3px #666; width:575px; height:325px;
border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;}
#termsAndConditionsModal h3 {color:#fff; margin: 0; padding: 0; }
#termsAndConditionsModal .dialogHeader img {float:right; margin:0; cursor:pointer; cursor:hand;}
#termsAndConditionsModal .dialogHeader {padding:5px; background:#333;
border-radius-top-left:5px; border-radius-top-right:5px;
-moz-border-radius-topleft:5px; -moz-border-radius-topright:5px;
-webkit-border-top-left-radius:5px; -webkit-border-top-right-radius:5px;
}
#termsAndConditionsModal #dialogBody {width:550px; height:225px; margin:auto; border: 1px solid #999;
	border-top: 20px solid #ccc; overflow:auto; font-size:11px; padding: 0 5px 5px 10px;}
#termsAndConditionsModal h4 {font-size:11px; font-weight:bold; text-indent:10px; padding:0; margin:2px 0}
#buttonSOM_RejectSO {margin:5px 0px;}
#explainer {display: none; width:220px;height:auto;border: 3px solid #adaaaa; background:#fcfae6; border-radius:10px;
-moz-border-radius:10px; -webkit-border-radius:10px; padding:10px;}
#soBidsModule {width:100%;}
#soBidsModuleHeader {width:100%; height:60px;}
#soBidsModuleHeader .sealedBidNote {background-color: #f7fc92;color: #A07307;font-weight: bold;}
#soBidsModule h2 {margin:0; padding:0; float:left;}
#soBidsModule h2#hdrTotalBids { width:65%;}
#soBidsModule h2#hdrRange {text-align:right; width:33%;}
#soBidsModule #msgAddYourBid {font-size:11px; font-weight:bold; margin-left:50px;}
#soBidsModule h3 {margin:0; padding:0;}

#soBidsYourPreviousBid {background-color:#fbfbe2; padding:10px 0 0 10px; border-top:1px solid #ccc; }
#soBidsYourBid {padding:10px 0 0 10px; border-top:1px solid #ccc; }
#soBidsYourBid .firstCol, #soBidsYourPreviousBid .firstCol {width:40%; float:left; height:105px;}
#soBidsYourBid .secondCol, #soBidsYourPreviousBid .secondCol {padding-left:10px; float:left; width:30%; height:105px; position:relative;}
#soBidsYourBid .secondCol p, #soBidsYourPreviousBid .secondCol p {position:absolute; bottom:8px;}
#soBidsYourBid .thirdCol, #soBidsYourPreviousBid .thirdCol {float:right; text-align:right; padding-right:10px; width:25%;}
#soBidsYourBid .item, #soBidsYourPreviousBid .item {width:100%; clear:both; margin:2px 0;}
#soBidsYourPreviousBid {background-color:#EFEFD8; display:none; height:105px;}
#showHidePreviousBid {font-size: 11px; font-weight:bold;}

.item p{float:right; margin:0; padding:0;}
.item .label {font-weight:bold;}
.item .value {width:25%; text-align:right;}
#soBidsModule table {border:0; padding:0; margin:0;}
#soBidsModule table td{padding:4px; border:0; border-bottom:1px solid #ccc;}
#soBidsModule table th {background-color: #eee; background-image: url(/ServiceLiveWebUtil/images/icons/arrowDown-darkgray.gif);
	background-repeat: no-repeat; background-position: 2px 10px; text-indent:20px; font-size:larger; 
	border:1px solid #999; padding:2px; cursor:pointer;}
#soBidsModule table .col1 {width:340px;}
#soBidsModule table .soBidComment {width:690px}
#soBidsModule table .col2 {width:200px;}
#soBidsModule table .col3 {width:150px; text-align:right; font-size:larger; font-weight:bold; padding-right:15px;}

#soBidFormContent .errorBox ul {padding:5px 0;}
#soBidFormContent .errorBox li {list-style-type: none; margin:4px 2px; padding-left:15px;}
#soBidFormContent .errorBox li {background-image:url(../images/icons/errorIcon.gif); background-repeat: no-repeat; background-position: 0 2px}
#bidExpirationFieldsShow, #requestNewServiceDate {margin: 5px 3px 0 0;}
#bidExpirationFieldsContainer {clear:both; display:none;}
hr {padding:0; border:0; margin:0; height:1px; position:relative; display:block;}
#requestNewServiceDateDiv {clear:both}
#bidExpirationModule, #bidCommentsModule {border: 0; border-bottom: 1px solid #999; padding-bottom:10px;}
#serviceDatesModule {border: 0; border-bottom: 1px solid #999; padding-top:10px;}
#bidConfirmMsg, .confirmationMsg {color: #5F9762; background-color:#F0F5E5; border:2px solid #89C13F; font: normal 11px Arial, sans-serif; padding:4px; display:none;}
.labelRight {text-align: right; padding-right:10px; font-weight:bold;}

#counterOfferContent {width:253px; margin-bottom:20px; background-color: #EDEDED; border:1px solid #9F9F9F; overflow:visible; display:inline-block;}
#counterOfferContent form {padding:0; margin:0; border:0;}
#counterOfferContent label, #counterOfferContent input {padding:0; margin:0;}
#counterOfferContent input[type="text"], #counterOfferContent select {margin: 2px 0; font: normal 11px verdana, sans-serif}

#counterOfferFormHdr {background-image:url(../images/widgets/titleBarBg.gif); background-color:#58585A; cursor:pointer; padding-left:2px;}
#counterOfferContent #reasonForCounterOffer {width:95%; margin: 10px 5px;}
#rescheduleServiceDateHeader, #increaseMaximumPriceHeader {background-color:#9F9F9F; padding:5px; margin:1px 0}
#rescheduleServiceDateBody, #increaseMaximumPriceBody {display:none; padding:10px;}
#rescheduleSpecificDate, #rescheduleDateRange {vertical-align: middle;}
input.action {width: 70px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
	background:transparent url(../images/common/button-action-bg.png) repeat scroll 0 0;
	border:2px solid #ccc; color:#333; cursor:pointer; display:block; font: bold 9px Verdana,sans-serif; 
	padding:2px; text-align:center; text-transform:uppercase;}
input.action:hover {background:transparent url(../images/common/button-action-hover.png) repeat scroll 0 0; color:#000;}

#counterOfferButtons{padding:10px;}
#cancelLink {margin-left:20px; font-weight:bold; color:red; cursor: pointer;}
#counterOfferForm {padding:0; margin:0; border:0;}
#gotoWFMonitor, #gotoMonitor {border:0; padding:0; margin:0;}

.listRadioButton input {padding:0; margin:0;  vertical-align:middle;}
.listRadioButton label {padding:0; margin:0 10px;}

.routedStatusSummary .blueIcon{background:url(../images/response_icon_blue.gif) no-repeat 1px 7px;padding:0 0 0 20px;float:left;}
.routedStatusSummary .redIcon{background:url(../images/response_icon_red.gif) no-repeat 3px 7px;padding:0 0 0 20px;float:left;}
.routedStatusSummary .commentsIcon{background:url(../images/response_icon_comments.gif) no-repeat 0 7px;padding:0 0 0 20px;float:left;}
.routedStatusSummary .yellowIcon{background:url(../images/response_icon_yellow.gif) no-repeat 0 6px;padding:0 0 0 20px;float:left;}
.routedStatusSummary .new {color:#006633;}

.spnIcon {background:url(../images/spn/priority1small.gif) no-repeat 0 7px; height: 25px; display:inline;padding:3px 5px 2px 20px;float:left; vertical-align: middle;}

.routedStatusSummary { width:180px; float:right; border:1px solid #999; padding:5px 10px;}
.routedStatusSummaryDiv {width:180px; }

.note { margin-top:20px; }

.responseFilterLinks a {padding: 0 3px; }
.responseFilterLinks {margin-bottom:10px; font-size:0.9em;}

.responseTable td {border-right:1px solid #bbb;}
.responseTable td.col4 {border-right:none;}

.responseTable .blueIcon{background:url(../images/response_icon_blue.gif) no-repeat 0 7px;display:inline;padding:3px 5px 0px 13px;}
.responseTable .redIcon{background:url(../images/response_icon_red.gif) no-repeat 0 7px;display:inline;padding:3px 5px 0px 12px;}
.responseTable .commentsIcon{background:url(../images/response_icon_comments.gif) no-repeat 0 7px;display:inline;padding:3px 5px 0px 16px;}
.responseTable .yellowIcon{background:url(../images/response_icon_yellow.gif) no-repeat 0 6px;display:inline;padding:3px 5px 2px 15px;}
.responseTable .new {color:#006633;}

.locationAsterisks { color: #3D56A7; }
.contactTableCell {
	border-color: black;
	border-width: 1px;
	border-style: solid;
	padding-left: 5px;
}

.additionalPaymentBox {margin:0 10px 10px 0; padding:10px; border:1px solid #999; line-height:125%;}
.bold {font-weight: bold;}