@charset "ISO-8859-1";
BODY{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;color:#666;margin:0;}
.sl_grid_col_1{width:77px;text-align:center;}
.sl_grid_col_2{width:83px;}
.sl_grid_col_2_sub{width:214px;}
.sl_grid_col_3{width:131px;}
.sl_grid_col_4{width:232px;}
.sl_grid_col_5{width:84px;}
.sl_grid_col_5_center{text-align:center;}
.sl_grid_col_6{width:92px;}
.sl_om_hdr{background:#4cbcdf;color:#FFF;font-weight:bolder;font-size:11px;width:691px;height:34px;border-top:1px solid #CCC;border-bottom:1px solid #CCC;}
.align-right{text-align:right;}
.align-center{text-align:center;}
.grid-table{font-size:10px;}
.grid-table td,.grid-table tr.selected td.last{padding:5px 0;vertical-align:top;border-bottom:1px solid #ccc;}
.grid-table tr.selected{background:#ededed;}
.grid-table tr.selected td{border:none;}
.funky_img{padding-right:2px;cursor:pointer;clear:left;}
.GREY_BOTTOM_LINE{border-bottom:1px solid #CCC;}
#posted{width:711px;height:400px;overflow-x:hidden;overflow-y:auto;}
/* For 7 column/ Posted grid */.grid-7cols .sl_om_hdr{font-size:10px;}
.grid-7cols .sl_grid_col_1{width:72px;}
.grid-7cols .sl_grid_col_2{width:69px;}
.grid-7cols .sl_grid_col_2_sub{width:200px;}
.grid-7cols .sl_grid_col_4{width:205px;}
.grid-7cols .sl_grid_col_5{width:70px;}
.grid-7cols .sl_grid_col_7{width:50px;padding-left:5px;}
.grid-7cols .sl_grid_col_6{padding-left:10px;width:82px;}
.grid-7cols .offset{padding-left:20px;width:72px;}
.grid-table .responseIcons{}
.blueIcon{background:url(../images/response_icon_blue.gif) no-repeat 0 7px;display:inline;width:20px;padding:5px 5px 2px 13px;float:left;}
.redIcon{background:url(../images/response_icon_red.gif) no-repeat 0 7px;display:inline;width:20px;padding:5px 5px 2px 12px;float:left;}
.commentsIcon{background:url(../images/response_icon_comments.gif) no-repeat 0 7px;display:inline;width:20px;padding:5px 5px 2px 16px;float:left;}
.yellowIcon{background:url(../images/response_icon_yellow.gif) no-repeat 0 6px;display:inline;width:20px;padding:5px 5px 2px 15px;float:left;}
.grid-table .responseBar{width:81px;display:inline;float:left;padding-top:7px;}