.serviceOrdersDB { background:url(../images/service_order_monitor/serviceOrdersDash_bg.gif) no-repeat top left;height:139px;padding: 40px 20px 0px 13px;line-height:13px;}
.orders td { padding: 3px 0;}
.orders .column1 { font-weight: bold; width: 180px;}
.orders .column2 { width: 50px; text-align: right;}
.orderIcon { padding-left: 20px; background-repeat: no-repeat; background-position: left top; padding: 1px 0 2px 20px;}

.mapInfo td { padding: 3px 0;}
.mapInfo .column1 { font-weight: bold; width: 150px;}
.mapInfo .column2 { width: 200px;}

.closeTip { background: url(../images/tips/closeTip_icon.gif) no-repeat 0 0; width: 10px; height: 10px; position: absolute;  right: 5px; top: 20px;}
.closeTip a { display: block; width: 10px; height: 10px;}

.gridTable td, .gridTable tr.selected td.last { padding: 5px 0; vertical-align: top; border-bottom: 1px solid #ccc; }
.gridTable tr.selected { background: #ededed; }
.gridTable tr.selected td { border: none; }

.blueIcon { background: url(../images/icons/num_providers.gif) no-repeat 0 5px;  display: inline; width: 22px; padding: 5px 5px 2px 11px; float: left; }
.redIcon { background: url(../images/icons/rejected_x.gif) no-repeat 0 5px;  display: inline; width: 22px; padding: 5px 5px 2px 14px; float: left;}
.yellowIcon { background: url(../images/icons/conditional_exclamation.gif) no-repeat 0 6px;  display: inline; width: 20px; padding: 5px 5px 2px 15px; float: left;}

.gridTable .responseBar { width: 81px; display: inline; float: left; padding-top: 7px; }

.recdOrdersHdr th, .recdOrders td {padding: 5px;}
.recdOrdersHdr .column1, .recdOrders .column1 {width:6%;}
.recdOrdersHdr .column2, .recdOrders .column2 {width:12%;}
.recdOrdersHdr .column3, .recdOrders .column3 {width:19%;}
.recdOrdersHdr .column4, .recdOrders .column4 {width:33%;}
.recdOrdersHdr .column5, .recdOrders .column5 {width:14%;}
.recdOrdersHdr .column6, .recdOrders .column6 {width:16%;}

.recdOrdersHdr th img {
	float: left;
	margin: 5px 5px 0 0;
}

#searchResultsGrid .column1, #searchResultsGrid .column2, #searchResultsGrid .column3, #searchResultsGrid .column4, #searchResultsGrid .column5, #searchResultsGrid .column6  {text-align:left;}
#searchResultsGrid .column1 {width:45px;}
#searchResultsGrid .column2 {width:90px;}
#searchResultsGrid .column3 {width:130px;}
#searchResultsGrid .column4 {width:235px;}
#searchResultsGrid .column5 {width:100px;}
#searchResultsGrid .column6 {width:110px;}

.recdOrdersHdr .funky_img {float:left; margin: 5px 2px}

.monitorTab-leftCol {
	width: 703px;
	float: left;
}


.sl_grid_col_2_sub {
	width: 214px;
}

.column3 {
	width: 131px;
}





.sl_grid_col_5_center {
	text-align: center;
}

.quickLinks {
	padding: 5px;
	background: #FFF;
	border: 1px solid #CCC;
	margin-right: 5px;
}

.quickLinks strong { display: block;}

.somErrorMsg { 
background:#FBE3E4 url(../images/s_icons/exclamation.png) no-repeat scroll 5px 5px;
border:2px solid #FBC2C4;
color:#8A1F11;
font-weight:bold;
margin:0 15px 5px 5px;
padding:5px 5px 5px 30px;
position:relative;
}
#bidsTabGridHeader {border: 1px solid #ccc;}
#bidsTabGridHeader th {padding: 1px; vertical-align:middle;}
#bidsTabGridHeader .column1 {width:122px; cursor:pointer;}
#bidsTabGridHeader .column2 {width:150px;}
#bidsTabGridHeader .column3 {width:112px; cursor:pointer;}
#bidsTabGridHeader .column4 {width:112px; cursor:pointer;}
#bidsTabGridHeader .column5 {width:80px; cursor:pointer;}
.headerSortIcon, .headerSortUp {background-image: url(/ServiceLiveWebUtil/images/icons/arrowUpDown.gif); background-repeat: no-repeat; background-position: center right;}
.headerSortDown {background-image: url(/ServiceLiveWebUtil/images/icons/arrowUpDown.gif); background-repeat: no-repeat; background-position: center right;}

#receivedTabGridHeader th {padding: 3px 0; vertical-align:middle; text-align:left;}
#receivedTabGridHeader .column1 {width:115px; cursor:pointer; text-indent:16px;}
#receivedTabGridHeader .column2 {width:238px; cursor:pointer;}
#receivedTabGridHeader .column3 {width:110px; cursor:pointer;}
#receivedTabGridHeader .column4 {width:100px; cursor:pointer;}
#receivedTabGridHeader .column5 {width:135px; cursor:pointer;}
#receivedTabGridHeader .column6 {width:70px; cursor:pointer; /*background-color:#993333;*/}
select.dropdown-110, select.dropdown-80, select.dropdown-120 {width:165px;}
#filterContainer {margin: 5px 0;}
#Search {height:auto;}
#searchTerms, #searchSelections {float:left;padding:2px; margin:2px; position:relative;}
#searchTerms {width:330px; clear: left;}
#searchSelections {width:340px;}
#searchTermsList, #searchSelectionsList {overflow-y: scroll; background-color: #fff;  border: solid 1px #999; padding:1px;}
#searchTermsList {height:153px;}
#searchTermsList li {cursor: pointer;}
#searchTermsList .mainCategory {line-height:120%; padding-left:4px;}
#searchSelectionsList {height:137px;}
#searchSelectionsList {width:83%;}
#searchSelectionsListTemplate {display:none;}
#searchType {height: 22px;width: 162px;}
#searchValue {width:90px;}
.savedFilters { width:550px; height:auto; margin: 2px 0 0 4px;}
.savedFilters label.left, .savedFilters select, .savedFilters input.submitButton { margin-right: 5px;}
.savedFilters input.submitButton { width: 51px; }
.savedFilters input.left { margin-right: 5px;}
.savedFilters a.deleteFilter { color: red; display: block; float: left; padding-top: 2px;}
.savedFilters #savedFilter, .savedFilters #filterName {margin-top:3px;}

.searchBar {margin: 0 0 5px 5px;}
.searchBar label {padding:0; margin:0; line-height:170%;}
.searchBar input[type="text"] {padding: 2px 0;}
.searchBar li {display:list-item; list-style-image: url(/ServiceLiveWebUtil/images/icons/plusIcon.gif);
	list-style-position:inside; font:normal 11px Arial, sans-serif;}
#searchTermsList ul {margin-left:9px;}
#searchTermsList #marketsList {margin-left:22px;}
#searchSelectionsList li ul {margin-left:20px;}
.searchBar li span {padding-left:2px; line-height:100%;}
.searchBar li ul li {list-style-image:url(/ServiceLiveWebUtil/images/icons/blankListIcon.gif);}
.searchBar img {margin:0;} /*ss: override rule in main.css*/
#marketsList, #statesList, #skillList, #categoryList, #statusList {display:none; /*margin-left:15px;*/}
#marketsList li, #statesList li, #skillList li {list-style-image:url(/ServiceLiveWebUtil/images/icons/blankListIcon.gif); }
#categoryList .selectableItem {list-style-type:none; list-style-image:none;}
#statusList li {list-style-type:none; list-style-image:none;}
#category_list ul li {list-style-image: url(/ServiceLiveWebUtil/images/icons/plusIcon.gif)}
#category_list ul li ul li {list-style-image:url(/ServiceLiveWebUtil/images/icons/blankListIcon.gif); }
.subList {display:none}
.subList li {list-style-type:none; list-style-image:none;}
#searchSelectionsList .selectionListItem {display:none;}
.searchBar .submitButton {border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; background:transparent url(/ServiceLiveWebUtil/images/common/button-action-bg.png) repeat scroll 0 0; 
border:2px solid #D48B28; color:#333; cursor:pointer; display:block; font: bold 9px Verdana,sans-serif; padding:2px; text-align:center; text-transform:uppercase;}
.searchBar .submitButton:hover {background:transparent url(/ServiceLiveWebUtil/images/common/button-action-hover.png) repeat scroll 0 0; color:#000; }
#searchSelections .submitButton {position:absolute; right:0; bottom:3px; width:53px;}
#searchTerms .submitButton {top:135px; right:2px;}
.selectableItem {}
#clearAllLabel {margin:0 0 0 105px; line-height:170%; font-weight:bold;}

#bulletinBoardGridHeader {border: 1px solid #ccc;}
#bulletinBoardGridHeader th {padding: 1px; vertical-align:middle;}
#bulletinBoardGridHeader .column1 {width:122px; }
#bulletinBoardGridHeader .column2 {width:150px; cursor:pointer;}
#bulletinBoardGridHeader .column3 {width:112px; cursor:pointer;}
#bulletinBoardGridHeader .column4 {width:112px; cursor:pointer;}
#bulletinBoardGridHeader .column5 {width:80px;}
#bulletinBoardGridHeader .column6 {width:112px; cursor:pointer;}
.autoclosewarningBox {background: #ffc url(../images/icons/conditional_exclamation.gif) no-repeat 3px 6px; border: solid 1px #fc6; 
padding:5px 5px 5px 20px; font-weight:bold; position:relative; width:500px;color: black} 
