/* Support Landing page */#supportHero{background-image:url(../images/support/hero_support.jpg);height:222px;background-repeat:no-repeat;}
#supportHero .content{padding-left:290px;padding-top:40px;padding-right:20px;}
.landingBox{width:350px;float:left;margin-top:20px;_margin-top:20px;}
.landingBox .content{padding-right:60px;}
.provSelectHdr{width:651px;color:#fff;font-weight:700;background:#4CBCDF;height:30px;margin-top:20px;margin-bottom:0;line-height:13px;}
.provSelectHdr td{vertical-align:middle;}
.provSelectHdr .column1,.provSelect .column1{text-align:center;width:45px;}
.provSelectHdr .column2,.provSelect .column2{text-align:center;width:102px;}
.provSelectHdr .column3,.provSelect .column3{width:250px;padding-right:5px;}
.provSelectHdr .column4{width:74px;padding-left:5px;}
.provSelect .column4{width:79px;text-align:center;}
.provSelectHdr .column5{width:95px;}
.provSelect .column5{width:95px;text-align:center;}
.provSelectHdr .column6{width:90px;padding-right:20px;padding-left:10px;}
.provSelect .column6{width:100px;text-align:center;}
table.provSelect{width:631px;margin-bottom:20px;}
table.provSelect td{vertical-align:top;padding:10px 0;}
.languageSelect td{padding:3px 0;}
.searchBox{background:#ededed;padding:3px 8px;}
.searchBox .resultCount{padding-top:6px;}
#tutorialFrame{width:715px;border:none;clear:both;}
.active{height:350px;}
.inactive{height:275px;}
.tutorialGrid{width:713px;height:200px;border-width:1px;margin-bottom:20px;}
.tutorialGrid td{padding:10px 10px 10px 70px;background:url(../images/support/tutIcon.gif) 10px 10px no-repeat;width:633px;}