@charset "utf-8";
/* What Is SL Landing page */#whatIsSLHero{background-image:url(../images/what_is_sl/hero_whatIsSL.jpg);height:223px;}
#whatIsSLHero .content{padding-left:300px;}
/* Main content */#whatIsSLContent,.mainWell{padding-left:15px;width:710px;}
.howItWorks .content{padding-left:9px;padding-bottom:45px;}
.howItWorksGraph{padding-left:50px;padding-bottom:50px;}
/* About SL landing */#aboutSLHero{background-image:url(../images/what_is_sl/hero_aboutSL.jpg);height:185px;}
#aboutSLHero .content{padding-left:320px;}
ul.memberBenefits{padding-top:15px;padding-bottom:20px;}
ul.memberBenefits li{padding-bottom:10px;}
/* Company News landing */#compNewsHero{background-image:url(../images/what_is_sl/hero_compNews.jpg);height:185px;}
#compNewsHero .content{padding:40px 50px 0 340px;}
#topNewsHdr{background:url(../images/what_is_sl/hdr_topNews.gif) no-repeat 0 10px;width:705px;text-align:right;height:22px;color:#333;padding-top:10px;}
.topNews td{padding:10px 0;}
.topNews .column1{width:100px;padding-left:9px;}
.topNews .column2{width:600px;}
.topNews .column2 a{font-weight:700;}
/*Services*/#servicesHero{background-image:url(../images/what_is_sl/hero_services.jpg);height:185px;}
#servicesHero .content{padding:30px 50px 0 320px;}
.servicesLists{margin-top:10px;}
.servicesLists td{width:250px;}
.servicesLists ul.vertBulleted{padding-bottom:20px;_padding-left:17px;padding-left:17px;}
.servicesLists .vertBulleted li{padding:3px 0;}
/*Creating SO Overview */#createSOHero{background-image:url(../images/what_is_sl/createSOHero.jpg);height:185px;}
#createSOHero .content{padding-left:320px;}
ul.createSO{padding-top:15px;padding-bottom:5px;}
ul.createSO li{padding-bottom:10px;}
/*Need Service Now*/#needServiceHero{background-image:url(../images/what_is_sl/hero_needServiceNow.jpg);height:223px;}
#needServiceHero .content{padding:65px 50px 0 320px;}
#needServiceContent .content{padding-bottom:20px;padding-right:20px;}