.coverage-zip-table {
    max-height: 300px;
    overflow-y: auto;
}

.coverage-zip-table th {
    font-size: 12px;
    font-weight: bold;
}

.coverage-zip-table td {
    font-size: 11px;
    font-weight: normal;
    vertical-align: middle;
    border-top:0px;
}

.coverage-zip-table .right-border {
    border-right-width: 1px;
    border-right-color:  #DDDDDD;
}

.save-button-width {
    width: 200px;
}

.close-button {
    float: right;
    font-size: 20px;
}

.modal-popup-custom .footer-button {
  width: 129px;
  border-radius: 0px;
}

.modal-popup-custom .modal-footer {
  text-align: center;
}

.modal-popup-custom .form-control {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 0px;
  font-size: 12px;
  height: 25px;
}

.modal-popup-custom .btn-plus-minus {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 0px;
  font-size: 14px;
  height: 25px;
}

.modal-popup-custom .text-input {
  max-width: 268px;
  min-height: 100px;
}

.modal-popup-custom .form-group {
  margin-bottom: 5px;
}

.move-button-right {
    position: relative;
    left: 5px;
}
.move-button-left {
    position: relative;
    right: 5px;
}