body {
	font-family:Calibri,Helvetica,Arial,sans-serif;
	background:url('bg.png');
	background-repeat:repeat-x;
	background-position:top;
	background-color:#c1dcf5;
}

.wrapper {
	margin-left:auto;
	margin-right:auto;
	width:920px;
}

.content {
	padding:3em 2em;
	background-color:#fff;
	border:3px solid #d9d9d9;
	margin-bottom:2em;
}

h1 {
	margin-top:50px;
	margin-left:10px;
	font-size:2.0em;
	letter-spacing:-1px;
	color:#fff;
}

.directions {
	border:1px solid #bbb;
	background-color:#eee;
	margin-top:-2em;
	margin-left:-1em;
	margin-right:-1em;
	padding:.5em 1em;
}

.directions h1 {
	margin-top:0;
	margin-left:0;
	font-size:1.6em;
	letter-spacing:-0.5px;
	color:#555;
}

h2 {
	margin-top:1.5em;
	color:#08750a;
	letter-spacing:-.5px;
}

.checkboxes .title {
	margin-top:1.5em;
	margin-bottom:0.5em;
}

.checkboxes .title strong {
	margin-top:1.5em;
	color:#08750a;
	letter-spacing:-.5px;
	font-size:1.4em;
	padding-right:0.6em;
}

.checkboxes .title a.checkAllInList {
	color:#0368ff;
	text-decoration:none;
	font-style:italic;
	font-size:0.9em;
}

a:link, a:visited {
	color:#0372a1;
}

a:hover, a:active {
	color:#084c69;
}

.error {
	border:2px dashed #f76b97;
	background-color:#edc2d0;
}


table.transactions { border-collapse: collapse; border: 1px solid #839E99; 
background: #f1f8ee; color: #033; }
table.transactions td, th { padding: 3px 3px .75em 3px; line-height: 1.3em; }
table.transactions th { background: #839E99; color: #fff; font-weight: bold; text-align: left; padding-right: .5em; vertical-align: top; }
table.transactions thead th { background: #2C5755; text-align: center; }
table.transactions .odd td { background: #DBE6DD; }
table.transactions .odd th { background: #6E8D88; }
table.transactions td a, td a:link { color: #325C91; }
table.transactions td a:visited { color: #466C8E; }
table.transactions td a:hover, td a:focus { color: #1E4C94; }
table.transactions th a, td a:active { color: #fff; }
table.transactions tfoot th, tfoot td { background: #2C5755; color: #fff; }
table.transactions th + td { padding-left: .5em; }
table.transactions tbody td {padding:0 1em; }