.star {
  position: relative;
  display: inline-block;
  font-size: 1.5rem;
  color: #d3d3d3;
  padding-left: 1.3rem;
}

.full {
  color: #F8C248;
}

@media (max-width: 576px) {
  .star {
    font-size: 1.3rem;
  }
}
