.service-live-header {
    background: #FFFFFF;
}

.text-header {
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    vertical-align: middle;
    display: inline-block;
    font-size: 19px;
}