/* You can add global styles to this file, and also import other style files */
*:focus {
  outline: none;
}

body {
  color: #363636;
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  background-color: #BFC0BB;
}

h1 {
  font-size: 1.55rem;
}

h3 {
  font-size: 0.9rem;
  font-weight: bold;
  color: #545454;
  margin-top: 25px;
}

hr {
  border: 1px solid #07a3bc;
}


/** Survey Screens Styles **/
.inner-wrap {
  background-color: white;
  margin: 25px 0;
  padding: 20px;
  border: 2px solid #0077A1;
  border-top: 30px solid #0077A1;
  -webkit-box-shadow: 5px 5px 5px -2px rgba(175,176,170,1);
  -moz-box-shadow: 5px 5px 5px -2px rgba(175,176,170,1);
  box-shadow: 5px 5px 5px -2px rgba(175,176,170,1);
}

.outer-wrap {
  padding: 0 30px;
  font-size: 0.9em;
}

.outer-wrap a {
  color: #363636;
  text-decoration: underline;
}

.submit-btn {
  background-color: #EF9300;
  margin: 0 auto;
  display: block;
  font-size: 1.1em;
  width: 7rem;
  height: 2em;
  border: none;
  outline: none;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(157,158,150,1);
  -moz-box-shadow: 2px 2px 5px 0px rgba(157,158,150,1);
  box-shadow: 2px 2px 5px 0px rgba(157,158,150,1);
  cursor: pointer;
}

.close-link {
  font-size: 0.9rem;
  text-align: center;
}

.hints {
  color: #a5a5a5;
  font-size: 0.9em;
  margin: 5px 0;
  text-align: right;
  width: 100%;
}
/* .alert {
  position: fixed;
  z-index: 9999;
  opacity: 0.8;
} */
