<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>ServiceLive : SPN Auditor : Re-Applicants</title>
	<!-- tiles:insertDefinition name="blueprint.base.meta"/ -->
	<link rel="shortcut icon" href="../../images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="../../styles/screen.css" media="screen, projection">
	<link rel="stylesheet" type="text/css" href="../../styles/plugins/superfish.css" media="screen, projection">
	<script type="text/javascript" src="../../scripts/jquery-1.2.6.min.js"></script>
	<script type="text/javascript" src="../../scripts/plugins/jquery.flash.min.js"></script>
	<script type="text/javascript" src="../../scripts/plugins/jquery.sifr.min.js"></script>
	<script type="text/javascript" src="../../scripts/plugins/superfish.js"></script>
	<script type="text/javascript" src="../../scripts/plugins/supersubs.js"></script>
	<script type="text/javascript" src="../../scripts/plugins/jquery.hoverIntent.minified.js"></script>
	<script type="text/javascript" src="../../scripts/plugins/jquery.bgiframe.pack.js"></script>
	<script type="text/javascript" src="../../scripts/toolbox.js"></script>
	<!-- end blueprint base include -->
	
	<link rel="stylesheet" type="text/css" href="../../styles/plugins/spn-auditor.css" media="screen, projection">
	<script type="text/javascript" src="../../scripts/plugins/ui.core.js"></script>
	<script type="text/javascript" src="../../scripts/plugins/ui.tabs.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {

		});
	</script>
</head>
<body id="select-provider-network">
	<div id="wrap" class="container">

		<!-- tiles:insertDefinition name="blueprint.base.header"/ -->
			<div id="header" class="span-24 clearfix">
				<div id="title" class="span-6 first">
					<h1><a href="#" title="ServiceLive">ServiceLive</a></h1>
				</div>	
				<div id="utilities" class="span-18 last">
					<p class="textright">Welcome back, Mr. President</p>
					<ul class="right landscape">
						<li><a title="Community Forums" href="#" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;">Community</a></li>
						<li><a title="Support" href="#">Support</a></li>
						<li><a title="Contact ServiceLive" href="#">Contact Us</a></li>
							<li><a title="Logout of your Account" href="#">Logout</a></li>
				</div>	
			</div>
		<!-- end header tile -->

		<!-- tiles:insertDefinition name="blueprint.base.navigation"/ -->
			<div id="navigation" class="span-24 clearfix">
			</div>
		<!-- end navigation tile -->

		<div id="content" class="span-24 clearfix">

			<div id="primary" class="span-24 first last">
				<div class="content">
					<ul class="ui-tabs-nav">
						<li><a href="#">New Applicants<small style="font-weight: normal; margin-left: 10px">(13/14)</small></a></li>
						<li class="ui-tabs-selected"><a href="#"><a href="#">Re-Applicants <small style="font-weight: normal; margin-left: 10px">(13/14)</small></a></a></li>
						<li><a href="#">Search</a></li>
					</ul>
				</div>
			</div>
		</div>

		<!-- tiles:insertDefinition name="blueprint.base.footer"/ -->
			<div id="footer" class="span-24 clearfix">
				<ul class="landscape">
					<li><a href="#">About Us</a> </li>
					<li><a href="#">Terms of Use</a> </li>
					<li><a ref="https://transformco.com/privacy" target="_blank">Privacy Policy</a> </li>
					<li><a href="#">Provider Agreement</a> </li>
					<li><a href="#">Buyer Agreement</a></li>
				</ul>
				
				<p class="copyright">
					&copy; 2019 Transform ServiceLive LLC. | v 3.0
				</p>
			
				<p class="blackout">
					<strong>During our BETA launch, we are not available for buyers in the following states: </strong> State 1, State 2, State 3		
				</p>
			</div>			
		<!-- end blueprint footer include -->

	</div>
	<!-- jsp:include page="/jsp/public/common/omitInclude.jsp" flush="true" -->
		<!-- jsp:param name="PageName" value="spn:provider invitation"/ -->
	<!-- /jsp:include -->
</body>
</html>


